Repository maxflex/ec: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

.gitlab-ci.yml:

stages:
  - build
  - deploy

variables:
  BRANCH: main
  REMOTE_ADDRESS: 104.248.88.1
  DEPLOY_DIR: /var/www/ec

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == $BRANCH

before_script:
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H $REMOTE_ADDRESS >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts


### 🏗 BUILD CRM (Nuxt 3) ###
build_crm:
  stage: build
  image: oven/bun:latest  # ✅ Use Bun's official image
  only:
    changes:
      - crm/**/*
  before_script:
    - cd crm
    - bun install
  script:
    - bun run build
  artifacts:
    paths:
      - crm/.output/


### 🚀 DEPLOY CRM ###
deploy_crm:
  stage: deploy
  only:
    changes:
      - crm/**/*
  needs:
    - build_crm  # ✅ Ensure build finishes before deploying
  before_script:
    - apt-get update -y
    - apt-get -y install rsync
    - mkdir -p ~/.ssh
    - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - rsync -a --delete crm/.output root@$REMOTE_ADDRESS:$DEPLOY_DIR/crm
    - ssh root@$REMOTE_ADDRESS "cd $DEPLOY_DIR/crm && /root/.nvm/versions/node/v20.11.1/bin/pm2 start ecosystem.config.js"

### 🏗 BUILD MOB (Nuxt 3) ###
build_mob:
  stage: build
  image: oven/bun:latest  # ✅ Use Bun's official image
  only:
    changes:
      - mob/**/*
  before_script:
    - cd mob
    # - cp -r ../crm/utils ./utils
    - bun install
  script:
    - bun run build
  artifacts:
    paths:
      - mob/.output/


### 🚀 DEPLOY MOB ###
deploy_mob:
  stage: deploy
  only:
    changes:
      - mob/**/*
  needs:
    - build_mob  # ✅ Ensure build finishes before deploying
  before_script:
    - apt-get update -y
    - apt-get -y install rsync
    - mkdir -p ~/.ssh
    - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - rsync -a --delete mob/.output root@$REMOTE_ADDRESS:$DEPLOY_DIR/mob
    - ssh root@$REMOTE_ADDRESS "cd $DEPLOY_DIR/mob && /root/.nvm/versions/node/v20.11.1/bin/pm2 start ecosystem.config.js"


### 🚀 DEPLOY BACKEND (Laravel) ###
deploy_backend:
  stage: deploy
  only:
    changes:
      - back/**/*
  script:
    - ssh root@$REMOTE_ADDRESS "cd $DEPLOY_DIR/back && git pull origin $BRANCH && composer install --no-dev --optimize-autoloader && php artisan config:cache && php artisan route:cache && php artisan view:cache && php artisan migrate --force && php artisan horizon:terminate"

AlfaController almost real
  back/app/Http/Controllers/Pub/AlfaController.php
  back/app/Http/Controllers/Pub/SbpController.php
  back/app/Models/ContractPayment.php
  back/database/migrations/2025_11_20_180215_rename_sbp_id_to_external_id.php
Due: deploy_backend

Update EventParticipantResource.php
  back/app/Http/Resources/EventParticipantResource.php
Due: deploy_backend

Grades upd
  back/app/Enums/Quarter.php
  back/app/Http/Controllers/Client/GradeController.php
  back/app/Http/Controllers/Representative/GradeController.php
  back/app/Http/Resources/QuartersGradesSimpleResource.php
  back/routes/client.php
  back/routes/representative.php
  crm/components/Grade/Show.vue
  crm/components/Ui/ContentBlocks.vue
Due: build_crm, deploy_crm, deploy_backend

Update Show.vue
  crm/components/Grade/Show.vue
Due: build_crm, deploy_crm

Once C
  back/app/Models/Client.php
  back/app/Models/Contract.php
  back/app/Models/ContractPayment.php
  back/app/Observers/ContractPaymentObserver.php
  back/app/Utils/OneC.php
  back/config/onec.php
  back/database/migrations/2025_11_26_140715_add1c_id_to_payments.php
  crm/components/ContractPayment/Dialog.vue
  crm/components/ContractPayment/index.ts
Due: build_crm, deploy_crm, deploy_backend

Once C
  back/app/Models/Client.php
  back/app/Models/Contract.php
  back/app/Models/ContractPayment.php
  back/app/Observers/ContractPaymentObserver.php
  back/app/Utils/AllPayments.php
  back/app/Utils/OneC.php
  back/config/onec.php
  back/database/migrations/2025_11_26_140715_add1c_id_to_payments.php
  crm/components/ContractPayment/Dialog.vue
  crm/components/ContractPayment/index.ts
  crm/components/OtherPayment/Dialog.vue
  crm/components/OtherPayment/index.ts
  crm/pages/admin/all-payments.vue
Due: build_crm, deploy_crm, deploy_backend

Update OneC.php
  back/app/Utils/OneC.php
Due: deploy_backend

UiClear
  crm/assets/scss/styles.scss
  crm/components/Log/Filters.vue
  crm/components/Teacher/Filters.vue
  crm/components/Ui/Clear.vue
Due: build_crm, deploy_crm

Alfa payments in cache
  back/app/Enums/Company.php
  back/app/Http/Controllers/Pub/AlfaController.php
  back/app/Http/Controllers/Pub/SbpController.php
Due: deploy_backend

Alfa Payments
  back/app/Http/Controllers/Admin/AlfaPaymentController.php
  back/app/Http/Controllers/Admin/ContractPaymentController.php
  back/app/Http/Controllers/Admin/MenuCountsController.php
  back/app/Http/Controllers/BillPaymentController.php
  back/app/Http/Controllers/Pub/AlfaController.php
  back/app/Http/Resources/AlfaPaymentResource.php
  back/app/Utils/AlfaPayment.php
  back/routes/admin.php
  crm/components/AlfaPayment/List.vue
  crm/components/AlfaPayment/index.ts
  crm/components/ContractPayment/Dialog.vue
  crm/components/ContractPayment/index.ts
  crm/components/Menu/AdminMenu.vue
  crm/components/Menu/ClientMenu.vue
  crm/components/Menu/Item.vue
  crm/components/Menu/List.vue
  crm/components/Menu/TeacherMenu.vue
  crm/components/Menu/index.ts
  crm/pages/admin/alfa-payments.vue
  crm/utils/index.ts
  crm/utils/types.d.ts
Due: build_crm, deploy_crm, deploy_backend

AllPayments company filter
  back/app/Utils/AlfaPayment.php
  crm/components/AlfaPayment/List.vue
  crm/pages/admin/alfa-payments.vue
Due: build_crm, deploy_crm, deploy_backend

Update List.vue
  crm/components/Grade/List.vue
Due: build_crm, deploy_crm

Update Dialog.vue
  crm/components/ContractPayment/Dialog.vue
Due: build_crm, deploy_crm

Alfa regex upd
  back/app/Utils/AlfaPayment.php
Due: deploy_backend

Update login.vue
  crm/layouts/login.vue
Due: build_crm, deploy_crm

Update login.vue
  crm/pages/login.vue
Due: build_crm, deploy_crm

Contract is_realized
  back/app/Http/Controllers/Admin/ContractVersionController.php
  back/app/Http/Resources/ContractVersionListResource.php
  back/app/Http/Resources/ContractVersionResource.php
  back/app/Models/Contract.php
  back/app/Utils/AlfaPayment.php
  back/database/migrations/2025_12_10_143535_add_is_realized_to_contracts.php
  crm/components/ContractVersion/Dialog.vue
  crm/components/ContractVersion/Filters.vue
  crm/components/ContractVersion/Item.vue
  crm/components/ContractVersion/index.ts
  crm/components/Ui/Circle.vue
  crm/pages/admin/clients/active.vue
  crm/pages/admin/contracts.vue
Due: build_crm, deploy_crm, deploy_backend

Contract dialog
  back/app/Http/Controllers/Admin/ContractVersionController.php
  crm/components/Contract/Dialog.vue
  crm/components/Contract/Tab.vue
  crm/components/ContractVersion/Dialog.vue
  crm/components/ContractVersion/index.ts
Due: build_crm, deploy_crm, deploy_backend

AI Improve upd
  back/app/Utils/ChatGPT.php
  crm/assets/scss/styles.scss
  crm/bun.lock
  crm/components/Contract/Dialog.vue
  crm/components/Report/Dialog.vue
  crm/components/Report/index.ts
  crm/components/Ui/BottomBar.vue
  crm/package.json
Due: build_crm, deploy_crm, deploy_backend

Report AI upd
  back/app/Http/Controllers/Admin/ReportController.php
  back/routes/admin.php
  crm/components/Report/Dialog.vue
Due: build_crm, deploy_crm, deploy_backend

Report AI upd
  back/app/Utils/ChatGPT.php
  crm/components/Report/Dialog.vue
Due: build_crm, deploy_crm, deploy_backend

AI instruction upd
  back/app/Utils/ChatGPT.php
Due: deploy_backend

AI Instructions upd
  back/app/Utils/ChatGPT.php
Due: deploy_backend

LogMetric
  back/app/Utils/ChatGPT.php
  back/app/Utils/Stats/Metrics/LogMetric.php
  crm/components/Log/Filters.vue
  crm/components/Log/index.ts
  crm/components/Stats/Metrics/LogMetric.vue
  crm/components/Stats/Metrics/index.ts
Due: build_crm, deploy_crm, deploy_backend

LogMetric fix
  back/app/Http/Controllers/Controller.php
  back/app/Utils/Stats/Metrics/LogMetric.php
  back/database/migrations/2025_12_12_142019_add_indexes_to_logs.php
Due: deploy_backend

TelegramList speed-up
  back/app/Http/Controllers/Admin/TelegramListController.php
  back/app/Http/Resources/TelegramListResource.php
  back/app/Models/TelegramList.php
  back/routes/admin.php
  crm/components/Log/Filters.vue
  crm/components/Teacher/Filters.vue
  crm/components/TelegramList/List.vue
  crm/components/TelegramMessage/Form.vue
  crm/components/TelegramMessage/Preview.vue
  crm/components/Ui/UnderInput.vue
  crm/pages/admin/group-message/send.vue
  crm/pages/admin/telegram-lists/[id].vue
  crm/pages/admin/telegram-lists/index.vue
Due: build_crm, deploy_crm, deploy_backend

Alfa Payments removed
  back/app/Http/Controllers/Admin/AlfaPaymentController.php
  back/app/Http/Controllers/Pub/AlfaController.php
  back/app/Http/Resources/AlfaPaymentResource.php
  back/app/Utils/AlfaPayment.php
  back/routes/admin.php
  back/routes/pub.php
  crm/components/AlfaPayment/List.vue
  crm/components/AlfaPayment/index.ts
  crm/components/ContractPayment/Dialog.vue
  crm/pages/admin/alfa-payments.vue
Due: build_crm, deploy_crm, deploy_backend

Alfa payments remove 2
  back/app/Http/Controllers/Admin/ContractPaymentController.php
  back/app/Http/Controllers/Admin/MenuCountsController.php
Due: deploy_backend

Update AdminMenu.vue
  crm/components/Menu/AdminMenu.vue
Due: build_crm, deploy_crm

Receipt
  back/app/Enums/Company.php
  back/app/Http/Controllers/Admin/PhoneController.php
  back/app/Http/Resources/ContractPaymentResource.php
  back/app/Models/ContractPayment.php
  back/app/Observers/ContractPaymentObserver.php
  back/app/Utils/AllPayments.php
  back/app/Utils/Receipt.php
  back/config/receipt.php
  back/database/migrations/2025_12_15_141007_add_receipt_sent_to_to_contract_payments.php
  back/routes/admin.php
  crm/components/ContractPayment/Dialog.vue
  crm/components/ContractPayment/Icons.vue
  crm/components/ContractPayment/ReceiptPhoneSelector.vue
  crm/components/ContractPayment/index.ts
  crm/components/OtherPayment/index.ts
  crm/pages/admin/all-payments.vue
Due: build_crm, deploy_crm, deploy_backend

Update Receipt.php
  back/app/Utils/Receipt.php
Due: deploy_backend

Update Quarter.php
  back/app/Enums/Quarter.php
Due: deploy_backend

SBP select phone
  back/app/Http/Controllers/Pub/SbpController.php
  back/routes/client.php
  back/routes/representative.php
  mob/components/Billing/Sbp.vue
  mob/utils/index.ts
Due: build_mob, deploy_mob, deploy_backend

Add year
  crm/utils/labels.ts
  mob/utils/labels.ts
Due: build_crm, deploy_crm, build_mob, deploy_mob

ContractPaymentObserver upd
  back/app/Observers/ContractPaymentObserver.php
  back/app/Utils/Receipt.php
  crm/components/Client/Dialog.vue
Due: build_crm, deploy_crm, deploy_backend

Update ReportController.php
  back/app/Http/Controllers/Admin/ReportController.php
Due: deploy_backend

Update Tabs.vue
  crm/components/Report/Tabs.vue
Due: build_crm, deploy_crm
