Repository maxflex/ec: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, deploy_frontend, deploy_backend

.gitlab-ci.yml:

stages:
  - build
  - deploy

variables:
  NODE_ENV: "production"
  BUN_INSTALL: "true"
  BRANCH: main
  REMOTE_ADDRESS: root@104.248.88.1
  DEPLOY_DIR: /var/www/ec


workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == $BRANCH

before_script:
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H $REMOTE_ADDRESS >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts

### 🏗 BUILD FRONTEND (Nuxt 3) ###
build_frontend:
  stage: build
  image: oven/bun:latest  # ✅ Use Bun's official image
  only:
    changes:
      - crm/**/*
  before_script:
    - cd crm
    - bun install
  script:
    - bun run build
  artifacts:
    paths:
      - crm/.output/

### 🚀 DEPLOY FRONTEND ###
deploy_frontend:
  stage: deploy
  only:
    changes:
      - crm/**/*
  needs:
    - build_frontend  # ✅ Ensure build finishes before deploying
  before_script:
    - apt-get update -y
    - apt-get -y install rsync
    - mkdir -p ~/.ssh
    - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - rsync -a crm/.output $REMOTE_ADDRESS:$DEPLOY_DIR/crm
    - ssh $REMOTE_ADDRESS "cd $DEPLOY_DIR/crm && pm2 restart ecosystem.config.js || pm2 start ecosystem.config.js"

### 🚀 DEPLOY BACKEND (Laravel) ###
deploy_backend:
  stage: deploy
  only:
    changes:
      - back/**/*
  script:
    - |
      ssh $REMOTE_ADDRESS << 'EOF'
      cd $DEPLOY_DIR/back
      git pull origin $BRANCH
      composer install --no-dev --optimize-autoloader
      php artisan config:cache
      php artisan route:cache
      php artisan view:cache
      php artisan migrate --force
      EOF

Swamp editor upd
  back/app/Models/ScheduleDraft.php
  crm/components/ContractVersion/Dialog.vue
  crm/components/Program/SelectorMenu.vue
  crm/components/ScheduleDraft/Editor.vue
  crm/components/ScheduleDraft/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

Schedule Draft v2
  back/app/Http/Controllers/Admin/ContractController.php
  back/app/Http/Controllers/Admin/ScheduleDraftController.php
  back/app/Http/Resources/SavedScheduleDraftResource.php
  back/app/Models/ScheduleDraft.php
  back/app/Observers/PhoneObserver.php
  back/database/migrations/2025_07_19_004851_rename_data_to_programs_in_schedule_drafts.php
  back/routes/admin.php
  crm/components/Client/GroupsTab.vue
  crm/components/Contract/Tab.vue
  crm/components/ContractVersion/Dialog.vue
  crm/components/ScheduleDraft/ApplySummaryDialog.vue
  crm/components/ScheduleDraft/Editor.vue
  crm/components/ScheduleDraft/Icon.vue
  crm/components/ScheduleDraft/List.vue
  crm/components/ScheduleDraft/index.ts
  crm/components/Ui/Loader.vue
  crm/composables/useHttp.ts
  crm/utils/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

[WIP] ScheduleDrafts
  back/app/Http/Controllers/Admin/ScheduleDraftController.php
  back/app/Models/ScheduleDraft.php
  back/routes/admin.php
  crm/assets/scss/styles.scss
  crm/components/Client/GroupsTab.vue
  crm/components/ScheduleDraft/Editor.vue
  crm/components/ScheduleDraft/GroupList.vue
  crm/components/ScheduleDraft/index.ts
  crm/pages/admin/schedule-drafts/editor.vue
Due: build_frontend, deploy_frontend, deploy_backend

[WIP] Schedule draft
  back/app/Http/Controllers/Admin/ScheduleDraftController.php
  back/app/Http/Resources/ContractVersionProgramResource.php
  back/app/Http/Resources/SavedScheduleDraftResource.php
  back/app/Models/ContractVersionProgram.php
  back/app/Models/Error.php
  back/app/Models/Group.php
  back/app/Models/ScheduleDraft.php
  back/database/migrations/2025_07_23_102849_add_year_to_schedule_drafts.php
  back/routes/admin.php
  crm/components/ContractVersion/Dialog.vue
  crm/components/Menu/AdminMenu.vue
  crm/components/ScheduleDraft/Editor.vue
  crm/components/ScheduleDraft/GroupList.vue
  crm/components/ScheduleDraft/List.vue
  crm/components/ScheduleDraft/index.ts
  crm/pages/admin/schedule-drafts/[id].vue
  crm/pages/admin/schedule-drafts/editor.vue
  crm/pages/admin/schedule-drafts/index.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

ScheduleDraft: moving works
  back/app/Http/Controllers/Admin/ContractVersionController.php
  back/app/Models/ScheduleDraft.php
  crm/components/ContractVersion/Dialog.vue
  crm/components/ScheduleDraft/Editor.vue
  crm/components/ScheduleDraft/GroupList.vue
  crm/components/ScheduleDraft/Icon.vue
  crm/components/ScheduleDraft/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

ScheduleDraft upd v3
  back/app/Http/Controllers/Admin/ScheduleDraftController.php
  back/app/Models/ScheduleDraft.php
  back/database/migrations/2025_07_24_135038_drop_contract_id_from_schedule_drafts.php
  back/routes/admin.php
  crm/assets/scss/styles.scss
  crm/components/ContractVersion/Dialog.vue
  crm/components/ScheduleDraft/Editor.vue
  crm/components/ScheduleDraft/GroupList.vue
  crm/components/ScheduleDraft/Icon.vue
  crm/components/ScheduleDraft/List.vue
  crm/components/ScheduleDraft/Problems.vue
  crm/components/ScheduleDraft/index.ts
  crm/components/Swamp/Counts.vue
  crm/components/Swamp/List.vue
  crm/pages/admin/schedule-drafts/[id].vue
  crm/pages/admin/schedule-drafts/editor.vue
  crm/pages/admin/schedule-drafts/index.vue
  crm/plugins/vuetify.ts
Due: build_frontend, deploy_frontend, deploy_backend

[wip] Schedule drafts
  back/app/Http/Controllers/Admin/ContractVersionController.php
  back/app/Http/Controllers/Admin/ScheduleDraftController.php
  back/app/Http/Resources/SavedScheduleDraftResource.php
  back/app/Models/ScheduleDraft.php
  back/database/migrations/2025_07_28_165816_add_contract_id_to_schedule_drafts.php
  back/routes/admin.php
  crm/assets/scss/styles.scss
  crm/components/Contract/Tab.vue
  crm/components/ContractVersion/Dialog.vue
  crm/components/ScheduleDraft/Editor.vue
  crm/components/ScheduleDraft/GroupList.vue
  crm/components/ScheduleDraft/List.vue
  crm/components/ScheduleDraft/Problems.vue
  crm/components/ScheduleDraft/index.ts
  crm/components/Swamp/List.vue
Due: build_frontend, deploy_frontend, deploy_backend

[wip] Schedule drafts
  back/app/Http/Controllers/Admin/ScheduleDraftController.php
  back/app/Http/Resources/ContractVersionListResource.php
  back/app/Http/Resources/SavedScheduleDraftResource.php
  back/app/Models/ScheduleDraft.php
  back/database/migrations/2025_07_28_165817_add_year_to_schedule_drafts.php
  crm/components/Contract/Tab.vue
  crm/components/ScheduleDraft/Editor.vue
  crm/components/ScheduleDraft/List.vue
  crm/components/ScheduleDraft/index.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

[wip] Create contract
  crm/components/Contract/Tab.vue
  crm/components/ContractVersion/Dialog.vue
  crm/components/ScheduleDraft/Editor.vue
Due: build_frontend, deploy_frontend

[wip] Schedule drafts
  back/app/Http/Controllers/Admin/ScheduleDraftController.php
  back/app/Models/ScheduleDraft.php
  crm/components/Contract/Tab.vue
  crm/components/ContractVersion/Dialog.vue
  crm/components/ScheduleDraft/Editor.vue
Due: build_frontend, deploy_frontend, deploy_backend

[WIP] Schedule Contract
  back/app/Http/Controllers/Admin/ContractController.php
  back/app/Http/Controllers/Admin/ScheduleDraftController.php
  back/app/Http/Controllers/Admin/SwampController.php
  back/app/Http/Resources/SavedScheduleDraftResource.php
  back/app/Models/ScheduleDraft.php
  back/routes/admin.php
  crm/components/Contract/Tab.vue
  crm/components/ContractVersion/Dialog.vue
  crm/components/ContractVersion/Directions.vue
  crm/components/ContractVersion/index.ts
  crm/components/Group/StudentsTab.vue
  crm/components/ScheduleDraft/Editor.vue
  crm/components/ScheduleDraft/List.vue
  crm/components/ScheduleDraft/index.ts
  crm/components/Swamp/List.vue
  crm/components/Swamp/Selector.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Schedule Drafts v1 finished
  back/app/Http/Controllers/Admin/ClientGroupController.php
  back/app/Http/Controllers/Admin/ScheduleDraftController.php
  back/app/Http/Resources/SwampListResource.php
  crm/components/Client/GroupsTab.vue
  crm/components/ContractVersion/Dialog.vue
  crm/components/ContractVersion/ListAll.vue
  crm/components/Group/Selector.vue
  crm/components/Group/StudentsTab.vue
  crm/components/ScheduleDraft/Editor.vue
  crm/components/Swamp/List.vue
  crm/components/Swamp/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

Schedule drafts clean-up
  back/app/Http/Controllers/Admin/ScheduleDraftController.php
  back/routes/admin.php
  crm/components/ContractVersion/Dialog.vue
Due: build_frontend, deploy_frontend, deploy_backend

[wip] Schedule Drafts
  back/app/Http/Controllers/Admin/ContractController.php
  back/app/Models/Contract.php
  back/app/Models/ScheduleDraft.php
  crm/components/Contract/Tab.vue
  crm/components/Group/StudentsTab.vue
  crm/components/Program/SelectorNested.vue
  crm/components/ScheduleDraft/Editor.vue
  crm/components/Swamp/ListSelector.vue
  crm/components/Swamp/Selector.vue
Due: build_frontend, deploy_frontend, deploy_backend

Schedule drafts
  back/app/Http/Controllers/Admin/ContractController.php
  back/app/Http/Controllers/Admin/ScheduleDraftController.php
  back/app/Http/Controllers/Admin/SwampController.php
  back/app/Http/Resources/ClientGroupResource.php
  back/app/Http/Resources/ContractVersionResource.php
  back/app/Models/Contract.php
  back/app/Models/ScheduleDraft.php
  back/routes/admin.php
  crm/assets/scss/styles.scss
  crm/components/Contract/EditSourceDialog.vue
  crm/components/Contract/Tab.vue
  crm/components/ContractVersion/Dialog.vue
  crm/components/ContractVersion/index.ts
  crm/components/ScheduleDraft/ApplySummaryDialog.vue
  crm/components/ScheduleDraft/Editor.vue
  crm/components/ScheduleDraft/Problems.vue
  crm/components/ScheduleDraft/index.ts
  crm/components/Swamp/ListSelector.vue
  crm/components/Swamp/Selector.vue
  crm/pages/admin/clients/[id].vue
Due: build_frontend, deploy_frontend, deploy_backend

Update Filters.vue
  crm/components/Request/Filters.vue
Due: build_frontend, deploy_frontend

QR Code fix
  crm/pages/client/billing.vue
Due: build_frontend, deploy_frontend

Filter user
  back/app/Http/Controllers/LogController.php
  crm/components/Log/Filters.vue
  crm/components/User/Selector.vue
  crm/utils/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

Add to group upd
  back/app/Http/Controllers/Admin/SwampController.php
  crm/components/ScheduleDraft/Problems.vue
  crm/components/ScheduleDraft/index.ts
  crm/components/Swamp/Selector.vue
  crm/pages/admin/vacations.vue
Due: build_frontend, deploy_frontend, deploy_backend

Last seen client fix
  back/app/Console/Commands/Once/ClientLessonCountsCommand.php
  back/app/Console/Commands/Once/RequestCommentsCommand.php
  back/app/Models/Client.php
  back/app/Utils/helpers.php
Due: deploy_backend

Saved schedule
  back/app/Console/Commands/TestyTestCommand.php
  back/app/Console/Commands/UpdateScheduleCommand.php
  back/app/Contracts/HasSchedule.php
  back/app/Http/Controllers/Admin/LessonController.php
  back/app/Http/Controllers/Admin/ScheduleDraftController.php
  back/app/Http/Controllers/Admin/SwampController.php
  back/app/Http/Controllers/Client/LessonController.php
  back/app/Http/Controllers/TeethController.php
  back/app/Http/Resources/ClientGroupResource.php
  back/app/Http/Resources/GroupListResource.php
  back/app/Http/Resources/GroupResource.php
  back/app/Models/Client.php
  back/app/Models/Group.php
  back/app/Models/Lesson.php
  back/app/Models/ScheduleDraft.php
  back/app/Models/Teacher.php
  back/app/Observers/ClientGroupObserver.php
  back/app/Observers/ClientLessonObserver.php
  back/app/Observers/LessonObserver.php
  back/database/migrations/2025_08_06_095518_add_schedule_to_clients_and_others.php
  crm/components/ScheduleDraft/index.ts
  crm/components/Swamp/Selector.vue
Due: build_frontend, deploy_frontend, deploy_backend

Schedule further upd
  back/app/Http/Controllers/Admin/SwampController.php
  back/app/Models/Group.php
  crm/components/Group/StudentsTab.vue
  crm/components/Lesson/BulkCreateDialog.vue
  crm/components/Swamp/Selector.vue
  crm/components/Teeth/AsText.vue
  crm/components/Teeth/Bar.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Split prices
  back/app/Models/ContractVersionProgram.php
  crm/components/ContractVersion/Dialog.vue
Due: build_frontend, deploy_frontend, deploy_backend

Cabinets upd
  back/app/Console/Commands/Once/UpdateEnumsCommand.php
  back/app/Enums/Cabinet.php
  back/app/Http/Controllers/Admin/CabinetController.php
  back/app/Http/Resources/GroupListResource.php
  back/app/Http/Resources/GroupResource.php
  back/app/Models/Group.php
  back/app/Models/ScheduleDraft.php
  crm/assets/scss/styles.scss
  crm/bun.lock
  crm/components/Cabinet/Selector.vue
  crm/components/Cabinet/index.ts
  crm/components/Group/List.vue
  crm/components/Group/Panel.vue
  crm/components/Lesson/BulkCreateDialog.vue
  crm/components/Lesson/BulkUpdateDialog.vue
  crm/components/Lesson/Item/AdminClient.vue
  crm/components/Lesson/Item/AdminGroup.vue
  crm/components/Lesson/Item/AdminTeacher.vue
  crm/components/Lesson/Item/ClientLK.vue
  crm/components/Lesson/Item/HeadTeacherLK.vue
  crm/components/Lesson/Item/TeacherLK.vue
  crm/components/ScheduleDraft/GroupList.vue
  crm/components/Teeth/Bar.vue
  crm/components/Ui/ClearableSelect.vue
  crm/package.json
  crm/pages/admin/cabinets.vue
  crm/pages/admin/groups/[id].vue
  crm/pages/teacher/groups/[id].vue
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

SwampStatus => CvpStatus
  back/app/Console/Commands/UpdateCvpStatusesCommand.php
  back/app/Console/Commands/UpdateEnumsCommand.php
  back/app/Enums/CvpStatus.php
  back/app/Enums/SwampStatus.php
  back/app/Http/Controllers/Admin/SwampController.php
  back/app/Http/Resources/PeopleSelectorResource.php
  back/app/Models/Client.php
  back/app/Models/ContractVersionProgram.php
  back/app/Observers/ClientGroupObserver.php
  back/app/Observers/ClientLessonObserver.php
  back/app/Observers/ContractVersionProgramObserver.php
  back/database/migrations/2025_05_26_111814_add_status_to_contract_version_programs.php
  crm/components/ScheduleDraft/Editor.vue
  crm/components/ScheduleDraft/index.ts
  crm/components/Swamp/Counts.vue
  crm/components/Swamp/List.vue
  crm/components/Swamp/Selector.vue
  crm/components/Swamp/index.ts
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Extra comments
  back/app/Http/Controllers/Admin/CommentController.php
  back/app/Http/Controllers/Admin/ControlController.php
  back/app/Models/Comment.php
  back/database/migrations/2025_08_07_140647_add_extra_to_comments.php
  crm/components/Comment/Btn.vue
  crm/components/Comment/Dialog.vue
  crm/components/Control/LkList.vue
  crm/pages/admin/control/lessons.vue
Due: build_frontend, deploy_frontend, deploy_backend

Beautify
  crm/pages/admin/control/lessons.vue
Due: build_frontend, deploy_frontend

Control LK speed-up
  back/app/Http/Controllers/Admin/ControlController.php
  back/app/Http/Resources/ControlLkResource.php
  back/app/Models/Client.php
  back/app/Models/ClientParent.php
Due: deploy_backend

Cabinets upd
  back/app/Console/Commands/UpdateEnumsCommand.php
  back/app/Enums/Cabinet.php
  back/app/Http/Controllers/Admin/ClientGroupController.php
  back/app/Models/ScheduleDraft.php
  crm/assets/scss/overwrites.scss
  crm/components/Cabinet/Selector.vue
  crm/components/Cabinet/index.ts
  crm/components/Client/GroupsTab.vue
  crm/components/Group/List.vue
  crm/components/Group/StudentsTab.vue
  crm/components/Lesson/BulkUpdateDialog.vue
  crm/components/ScheduleDraft/Editor.vue
  crm/components/ScheduleDraft/GroupList.vue
  crm/components/ScheduleDraft/Problems.vue
  crm/components/Swamp/List.vue
  crm/components/Swamp/Selector.vue
  crm/pages/admin/groups/[id].vue
  crm/plugins/vuetify.ts
Due: build_frontend, deploy_frontend, deploy_backend

ScheduleDraft futher fixes
  back/app/Http/Controllers/Admin/ClientsBrowseController.php
  back/app/Http/Controllers/Admin/SwampController.php
  back/app/Http/Resources/ClientResource.php
  back/app/Models/ScheduleDraft.php
  crm/assets/scss/overwrites.scss
  crm/components/Client/index.ts
  crm/components/ContractVersion/ProgramStatus.vue
  crm/components/Group/StudentsTab.vue
  crm/components/Group/Swamp.vue
  crm/components/Program/Selector.vue
  crm/components/ScheduleDraft/Editor.vue
  crm/components/ScheduleDraft/GroupList.vue
  crm/components/ScheduleDraft/index.ts
  crm/components/Swamp/AddToGroup/List.vue
  crm/components/Swamp/AddToGroup/Problems.vue
  crm/components/Swamp/AddToGroup/index.ts
  crm/components/Swamp/Counts.vue
  crm/components/Swamp/List.vue
  crm/components/Swamp/index.ts
  crm/pages/admin/clients/[id].vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Capacity removed, Cabinets array added
  back/app/Http/Controllers/Admin/SwampController.php
  back/app/Http/Resources/GroupListResource.php
  back/app/Http/Resources/GroupResource.php
  back/app/Models/Group.php
  back/app/Models/ScheduleDraft.php
  crm/components/Cabinet/AsText.vue
  crm/components/Group/List.vue
  crm/components/Lesson/Item/AdminClient.vue
  crm/components/Lesson/Item/AdminGroup.vue
  crm/components/Lesson/Item/AdminTeacher.vue
  crm/components/Menu/ClientMenu.vue
  crm/components/ScheduleDraft/GroupList.vue
  crm/components/ScheduleDraft/Problems.vue
  crm/components/Swamp/AddToGroup/List.vue
  crm/components/Swamp/AddToGroup/Problems.vue
  crm/components/Swamp/List.vue
  crm/pages/admin/groups/[id].vue
  crm/utils/types.d.ts
  mob/components/App/Header/menu.ts
Due: build_frontend, deploy_frontend, deploy_backend

Schedule drafts: finished
  back/app/Http/Controllers/Admin/ContractController.php
  back/app/Http/Controllers/Admin/ContractVersionController.php
  back/app/Http/Requests/ContractRequest.php
  back/app/Models/ScheduleDraft.php
  back/lang/ru/auth.php
  back/lang/ru/pagination.php
  back/lang/ru/passwords.php
  back/lang/ru/validation.php
  crm/components/Cabinet/AsText.vue
  crm/components/Cabinet/WithCapacity.vue
  crm/components/Contract/Tab.vue
  crm/components/ContractVersion/Dialog.vue
  crm/components/Group/List.vue
  crm/components/Lesson/Item/AdminClient.vue
  crm/components/Lesson/Item/AdminGroup.vue
  crm/components/Lesson/Item/AdminTeacher.vue
  crm/components/ScheduleDraft/Editor.vue
  crm/components/ScheduleDraft/GroupList.vue
  crm/components/ScheduleDraft/Problems.vue
  crm/components/Swamp/List.vue
  crm/pages/admin/clients/[id].vue
  crm/pages/admin/groups/[id].vue
  crm/pages/admin/schedule-drafts/index.vue
Due: build_frontend, deploy_frontend, deploy_backend

Update schedule Job
  back/app/Console/Commands/UpdateScheduleCommand.php
  back/app/Contracts/HasSchedule.php
  back/app/Http/Controllers/TeethController.php
  back/app/Http/Resources/ClientGroupResource.php
  back/app/Http/Resources/GroupListResource.php
  back/app/Http/Resources/GroupResource.php
  back/app/Jobs/UpdateScheduleJob.php
  back/app/Models/Client.php
  back/app/Models/Group.php
  back/app/Models/ScheduleDraft.php
  back/app/Models/Teacher.php
  back/app/Observers/ClientGroupObserver.php
  back/app/Observers/ClientLessonObserver.php
  back/app/Observers/LessonObserver.php
  back/app/Traits/HasScheduleTrait.php
Due: deploy_backend

Overlap fix
  back/app/Observers/ClientLessonObserver.php
  back/app/Observers/LessonObserver.php
  crm/components/ScheduleDraft/Problems.vue
  crm/components/ScheduleDraft/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

WIP
  back/app/Http/Controllers/Admin/StatsController.php
  back/app/Utils/Stats/Stats.php
  crm/components/Stats/Chart.vue
  crm/components/Stats/Dialog.vue
  crm/components/Stats/Metrics/index.ts
  crm/components/Stats/SavePresetDialog.vue
  crm/components/Stats/index.ts
  crm/pages/admin/stats.vue
  crm/utils/index.ts
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Add print options
  crm/components/GroupAct/Dialog.vue
  crm/pages/admin/groups/[id].vue
Due: build_frontend, deploy_frontend

chart
  crm/components/Stats/Chart.vue
  crm/components/Stats/Chart/Bar.vue
  crm/components/Stats/Chart/Line.vue
  crm/components/Stats/Chart/Years.vue
  crm/components/Stats/Chart/index.ts
  crm/components/Stats/index.ts
  crm/pages/admin/stats.vue
Due: build_frontend, deploy_frontend

Update index.ts
  crm/components/Stats/index.ts
Due: build_frontend, deploy_frontend

Schedule fixes
  back/app/Http/Controllers/Admin/LessonController.php
  back/app/Utils/Teeth.php
  crm/components/Cabinet/Selector.vue
  crm/components/Group/FirstLessonDate.vue
  crm/components/Group/LessonCounts.vue
  crm/components/Group/List.vue
  crm/components/Lesson/BulkCreateDialog.vue
  crm/components/Schedule/Schedule.vue
  crm/components/ScheduleDraft/GroupList.vue
  crm/components/Swamp/List.vue
  crm/components/Teeth/Bar.vue
  crm/pages/admin/cabinets.vue
Due: build_frontend, deploy_frontend, deploy_backend

Bulk edit upd
  crm/components/Lesson/BulkUpdateDialog.vue
  crm/components/Lesson/Item/AdminGroup.vue
  crm/components/Schedule/Schedule.vue
Due: build_frontend, deploy_frontend
