Repository maxflex/ec: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, deploy_frontend, deploy_backend

build_frontend:
  stage: build
  image: oven/bun:latest
  before_script:
  - cd crm
  - bun install
  script:
  - bun run build
  artifacts:
    paths:
    - crm/.output/

deploy_frontend:
  stage: deploy
  needs:
  - build_frontend
  before_script:
  - apt-get update -y
  - apt-get -y install rsync
  - mkdir -p ~/.ssh
  - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
  ...

deploy_backend:
  stage: deploy
  script:
  - 'ssh $REMOTE_ADDRESS << ''EOF''
  
    cd $DEPLOY_DIR/back
  
    git pull origin $BRANCH
  
    composer install --no-dev --optimize-autoloader
  
    php artisan config:cache
  
    php artisan route:cache
  
    php artisan view:cache
  
    php artisan migrate --force
  
    EOF'

Contract version program status
  back/app/Console/Commands/SetContractVersionProgramStatusCommand.php
  back/app/Http/Controllers/Admin/ContractController.php
  back/app/Http/Controllers/Admin/ContractVersionController.php
  back/app/Http/Controllers/Admin/PeopleSelectorController.php
  back/app/Http/Resources/ContractVersionProgramResource.php
  back/app/Models/ClientGroup.php
  back/app/Models/ContractVersion.php
  back/app/Models/ContractVersionProgram.php
  back/app/Models/EventParticipant.php
  back/app/Observers/ClientGroupObserver.php
  back/app/Observers/ClientLessonObserver.php
  back/app/Observers/ContractVersionObserver.php
  crm/assets/scss/_table.scss
  crm/components/ContractVersion/Dialog.vue
  crm/components/GroupMessage/Filters.vue
  crm/components/GroupMessage/PeopleSelector.vue
  crm/components/Menu/AdminMenu.vue
  crm/pages/admin/clients/browse.vue
  crm/pages/admin/events/[id].vue
  crm/pages/admin/events/[id]/participants.vue
  crm/pages/admin/group-message/index.vue
  crm/pages/admin/people-selector/index.vue
  crm/pages/admin/people-selector/send.vue
Due: build_frontend, deploy_frontend, deploy_backend

Speed-up people selector
  back/app/Http/Controllers/Admin/PeopleSelectorController.php
  back/app/Models/Client.php
Due: deploy_backend

Read client report
  back/app/Http/Controllers/Client/ReportController.php
  back/app/Models/Report.php
Due: deploy_backend

Passes first usage fix
  back/app/Models/Pass.php
Due: deploy_backend

Speed-up clients browse
  back/app/Http/Controllers/Admin/ClientsBrowseController.php
Due: deploy_backend

Clients browse order
  back/app/Http/Controllers/Admin/ClientsBrowseController.php
  crm/pages/admin/clients/browse.vue
Due: build_frontend, deploy_frontend, deploy_backend

Contract balances
  back/app/Http/Controllers/Admin/ContractVersionController.php
  back/app/Http/Resources/ClientResource.php
  back/app/Http/Resources/ContractBalanceResource.php
  back/app/Models/Contract.php
  back/app/Observers/ContractVersionObserver.php
  crm/components/Client/index.ts
  crm/components/Contract/Tab.vue
  crm/components/ContractVersion/Dialog.vue
  crm/components/ContractVersion/List2.vue
  crm/pages/admin/clients/[id].vue
  crm/pages/admin/passes/permanent.vue
  crm/pages/admin/people-selector/index.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Permanent passes display all
  back/app/Http/Controllers/Admin/PassController.php
  crm/pages/admin/passes/permanent.vue
Due: build_frontend, deploy_frontend, deploy_backend

People selector upd
  back/app/Enums/ContractVersionProgramStatus.php
  back/app/Http/Resources/PeopleSelectorResource.php
  back/app/Models/Client.php
  crm/pages/admin/people-selector/index.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

People selector upd
  crm/pages/admin/people-selector/index.vue
Due: build_frontend, deploy_frontend

Client index page removed
  back/app/Http/Resources/PeopleSelectorResource.php
  back/app/Models/Client.php
  crm/assets/scss/styles.scss
  crm/components/Client/Directions.vue
  crm/components/Client/index.ts
  crm/components/Menu/AdminMenu.vue
  crm/pages/admin/clients/[id].vue
  crm/pages/admin/clients/index.vue
  crm/pages/admin/contracts.vue
  crm/pages/admin/people-selector/index.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Table padding fixes
  back/app/Models/Client.php
  crm/assets/scss/overwrites.scss
  crm/assets/scss/styles.scss
  crm/components/Client/List.vue
  crm/components/Client/index.ts
  crm/pages/admin/clients/browse.vue
  crm/pages/admin/passes/permanent.vue
  crm/pages/teacher/clients/index.vue
Due: build_frontend, deploy_frontend, deploy_backend

Teacher CV pub
  back/app/Http/Controllers/Pub/TeacherController.php
  back/app/Http/Requests/PubTeacherRequest.php
  back/app/Http/Resources/QuartersGradesResource.php
  back/app/Mail/NewTeacherMail.php
  back/resources/views/emails/new-teacher.blade.php
  back/routes/pub.php
Due: deploy_backend

Client directions in search
  crm/components/Client/Directions.vue
  crm/components/Client/index.ts
  crm/components/Search/Results/ClientItem.vue
  crm/components/Search/index.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend

People-selector: directions filter fix
  crm/pages/admin/people-selector/index.vue
Due: build_frontend, deploy_frontend

Bump to PHP 8.4
  back/composer.json
  back/composer.lock
  back/docker-compose.yml
Due: deploy_backend

Update composer.lock
  back/composer.lock
Due: deploy_backend

QR in print
  back/app/Http/Controllers/Admin/PrintController.php
  back/composer.json
  back/composer.lock
Due: deploy_backend

People selector upd
  back/.gitignore
  back/app/Console/Commands/TestyTestCommand.php
  crm/pages/admin/passes/permanent.vue
  crm/pages/admin/people-selector/index.vue
Due: build_frontend, deploy_frontend, deploy_backend

Remove last_seen_at
  back/app/Http/Resources/ClientResource.php
  back/app/Http/Resources/ParentResource.php
  crm/components/Client/index.ts
  crm/pages/admin/clients/[id].vue
Due: build_frontend, deploy_frontend, deploy_backend

Clients Browse upd
  back/app/Http/Controllers/Admin/ClientsBrowseController.php
  back/app/Http/Controllers/Admin/MangoTestController.php
  back/app/Http/Resources/ClientsBrowseResource.php
  back/app/Models/Call.php
  back/app/Models/Client.php
  crm/assets/scss/_table.scss
  crm/components/Client/BrowseList.vue
  crm/components/Client/index.ts
  crm/components/Ui/LastSeenAt.vue
  crm/pages/admin/_test/mango.vue
  crm/pages/admin/clients/browse.vue
Due: build_frontend, deploy_frontend, deploy_backend

Swamp numbers: quickfix
  crm/components/Client/BrowseList.vue
Due: build_frontend, deploy_frontend

fix: preserve custom headers in useHttp
  crm/composables/useHttp.ts
  mob/assets/scss/_dialog.scss
  mob/composables/useHttp.ts
Due: build_frontend, deploy_frontend

Remove scholarship scores feature
  back/app/Console/Commands/Once/UpdateProgramsCommand.php
  back/app/Console/Commands/Transfer/TransferCommand.php
  back/app/Console/Commands/Transfer/TransferScholarshipScores.php
  back/app/Http/Controllers/Admin/ScholarshipScoreController.php
  back/app/Http/Controllers/Teacher/ScholarshipScoreController.php
  back/app/Http/Resources/ScholarshipScoreResource.php
  back/app/Models/ScholarshipScore.php
  back/app/Models/Teacher.php
  back/database/migrations/2024_11_28_092713_create_scholarship_scores_table.php
  back/database/migrations/2025_05_26_160000_drop_scholarship_scores_table.php
  back/routes/admin.php
  back/routes/teacher.php
  crm/components/Log/Filters.vue
  crm/components/Menu/AdminMenu.vue
  crm/components/Menu/TeacherMenu.vue
  crm/components/ScholarshipScore/Circle.vue
  crm/components/ScholarshipScore/ClientsList.vue
  crm/components/ScholarshipScore/Dialog.vue
  crm/components/ScholarshipScore/List.vue
  crm/components/ScholarshipScore/TeachersList.vue
  crm/pages/admin/scholarship-scores.vue
  crm/pages/teacher/scholarship-scores.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Add AGENTS.md
  back/AGENTS.md
  crm/AGENTS.md
  mob/AGENTS.md
Due: build_frontend, deploy_frontend, deploy_backend

Update agents.md
  back/AGENTS.md
  crm/AGENTS.md
  mob/AGENTS.md
Due: build_frontend, deploy_frontend, deploy_backend

feat(web-reviews): show exam scores
  crm/components/WebReview/List.vue
  crm/components/WebReview/index.ts
Due: build_frontend, deploy_frontend

Exam scores in review list
  back/app/Http/Controllers/Admin/WebReviewController.php
  back/app/Http/Resources/WebReviewPubResource.php
  back/app/Http/Resources/WebReviewResource.php
  back/app/Models/WebReview.php
  crm/components/WebReview/List.vue
  crm/components/WebReview/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

feat(ui): add TableActions component
  crm/components/Client/BrowseList.vue
  crm/components/Client/List.vue
  crm/components/ClientComplaint/List.vue
  crm/components/ClientPayment/List.vue
  crm/components/ClientTest/List.vue
  crm/components/ContractPayment/List.vue
  crm/components/ContractVersion/List.vue
  crm/components/ContractVersion/List2.vue
  crm/components/Event/List.vue
  crm/components/ExamScore/List.vue
  crm/components/GroupAct/List.vue
  crm/components/HeadTeacherReport/List.vue
  crm/components/Lesson/ConductDialog.vue
  crm/components/Lesson/Item/AdminClient.vue
  crm/components/Lesson/Item/AdminGroup.vue
  crm/components/Lesson/Item/AdminTeacher.vue
  crm/components/Lesson/Item/TeacherLK.vue
  crm/components/Pass/List.vue
  crm/components/Report/List/ForAdmins.vue
  crm/components/Report/List/ForHeadTeachers.vue
  crm/components/Report/List/ForTeachers.vue
  crm/components/Request/Item.vue
  crm/components/TeacherPayment/List.vue
  crm/components/TeacherService/List.vue
  crm/components/TelegramList/List.vue
  crm/components/TelegramMessage/List.vue
  crm/components/Test/List.vue
  crm/components/Topic/List.vue
  crm/components/Ui/TableActions.vue
  crm/components/User/List.vue
  crm/components/WebReview/List.vue
  crm/pages/admin/all-payments.vue
Due: build_frontend, deploy_frontend

Rename table action class and component
  crm/assets/scss/_lesson.scss
  crm/assets/scss/_table.scss
  crm/components/Group/StudentsTab.vue
  crm/components/Group/Swamp.vue
  crm/components/Lesson/ConductDialog.vue
  crm/components/Pass/List.vue
  crm/components/Test/List.vue
  crm/components/Ui/TableActions.vue
  crm/pages/admin/all-lessons.vue
  crm/pages/teacher/clients/[id].vue
  mob/assets/scss/_lesson.scss
  mob/assets/scss/_table.scss
Due: build_frontend, deploy_frontend

Browse upd
  back/app/Http/Resources/ClientsBrowseResource.php
  back/app/Http/Resources/ContractVersionListResource.php
  back/app/Models/Client.php
  back/app/Models/ContractVersion.php
  back/app/Models/ContractVersionProgram.php
  crm/components/Client/BrowseList.vue
  crm/components/Client/Directions.vue
  crm/components/Client/List.vue
  crm/components/Client/index.ts
  crm/components/ContractVersion/List.vue
  crm/components/ContractVersion/List2.vue
  crm/components/Menu/AdminMenu.vue
  crm/components/Ui/LastSeenAt.vue
  crm/pages/admin/clients/browse.vue
  crm/pages/admin/people-selector/index.vue
Due: build_frontend, deploy_frontend, deploy_backend

Sms history
  back/app/Http/Controllers/Admin/ClientController.php
  back/app/Http/Controllers/Admin/SmsController.php
  back/app/Http/Resources/SmsResource.php
  back/app/Utils/Sms.php
  back/config/sms.php
  back/routes/admin.php
  crm/assets/scss/_dialog.scss
  crm/assets/scss/overwrites.scss
  crm/components/Group/VisitsTab.vue
  crm/components/HeadTeacher/ClientsTab.vue
  crm/components/Menu/AdminMenu.vue
  crm/components/Phone/Dialog.vue
  crm/components/Sms/HistoryList.vue
  crm/components/Sms/List.vue
  crm/components/Sms/index.ts
  crm/components/Ui/ClearableSelect.vue
  crm/components/Ui/Loader.vue
  crm/pages/admin/passes/permanent.vue
  crm/pages/admin/sms-messages.vue
  crm/pages/teacher/clients/index.vue
Due: build_frontend, deploy_frontend, deploy_backend

Update ClientsBrowseResource.php
  back/app/Http/Resources/ClientsBrowseResource.php
Due: deploy_backend

Log user agents
  back/app/Http/Controllers/Pub/AuthController.php
  back/app/Models/Log.php
  back/database/migrations/2025_06_06_125600_add_ua_to_logs.php
Due: deploy_backend

Group & Event visual upd
  back/app/Http/Resources/EventResource.php
  back/app/Http/Resources/GroupResource.php
  crm/components/Group/List.vue
  crm/components/Schedule/Schedule.vue
  crm/components/Teeth/AsText.vue
  crm/pages/admin/clients/[id].vue
  crm/pages/admin/events/[id].vue
  crm/pages/admin/groups/[id].vue
  crm/pages/admin/passes/permanent.vue
  crm/pages/admin/teachers/[id].vue
  crm/pages/client/schedule.vue
  crm/pages/teacher/clients/[id].vue
  crm/pages/teacher/groups/[id].vue
  crm/pages/teacher/schedule.vue
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

lastPaymnet copy
  crm/components/ContractVersion/Dialog.vue
Due: build_frontend, deploy_frontend

Sms stored locally
  back/app/Console/Commands/SyncSmsCommand.php
  back/app/Console/Kernel.php
  back/app/Http/Controllers/Admin/SmsController.php
  back/app/Http/Controllers/Admin/SmsMessageController.php
  back/app/Http/Resources/SmsResource.php
  back/app/Models/SmsMessage.php
  back/app/Utils/Sms.php
  back/database/migrations/2025_06_06_170507_create_sms_messages_table.php
  back/routes/admin.php
  crm/components/ContractVersion/Dialog.vue
  crm/components/Phone/Dialog.vue
  crm/components/SmsMessage/HistoryList.vue
  crm/components/SmsMessage/List.vue
  crm/components/SmsMessage/index.ts
  crm/pages/admin/sms-messages.vue
Due: build_frontend, deploy_frontend, deploy_backend

Permanent passes: merge clients & parents
  back/app/Http/Resources/PassesPermanentResource.php
  crm/pages/admin/passes/permanent.vue
Due: build_frontend, deploy_frontend, deploy_backend

Path conditions:
  build_frontend: any of: crm/**/*
  deploy_frontend: any of: crm/**/*
  deploy_backend: any of: back/**/*
