Repository maxflex/ec: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

build_crm:
  stage: build
  image: oven/bun:latest
  before_script:
  - cd crm
  - bun install
  script:
  - bun run build
  artifacts:
    paths:
    - crm/.output/

deploy_crm:
  stage: deploy
  needs:
  - build_crm
  before_script:
  - apt-get update -y
  - apt-get -y install rsync
  - mkdir -p ~/.ssh
  - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
  ...

build_mob:
  stage: build
  image: oven/bun:latest
  before_script:
  - cd mob
  - bun install
  script:
  - bun run build
  artifacts:
    paths:
    - mob/.output/

deploy_mob:
  stage: deploy
  needs:
  - build_mob
  before_script:
  - apt-get update -y
  - apt-get -y install rsync
  - mkdir -p ~/.ssh
  - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
  ...

deploy_backend:
  stage: deploy
  script:
  - ssh root@$REMOTE_ADDRESS "cd $DEPLOY_DIR/back && git pull origin $BRANCH && composer install --no-dev --optimize-autoloader && php artisan config:cache && php artisan route:cache && php artisan view:cache && php artisan migrate --force && php artisan horizon:terminate"

Handle Gemini multi-part text
  back/app/Utils/AI/GeminiReportService.php
Due: deploy_backend

Add event time validation and focus
  back/app/Http/Controllers/Admin/EventController.php
  crm/components/Event/Dialog.vue
Due: build_crm, deploy_crm, deploy_backend

Edit ai_comment in reports
  .gitignore
  crm/assets/scss/_report.scss
  crm/components/Report/Dialog.vue
Due: build_crm, deploy_crm

Add report model selection logic
  back/app/Http/Resources/ReportResource.php
  back/app/Observers/ReportObserver.php
  back/app/Utils/AI/GeminiReportService.php
  back/app/Utils/AI/GeminiService.php
  back/database/migrations/2026_02_25_120000_add_model_to_reports_table.php
  crm/components/Report/Dialog.vue
  crm/components/Report/index.ts
Due: build_crm, deploy_crm, deploy_backend

Report model fixes
  back/app/Observers/ReportObserver.php
  back/app/Utils/AI/GeminiReportService.php
Due: deploy_backend

Update reports AI fields and dialog
  back/app/Http/Resources/ReportResource.php
  back/app/Jobs/GenerateReportAiCommentJob.php
  back/app/Models/Report.php
  back/app/Observers/ReportObserver.php
  back/app/Utils/AI/GeminiReportService.php
  back/database/migrations/2026_02_26_120000_rename_model_to_ai_model_in_reports_table.php
  crm/components/Report/Dialog.vue
  crm/components/Report/index.ts
Due: build_crm, deploy_crm, deploy_backend

Add AI instruction fields
  crm/components/Report/Dialog.vue
Due: build_crm, deploy_crm

Update Dialog.vue
  crm/components/Report/Dialog.vue
Due: build_crm, deploy_crm

CallApp auth
  AGENTS.md
  back/app/Http/Controllers/Admin/MangoTestController.php
  back/app/Http/Controllers/Pub/AuthController.php
  back/app/Utils/Session.php
  back/docker-compose.yml
  back/routes/admin.php
  back/routes/pub.php
  crm/components/Ui/Loader.vue
  crm/pages/admin/callapp.vue
  crm/server/api/sse.ts
Due: build_crm, deploy_crm, deploy_backend

ai model tooltip
  back/app/Http/Resources/ReportListResource.php
  crm/components/Report/Dialog.vue
  crm/components/Report/List/ForAdmins.vue
  crm/components/Report/index.ts
Due: build_crm, deploy_crm, deploy_backend

ai_instruction format upd
  back/app/Utils/AI/GeminiReportService.php
  back/database/migrations/2026_02_26_130000_update_reports_ai_instruction_format.php
  crm/components/Report/Dialog.vue
Due: build_crm, deploy_crm, deploy_backend

Calls end of day fix (finally!)
  back/app/Utils/Mango.php
  crm/pages/admin/callapp.vue
Due: build_crm, deploy_crm, deploy_backend

Mango upd
  back/app/Utils/Mango.php
  crm/public/workers/shared-worker.js
  crm/server/api/sse.ts
Due: build_crm, deploy_crm, deploy_backend

CallApp upd
  back/app/Http/Controllers/Admin/MangoTestController.php
  back/app/Utils/Session.php
  crm/pages/admin/callapp.vue
  crm/utils/index.ts
Due: build_crm, deploy_crm, deploy_backend

isLocalhost
  crm/composables/useHttp.ts
  crm/composables/useIsLocalhost.ts
  crm/pages/admin/callapp.vue
  crm/pages/login.vue
Due: build_crm, deploy_crm

Update Mango.php
  back/app/Utils/Mango.php
Due: deploy_backend

Update Mango event summary handling
  back/app/Utils/Mango.php
Due: deploy_backend

wip
  back/app/Http/Controllers/Admin/CallController.php
  back/app/Http/Controllers/Admin/MangoTestController.php
  back/app/Http/Resources/CallListResource.php
  crm/components/Call/Filters.vue
  crm/components/Call/List.vue
  crm/components/CallApp/Download.vue
  crm/components/CallApp/Person.vue
  crm/components/CallApp/index.ts
  crm/components/Menu/AdminMenu.vue
  crm/pages/admin/calls.vue
Due: build_crm, deploy_crm, deploy_backend

Update List.vue
  crm/components/TeacherAct/List.vue
Due: build_crm, deploy_crm

ReportGemini always flash
  back/app/Observers/ReportObserver.php
  back/app/Utils/AI/GeminiReportService.php
Due: deploy_backend

Gemini Reports model always flash
  back/app/Observers/ReportObserver.php
  back/app/Utils/AI/GeminiReportService.php
Due: deploy_backend

Call improve analysis
  back/app/Http/Controllers/Admin/CallController.php
  back/app/Http/Resources/AuthResource.php
  back/app/Http/Resources/CallResource.php
  back/app/Http/Resources/UserResource.php
  back/app/Models/Call.php
  back/app/Models/User.php
  back/app/Utils/AI/GeminiCallService.php
  back/database/migrations/2026_03_03_125850_drop_is_call_notifications_from_users.php
  back/database/migrations/2026_03_03_145943_add_analysis_fields_to_calls.php
  back/routes/admin.php
  crm/components/Call/List.vue
  crm/components/CallApp/CallAppMain.vue
  crm/components/Report/Dialog.vue
  crm/components/Ui/Tabs.vue
  crm/components/User/Dialog.vue
  crm/pages/admin/calls/[id]/index.vue
  crm/pages/admin/calls/index.vue
  crm/utils/types.d.ts
Due: build_crm, deploy_crm, deploy_backend

Update CallResource.php
  back/app/Http/Resources/CallResource.php
Due: deploy_backend

Mango outgoing
  back/app/Http/Controllers/Admin/MangoTestController.php
  back/app/Utils/Mango.php
  back/tests/Unit/MangoTest.php
  crm/pages/admin/callapp.vue
Due: build_crm, deploy_crm, deploy_backend

Finalize active calls
  back/app/Utils/Mango.php
Due: deploy_backend

New Phone Dialog
  crm/components/Client/Panel.vue
  crm/components/Phone/Dialog.vue
  crm/components/Phone/List.vue
  crm/components/Phone/PreviewModeBtn.vue
  crm/pages/admin/teachers/[id].vue
  crm/pages/teacher/clients/[id].vue
Due: build_crm, deploy_crm

Calls upd
  back/app/Http/Controllers/Admin/CallController.php
  crm/components/Call/List.vue
  crm/pages/admin/calls/[id]/index.vue
Due: build_crm, deploy_crm, deploy_backend

Call icon
  crm/components/Phone/Dialog.vue
  crm/components/Phone/PreviewModeBtn.vue
  crm/components/User/List.vue
  crm/pages/admin/callapp.vue
Due: build_crm, deploy_crm

Update List.vue
  crm/components/Call/List.vue
Due: build_crm, deploy_crm

Mango events upd
  back/app/Utils/Mango.php
  crm/components/Phone/Dialog.vue
Due: build_crm, deploy_crm, deploy_backend

Allow receipt deletion
  back/app/Http/Controllers/Admin/ContractPaymentController.php
  back/app/Utils/Mango.php
  crm/components/ContractPayment/Dialog.vue
Due: build_crm, deploy_crm, deploy_backend

CallSummaryEvent removed
  back/app/Events/CallSummaryEvent.php
  back/app/Utils/Mango.php
  crm/components/ContractPayment/Dialog.vue
  crm/server/api/sse.ts
Due: build_crm, deploy_crm, deploy_backend

Call list upd
  crm/components/Call/List.vue
  crm/components/Phone/Dialog.vue
  crm/pages/admin/calls/index.vue
Due: build_crm, deploy_crm

AiPrompt - file attachments
  back/app/Http/Controllers/Admin/AiPromptController.php
  back/app/Models/AiPrompt.php
  back/app/Utils/AI/GeminiCallService.php
  back/app/Utils/AI/GeminiFileService.php
  back/app/Utils/AI/GeminiReportService.php
  back/database/migrations/2026_03_10_120000_add_files_to_ai_prompts_table.php
  crm/components/File/Item.vue
  crm/components/File/Uploader.vue
  crm/components/File/index.ts
  crm/pages/admin/ai-prompts/[id].vue
  crm/pages/admin/ai-prompts/index.vue
  crm/utils/types.d.ts
Due: build_crm, deploy_crm, deploy_backend

Transcript & Analysis - separate
  back/app/Http/Controllers/Admin/CallController.php
  back/app/Http/Resources/CallListResource.php
  back/app/Http/Resources/CallResource.php
  back/app/Jobs/ProcessCallRecordingJob.php
  back/app/Models/AiPrompt.php
  back/app/Utils/AI/CallAnalysisService.php
  back/app/Utils/AI/CallTranscriptionService.php
  back/app/Utils/AI/GeminiCallService.php
  back/database/migrations/2026_03_10_140000_rename_transcription_to_transcript_in_calls_table.php
  crm/components/CallApp/index.ts
  crm/components/File/Uploader.vue
  crm/pages/admin/ai-prompts/[id].vue
  crm/pages/admin/calls/[id]/index.vue
Due: build_crm, deploy_crm, deploy_backend

Transcribe & analyze
  back/app/Http/Controllers/Admin/CallController.php
  back/app/Utils/AI/AiPromptRenderer.php
  back/app/Utils/helpers.php
  back/routes/admin.php
  crm/pages/admin/calls/[id]/index.vue
Due: build_crm, deploy_crm, deploy_backend

Update PrintController.php
  back/app/Http/Controllers/Admin/PrintController.php
Due: deploy_backend

Update index.vue
  crm/pages/admin/calls/[id]/index.vue
Due: build_crm, deploy_crm

Programs page
  back/app/Http/Controllers/Admin/ProgramController.php
  back/routes/admin.php
  crm/components/Report/List/ForAdmins.vue
  crm/pages/admin/programs.vue
Due: build_crm, deploy_crm, deploy_backend

Path conditions:
  build_crm: any of: crm/**/*
  deploy_crm: any of: crm/**/*
  build_mob: any of: mob/**/*
  deploy_mob: any of: mob/**/*
  deploy_backend: any of: back/**/*
