Repository maxflex/ec: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, deploy_frontend, deploy_backend

.gitlab-ci.yml:

stages:
  - build
  - deploy

variables:
  NODE_ENV: "production"
  BUN_INSTALL: "true"
  BRANCH: main
  REMOTE_ADDRESS: root@104.248.88.1
  DEPLOY_DIR: /var/www/ec


workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == $BRANCH

before_script:
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H $REMOTE_ADDRESS >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts

### 🏗 BUILD FRONTEND (Nuxt 3) ###
build_frontend:
  stage: build
  image: oven/bun:latest  # ✅ Use Bun's official image
  only:
    changes:
      - crm/**/*
  before_script:
    - cd crm
    - bun install
  script:
    - bun run build
  artifacts:
    paths:
      - crm/.output/

### 🚀 DEPLOY FRONTEND ###
deploy_frontend:
  stage: deploy
  only:
    changes:
      - crm/**/*
  needs:
    - build_frontend  # ✅ Ensure build finishes before deploying
  before_script:
    - apt-get update -y
    - apt-get -y install rsync
    - mkdir -p ~/.ssh
    - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - rsync -a crm/.output $REMOTE_ADDRESS:$DEPLOY_DIR/crm
    - ssh $REMOTE_ADDRESS "cd $DEPLOY_DIR/crm && pm2 restart ecosystem.config.js || pm2 start ecosystem.config.js"

### 🚀 DEPLOY BACKEND (Laravel) ###
deploy_backend:
  stage: deploy
  only:
    changes:
      - back/**/*
  script:
    - |
      ssh $REMOTE_ADDRESS << 'EOF'
      cd $DEPLOY_DIR/back
      git pull origin $BRANCH
      composer install --no-dev --optimize-autoloader
      php artisan config:cache
      php artisan route:cache
      php artisan view:cache
      php artisan migrate --force
      EOF

TelegramMessage extra
  back/app/Http/Resources/ClientReviewListResource.php
  back/app/Models/Pass.php
  back/app/Models/PsychologistSession.php
  back/app/Models/TelegramMessage.php
  back/app/Utils/ClientReviewMessage.php
  back/database/migrations/2025_03_25_165752_add_extra_to_telegram_messages.php
  crm/components/ClientReview/List.vue
  crm/components/ClientReview/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

Teacher stats upd
  back/app/Utils/TeacherStats.php
  crm/components/Report/Fill.vue
  crm/components/Report/List/ForAdmins.vue
  crm/components/Teacher/StatsTab.vue
Due: build_frontend, deploy_frontend, deploy_backend

People Selector upd
  back/app/Http/Controllers/Admin/PeopleSelectorController.php
  back/app/Http/Controllers/Controller.php
  back/app/Http/Resources/PeopleSelectorResource.php
  back/app/Models/Client.php
  crm/assets/scss/styles.scss
  crm/components/Event/AddToDialog.vue
  crm/components/Event/List.vue
  crm/components/PeopleSelector/Filters.vue
  crm/components/Ui/BottomBar.vue
  crm/pages/admin/events/[id].vue
  crm/pages/admin/people-selector/index.vue
  crm/utils/filters.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Throttle requests
  back/app/Providers/RouteServiceProvider.php
  back/routes/pub.php
Due: deploy_backend

Available years almost removed
  back/app/Http/Controllers/Admin/ReportController.php
  back/app/Http/Controllers/Teacher/ReportController.php
  back/routes/teacher.php
  crm/components/HeadTeacher/ClientGroupsTab.vue
  crm/components/Report/HeadTeacherTab.vue
  crm/components/Report/Tab.vue
  crm/components/Schedule/Schedule.vue
  crm/components/Teacher/GroupsTab.vue
  crm/pages/teacher/groups/index.vue
  crm/pages/teacher/reports/index.vue
Due: build_frontend, deploy_frontend, deploy_backend

Events upd
  back/app/Http/Controllers/Admin/EventParticipantController.php
  back/app/Http/Controllers/Admin/GroupController.php
  back/app/Http/Controllers/Admin/PeopleSelectorController.php
  back/app/Http/Controllers/Common/EventController.php
  back/app/Http/Resources/EventListResource.php
  back/app/Http/Resources/EventResource.php
  back/app/Http/Resources/TelegramListResource.php
  back/app/Models/Event.php
  back/app/Models/TelegramList.php
  back/app/Utils/helpers.php
  back/database/migrations/2025_03_26_153424_add_is_private_to_events.php
  back/routes/admin.php
  crm/assets/scss/styles.scss
  crm/components/Client/GroupsTab.vue
  crm/components/Event/Dialog.vue
  crm/components/Event/ItemAdmin.vue
  crm/components/Event/ItemClient.vue
  crm/components/Event/ItemOld.vue
  crm/components/Event/ItemTeacher.vue
  crm/components/Event/List.vue
  crm/components/Lesson/Item/ClientLK.vue
  crm/components/PeopleSelector/PeopleSelector.vue
  crm/components/Schedule/Schedule.vue
  crm/components/Teacher/StatsTab.vue
  crm/components/TelegramList/Dialog.vue
  crm/components/TelegramList/List.vue
  crm/components/TelegramMessage/List.vue
  crm/pages/admin/events/[id]/index.vue
  crm/pages/admin/events/[id]/participants.vue
  crm/pages/admin/people-selector/send.vue
  crm/pages/admin/telegram-lists/[id].vue
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

YearSelector old removed completely
  back/app/Http/Controllers/Common/AvailableYearsController.php
  back/app/Utils/AvailableYears.php
  back/routes/common.php
  crm/components/AvailableYears/Selector.vue
  crm/components/AvailableYears/Selector2.vue
  crm/components/AvailableYears/index.ts
  crm/components/Balance/Balance.vue
  crm/components/Client/GroupsTab.vue
  crm/components/ClientPayment/Tab.vue
  crm/components/ExamScore/Tab.vue
  crm/components/Grade/Tab.vue
  crm/components/HeadTeacher/ClientGroupsTab.vue
  crm/components/HeadTeacherReport/Tab.vue
  crm/components/Report/HeadTeacherTab.vue
  crm/components/Report/Tab.vue
  crm/components/Schedule/Schedule.vue
  crm/components/Teacher/GroupsTab.vue
  crm/components/Teacher/StatsTab.vue
  crm/components/TeacherPayment/Tab.vue
  crm/components/TeacherService/Tab.vue
  crm/pages/admin/events/[id]/index.vue
  crm/pages/admin/grades/index.vue
  crm/pages/client/grades.vue
  crm/pages/client/journal.vue
  crm/pages/teacher/grades/index.vue
  crm/pages/teacher/groups/index.vue
  crm/pages/teacher/payments.vue
  crm/pages/teacher/reports/index.vue
Due: build_frontend, deploy_frontend, deploy_backend

Add to dialog removed
  crm/components/Event/AddToDialog.vue
  crm/pages/admin/events/[id]/index.vue
  crm/pages/admin/people-selector/index.vue
Due: build_frontend, deploy_frontend

Event no tg lists text
  crm/pages/admin/events/[id]/index.vue
Due: build_frontend, deploy_frontend

filters.ts removed
  crm/components/CallApp/index.ts
  crm/components/Client/Filters.vue
  crm/components/Client/GroupsTab.vue
  crm/components/ClientPayment/Filters.vue
  crm/components/ContractVersion/Filters.vue
  crm/components/Grade/Filters.vue
  crm/components/Group/Filters.vue
  crm/components/Group/Selector.vue
  crm/components/Log/Filters.vue
  crm/components/Pass/Filters.vue
  crm/components/Report/Filters.vue
  crm/components/Swamp/Filters.vue
  crm/components/Swamp/Selector.vue
  crm/components/Teacher/Filters.vue
  crm/components/TeacherPayment/Filters.vue
  crm/components/TelegramList/Filters.vue
  crm/components/TelegramMessage/Filters.vue
  crm/components/Topic/Filters.vue
  crm/components/User/Filters.vue
  crm/pages/admin/cabinets.vue
  crm/pages/admin/client-payments.vue
  crm/pages/admin/client-tests.vue
  crm/pages/admin/clients/index.vue
  crm/pages/admin/contracts.vue
  crm/pages/admin/groups/index.vue
  crm/pages/admin/logs.vue
  crm/pages/admin/passes/index.vue
  crm/pages/admin/reports/index.vue
  crm/pages/admin/swamps.vue
  crm/pages/admin/teacher-payments.vue
  crm/pages/admin/teachers/index.vue
  crm/pages/admin/telegram-lists/index.vue
  crm/pages/admin/telegram-messages.vue
  crm/pages/admin/topics.vue
  crm/pages/admin/users.vue
  crm/pages/teacher/head-teacher-reports.vue
  crm/utils/filters.d.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend

useAvailableYearsFilter
  crm/components/AvailableYears/Selector.vue
  crm/components/Client/GroupsTab.vue
  crm/components/ClientPayment/Tab.vue
  crm/components/ExamScore/Tab.vue
  crm/components/Grade/Tab.vue
  crm/components/HeadTeacher/ClientGroupsTab.vue
  crm/components/HeadTeacherReport/Tab.vue
  crm/components/Report/HeadTeacherTab.vue
  crm/components/Teacher/GroupsTab.vue
  crm/components/TeacherPayment/Tab.vue
  crm/components/TeacherService/Tab.vue
  crm/composables/useAvailableYearsFilter.ts
  crm/pages/admin/grades/index.vue
  crm/pages/client/grades.vue
  crm/pages/client/journal.vue
  crm/pages/teacher/grades/index.vue
  crm/pages/teacher/groups/index.vue
  crm/pages/teacher/payments.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend

People selector => Group message
  back/app/Casts/Set.php
  back/app/Console/Commands/SendTelegramMessages.php
  back/app/Enums/SendTo.php
  back/app/Models/TelegramList.php
  back/app/Utils/helpers.php
  back/database/migrations/2025_03_31_173658_update_send_to_in_telegram_lists.php
  crm/components/Event/Dialog.vue
  crm/components/Menu/AdminMenu.vue
  crm/components/PeopleSelector/Filters.vue
  crm/components/PeopleSelector/PeopleSelector.vue
  crm/pages/admin/events/[id]/index.vue
  crm/pages/admin/group-message/index.vue
  crm/pages/admin/group-message/send.vue
  crm/pages/admin/people-selector/index.vue
  crm/pages/admin/telegram-lists/[id].vue
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Group message clean-up
  back/app/Models/PsychologistSession.php
  back/app/Models/TelegramList.php
  crm/assets/scss/styles.scss
  crm/components/GroupMessage/Filters.vue
  crm/components/GroupMessage/PeopleSelector.vue
  crm/pages/admin/events/[id]/participants.vue
  crm/pages/admin/group-message/index.vue
  crm/pages/admin/group-message/send.vue
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Routes reworked
  back/app/Http/Controllers/Controller.php
  back/app/Http/Controllers/EventController.php
  back/app/Http/Controllers/Teacher/CommentController.php
  back/app/Http/Kernel.php
  back/app/Observers/ContractVersionObserver.php
  back/app/Providers/RouteServiceProvider.php
  back/bootstrap/app.php
  back/routes/admin.php
  back/routes/client.php
  back/routes/teacher.php
Due: deploy_backend

Further routes improvements
  back/app/Http/Controllers/Admin/ClientTestController.php
  back/app/Http/Controllers/BalanceController.php
  back/app/Http/Controllers/Client/ClientTestController.php
  back/app/Http/Controllers/Client/LogController.php
  back/app/Http/Controllers/LogController.php
  back/app/Http/Controllers/Teacher/BalanceController.php
  back/app/Http/Controllers/Teacher/ClientController.php
  back/app/Http/Controllers/Teacher/ClientGroupController.php
  back/app/Http/Controllers/Teacher/ClientTestController.php
  back/app/Http/Controllers/Teacher/CommentController.php
  back/app/Http/Controllers/Teacher/ExamScoreController.php
  back/app/Http/Controllers/Teacher/GradeController.php
  back/app/Http/Controllers/Teacher/GroupController.php
  back/app/Http/Controllers/Teacher/HeadTeacherReportController.php
  back/app/Http/Controllers/Teacher/InstructionController.php
  back/app/Http/Controllers/Teacher/LogController.php
  back/app/Http/Controllers/Teacher/TeacherController.php
  back/app/Http/Controllers/Teacher/TeacherPaymentController.php
  back/app/Http/Middleware/HeadTeacherMiddleware.php
  back/routes/admin.php
  back/routes/client.php
  back/routes/teacher.php
Due: deploy_backend

TelegramMessages in Review
  back/app/Http/Resources/ClientReviewListResource.php
  back/app/Http/Resources/TelegramMessageResource.php
  back/app/Providers/RouteServiceProvider.php
  back/app/Utils/ClientReviewMessage.php
  back/app/Utils/helpers.php
  crm/components/ClientReview/List.vue
  crm/components/ClientReview/index.ts
  crm/components/TelegramMessage/Dialog.vue
  crm/components/TelegramMessage/HistoryList.vue
  crm/components/Ui/Loader.vue
Due: build_frontend, deploy_frontend, deploy_backend

Pass direction filters
  back/app/Http/Controllers/Admin/PassController.php
  crm/components/Pass/Filters.vue
  crm/components/Request/Filters.vue
  crm/pages/admin/passes/index.vue
  crm/utils/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

Mob pinia fix
  crm/nuxt.config.ts
  crm/stores/useAuthStore.ts
  mob/.gitignore
  mob/nuxt.config.ts
  mob/stores/useAuthStore.ts
Due: build_frontend, deploy_frontend

MOB: Page titles
  mob/assets/scss/styles.scss
  mob/components/Page/MyProfile.vue
  mob/components/Ui/Filters.vue
  mob/components/Ui/PageTitle.vue
  mob/pages/admin/clients.vue
  mob/pages/client/grades.vue
  mob/pages/client/journal.vue
  mob/pages/client/reports/index.vue
  mob/pages/client/schedule.vue
Due: none

MOB: Schedule reworked
  back/app/Http/Controllers/Admin/ContractVersionController.php
  mob/components/Client/Dialog.vue
  mob/components/Client/Filters.vue
  mob/components/Client/Selector.vue
  mob/components/Contract/Directions.vue
  mob/components/Contract/Filters.vue
  mob/components/Contract/List.vue
  mob/components/Event/ItemClient.vue
  mob/components/Menu/index.ts
  mob/components/Schedule/Schedule.vue
  mob/pages/admin/clients.vue
  mob/pages/admin/contracts.vue
  mob/pages/admin/index.vue
Due: deploy_backend

MOB: update schedule
  mob/components/Schedule/Schedule.vue
Due: none

MOB: Billing
  mob/assets/scss/_table.scss
  mob/components/App/Header/Header.vue
  mob/components/App/Header/menu.ts
  mob/components/Calendar/Dialog.vue
  mob/components/Event/ItemAdmin.vue
  mob/components/Event/ItemOld.vue
  mob/components/Event/ItemTeacher.vue
  mob/components/Event/Status.vue
  mob/components/Lesson/Item/AdminClient.vue
  mob/components/Lesson/Item/AdminGroup.vue
  mob/components/Lesson/Item/AdminTeacher.vue
  mob/components/Lesson/Item/HeadTeacherLK.vue
  mob/components/Lesson/Item/SeqQuarter.vue
  mob/components/Lesson/Item/Status.vue
  mob/components/Lesson/Item/TeacherLK.vue
  mob/components/Schedule/Row/Event.vue
  mob/components/Schedule/Row/Lesson.vue
  mob/components/Schedule/Schedule.vue
  mob/components/Teeth/AsText.vue
  mob/components/Teeth/Bar.vue
  mob/components/Ui/Branches.vue
  mob/components/Ui/DateInput.vue
  mob/components/Ui/Dialog.vue
  mob/components/Ui/DialogContent.vue
  mob/components/Ui/Loader3.vue
  mob/components/Ui/MultipleSelect.vue
  mob/components/Ui/TopPanel.vue
  mob/components/Ui/WhiteLoader.vue
  mob/layouts/default.vue
  mob/pages/client/billing.vue
  mob/pages/client/reports/index.vue
  mob/pages/client/schedule.vue
Due: none

MOB: Report improvements
  crm/components/Report/View.vue
  mob/components/App/Header/Header.vue
  mob/components/App/Header/menu.ts
  mob/components/Report/List.vue
  mob/components/Report/View.vue
  mob/components/Schedule/Schedule.vue
  mob/components/Ui/Filters.vue
  mob/components/Ui/IconLink.vue
  mob/components/Ui/NoData.vue
  mob/components/Ui/PageTitle.vue
  mob/pages/client/reports/index.vue
  mob/pages/client/tests.vue
Due: build_frontend, deploy_frontend

Stats fixes
  back/app/Utils/Stats/Metrics/PassMetric.php
  back/app/Utils/Stats/Metrics/TeacherServiceMetric.php
  mob/components/Contract/List.vue
Due: deploy_backend

MOB: update libs
  back/app/Utils/Session.php
  mob/assets/scss/styles.scss
  mob/bun.lock
  mob/bun.lockb
  mob/components/App/Header/Header.vue
  mob/components/File/Item.vue
  mob/components/Journal/List.vue
  mob/package.json
  mob/pages/client/billing.vue
  mob/pages/login.vue
  mob/plugins/maska.client.ts
Due: deploy_backend

MOB: Juornal upd
  back/app/Http/Resources/JournalResource.php
  crm/components/Lesson/Dialog.vue
  crm/pages/client/journal.vue
  crm/utils/index.ts
  crm/utils/types.d.ts
  mob/components/File/Item.vue
  mob/components/Grade/List.vue
  mob/components/Journal/List.vue
  mob/pages/client/journal.vue
Due: build_frontend, deploy_frontend, deploy_backend

MOB and DESK one URL
  crm/layouts/login.vue
  crm/pages/login.vue
  mob/components/Page/OnlyDesktop.vue
  mob/components/Ui/NoData.vue
  mob/layouts/default.vue
  mob/pages/login.vue
Due: build_frontend, deploy_frontend

Schedule fix
  mob/components/Page/OnlyDesktop.vue
  mob/components/Schedule/Schedule.vue
  mob/components/Ui/NoData.vue
Due: none

Teacher stats upd
  back/app/Utils/TeacherStats.php
  crm/components/Teacher/StatsTab.vue
Due: build_frontend, deploy_frontend, deploy_backend

MOB in logs
  back/app/Http/Controllers/LogController.php
  back/app/Http/Resources/LogResource.php
  back/app/Models/Log.php
  back/app/Observers/LogAllModelsObserver.php
  back/app/Providers/AppServiceProvider.php
  back/database/migrations/2025_04_07_121809_add_is_mobile_to_logs.php
  crm/components/Log/Filters.vue
  crm/components/Log/List.vue
  crm/pages/admin/logs.vue
  crm/utils/types.d.ts
  mob/.gitignore
  mob/components/Grade/Filters.vue
  mob/components/Report/EditPage.vue
  mob/components/Report/Filters.vue
  mob/components/Report/HeadTeacherTab.vue
  mob/components/Report/Requirement.vue
  mob/components/Report/Status.vue
  mob/components/Report/Tab.vue
  mob/components/Report/View.vue
  mob/components/Ui/Dropdown.vue
  mob/components/Ui/LastSeenAt.vue
  mob/composables/useAvailableYearsFilter.ts
  mob/composables/useHttp.ts
  mob/composables/useIndex.ts
  mob/composables/useMagicLink.ts
  mob/pages/client/reports/[id].vue
Due: build_frontend, deploy_frontend, deploy_backend

Update CalculatorMetric.vue
  crm/components/Stats/Metrics/CalculatorMetric.vue
Due: build_frontend, deploy_frontend

Group blur others in Admin
  crm/components/Group/List.vue
  crm/components/Group/TeacherList.vue
  crm/components/Teacher/GroupsTab.vue
  crm/pages/teacher/groups/index.vue
Due: build_frontend, deploy_frontend

Client directions upd
  back/app/Models/Client.php
  back/app/Utils/helpers.php
Due: deploy_backend

Teacher stats upd
  back/app/Console/Commands/TeacherStatsCommand.php
  back/app/Http/Controllers/Admin/TeacherController.php
  back/app/Models/Teacher.php
  back/app/Utils/TeacherStats.php
  back/database/migrations/2025_04_08_171520_add_stats_to_teachers.php
  crm/bun.lockb
  crm/components/Teacher/Stats/Tab.vue
  crm/components/Teacher/Stats/index.ts
  crm/components/Teacher/StatsTab.vue
  crm/package.json
  crm/pages/admin/_test/index.vue
  crm/pages/admin/teachers/[id].vue
  crm/plugins/vuetify.ts
Due: build_frontend, deploy_frontend, deploy_backend

@vue/server-renderer added to DEV dependencies
  back/app/Console/Commands/TeacherStatsCommand.php
  back/app/Console/Kernel.php
  crm/bun.lockb
  crm/package.json
Due: build_frontend, deploy_frontend, deploy_backend

remove @vue/server-renderer
  crm/bun.lockb
  crm/package.json
Due: build_frontend, deploy_frontend
