Repository maxflex/ec: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, deploy_frontend, deploy_backend

.gitlab-ci.yml:

stages:
  - build
  - deploy

variables:
  NODE_ENV: "production"
  BUN_INSTALL: "true"
  BRANCH: main
  REMOTE_ADDRESS: root@104.248.88.1
  DEPLOY_DIR: /var/www/ec


workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == $BRANCH

before_script:
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H $REMOTE_ADDRESS >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts

### 🏗 BUILD FRONTEND (Nuxt 3) ###
build_frontend:
  stage: build
  image: oven/bun:latest  # ✅ Use Bun's official image
  only:
    changes:
      - crm/**/*
  before_script:
    - cd crm
    - bun install
  script:
    - bun run build
  artifacts:
    paths:
      - crm/.output/

### 🚀 DEPLOY FRONTEND ###
deploy_frontend:
  stage: deploy
  only:
    changes:
      - crm/**/*
  needs:
    - build_frontend  # ✅ Ensure build finishes before deploying
  before_script:
    - apt-get update -y
    - apt-get -y install rsync
    - mkdir -p ~/.ssh
    - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - rsync -a crm/.output $REMOTE_ADDRESS:$DEPLOY_DIR/crm
    - ssh $REMOTE_ADDRESS "cd $DEPLOY_DIR/crm && pm2 restart ecosystem.config.js || pm2 start ecosystem.config.js"

### 🚀 DEPLOY BACKEND (Laravel) ###
deploy_backend:
  stage: deploy
  only:
    changes:
      - back/**/*
  script:
    - |
      ssh $REMOTE_ADDRESS << 'EOF'
      cd $DEPLOY_DIR/back
      git pull origin $BRANCH
      composer install --no-dev --optimize-autoloader
      php artisan config:cache
      php artisan route:cache
      php artisan view:cache
      php artisan migrate --force
      EOF

Update index.ts
  crm/utils/index.ts
Due: build_frontend, deploy_frontend

Update all-payments.vue
  crm/pages/admin/all-payments.vue
Due: build_frontend, deploy_frontend

Group level upd
  back/database/migrations/2025_08_28_180710_change_level_to_be_any_letter_in_groups.php
  crm/components/Group/Dialog.vue
  crm/components/Group/index.ts
  crm/pages/admin/all-payments.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Two clients in requests
  crm/components/Request/Item.vue
Due: build_frontend, deploy_frontend

Log number/tgid in auth
  back/app/Http/Controllers/Pub/AuthController.php
  back/app/Models/Log.php
Due: deploy_backend

First lesson notification
  back/app/Console/Commands/Notification/FirstLessonTodayCommand.php
  back/app/Console/Commands/Notification/FirstLessonTomorrowCommand.php
  back/app/Console/Kernel.php
  back/app/Enums/TelegramTemplate.php
  back/resources/views/templates/first-lesson-day-after-tomorrow.blade.php
  back/resources/views/templates/first-lesson-today.blade.php
  back/resources/views/templates/first-lesson-tomorrow.blade.php
  crm/utils/labels.ts
Due: build_frontend, deploy_frontend, deploy_backend

LK Control fix
  back/app/Http/Resources/ControlLkResource.php
  back/app/Models/Client.php
  back/app/Models/Representative.php
Due: deploy_backend

Remember user => user in greeting
  back/app/Console/Commands/Once/ClientParentToRepresentativeCommand.php
  crm/pages/client/index.vue
  mob/pages/client/index.vue
  mob/pages/representative/index.vue
Due: build_frontend, deploy_frontend, deploy_backend

Fix mob for Representatives
  mob/layouts/default.vue
  mob/stores/useAuthStore.ts
Due: none

Fix mob for Representative menu
  mob/components/App/Header/Header.vue
Due: none

Fix contract update without new version
  back/app/Http/Controllers/Admin/ContractVersionController.php
Due: deploy_backend

Rename client role to student
  back/app/Enums/RouteGroup.php
  back/app/Providers/RouteServiceProvider.php
  back/routes/student.php
  crm/components/Client/index.ts
  crm/components/ClientTest/List.vue
  crm/components/Control/LkList.vue
  crm/components/Log/Tab.vue
  crm/components/Phone/PreviewModeBtn.vue
  crm/components/Schedule/Schedule.vue
  crm/components/Search/Results/ClientItem.vue
  crm/pages/admin/clients/[id].vue
  crm/pages/admin/control/lessons.vue
  crm/pages/admin/passes/permanent.vue
  crm/pages/admin/passes/stats.vue
  crm/stores/useAuthStore.ts
  crm/utils/labels.ts
  mob/layouts/default.vue
  mob/stores/useAuthStore.ts
  mob/utils/labels.ts
Due: build_frontend, deploy_frontend, deploy_backend

Add student migration and model alias
  back/app/Http/Controllers/Admin/GradeController.php
  back/app/Http/Controllers/Student/BillingController.php
  back/app/Http/Controllers/Student/GradeController.php
  back/app/Http/Controllers/Student/GroupController.php
  back/app/Http/Controllers/Student/JournalController.php
  back/app/Http/Controllers/Student/LessonController.php
  back/app/Http/Controllers/Student/ReportController.php
  back/app/Http/Controllers/Student/StudentTestController.php
  back/app/Models/Client.php
  back/app/Models/Contract.php
  back/app/Models/Group.php
  back/app/Models/Student.php
  back/database/migrations/2024_01_16_153648_create_students_table.php
  back/database/migrations/2024_02_15_162501_create_contracts_table.php
  back/database/migrations/2024_07_09_160803_create_grades_table.php
  back/database/migrations/2025_09_01_000000_rename_clients_to_students_table.php
  back/routes/student.php
Due: deploy_backend

Chart fix
  crm/pages/admin/stats.vue
Due: build_frontend, deploy_frontend

ScheduleDraft algo small updates
  back/app/Http/Controllers/Admin/SwampController.php
  back/app/Http/Resources/TeacherListResource.php
  back/app/Models/ScheduleDraft.php
  crm/assets/scss/styles.scss
  crm/components/Group/List.vue
  crm/components/Group/StudentsTab.vue
  crm/components/HeadTeacher/ClientGroupsTab.vue
  crm/components/ScheduleDraft/GroupList.vue
  crm/components/ScheduleDraft/index.ts
  crm/components/Swamp/AddToGroup/List.vue
  crm/components/Swamp/AddToGroup/Problems.vue
  crm/components/Swamp/AddToGroup/index.ts
  crm/components/Swamp/List.vue
  crm/components/Teacher/GroupsTab.vue
  crm/components/Teacher/List.vue
  crm/pages/admin/groups/[id].vue
  crm/pages/admin/groups/index.vue
  crm/pages/teacher/groups/index.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

First lesson cmd upd
  back/app/Console/Commands/Notification/FirstLessonCommand.php
  back/app/Console/Commands/Notification/FirstLessonTodayCommand.php
  back/app/Console/Commands/Notification/FirstLessonTomorrowCommand.php
  back/app/Enums/Cabinet.php
  back/app/Enums/Program.php
  back/app/Enums/TelegramTemplate.php
  back/app/Providers/AppServiceProvider.php
  back/app/Traits/HasName.php
  back/resources/views/templates/first-lesson-day-after-tomorrow.blade.php
  back/resources/views/templates/first-lesson-today.blade.php
  back/resources/views/templates/first-lesson-tomorrow.blade.php
  back/resources/views/templates/first-lesson20min.blade.php
Due: deploy_backend

Telegram lists visual upd
  back/app/Enums/Program.php
  back/app/Http/Resources/PersonWithPhonesResource.php
  back/app/Models/TelegramList.php
  crm/assets/scss/styles.scss
  crm/components/Client/Directions.vue
  crm/components/Client/List.vue
  crm/components/Control/LkList.vue
  crm/components/Menu/ClientMenu.vue
  crm/components/ScheduleDraft/List.vue
  crm/components/TelegramList/List.vue
  crm/pages/admin/people-selector/index.vue
  crm/pages/admin/people-selector/send.vue
  crm/pages/admin/telegram-lists/[id].vue
  crm/pages/representative/index.vue
  mob/components/App/Header/menu.ts
Due: build_frontend, deploy_frontend, deploy_backend

Schedule for representatives fix
  back/app/Http/Resources/AuthResource.php
  crm/components/Lesson/Item/AdminClient.vue
  crm/components/Schedule/Schedule.vue
  crm/pages/representative/schedule.vue
  crm/utils/types.d.ts
  mob/pages/representative/schedule.vue
  mob/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Mob lk fix
  crm/nuxt.config.ts
  mob/components/Cabinet/index.ts
  mob/components/Schedule/Row/Lesson.vue
  mob/nuxt.config.ts
  mob/public/robots.txt
  mob/utils/types.d.ts
Due: build_frontend, deploy_frontend

GroupSwamp fix
  back/app/Models/ScheduleDraft.php
  back/app/Observers/ClientGroupObserver.php
  crm/components/Group/StudentsTab.vue
  crm/components/Ui/Tabs.vue
Due: build_frontend, deploy_frontend, deploy_backend

ScheduleDraft in SwampList
  back/app/Http/Resources/SwampListResource.php
  crm/components/Swamp/ItemAttached.vue
  crm/components/Swamp/ItemUnattached.vue
  crm/components/Swamp/List.vue
  crm/components/Swamp/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

First lesson notification
  back/app/Console/Commands/Notification/FirstLessonCommand.php
  back/app/Console/Kernel.php
Due: deploy_backend

First lesson
  back/app/Console/Commands/Notification/FirstLessonCommand.php
  crm/utils/labels.ts
Due: build_frontend, deploy_frontend, deploy_backend

LK fix
  back/resources/views/templates/client-lesson-status.blade.php
  crm/components/Schedule/Schedule.vue
  crm/components/Swamp/List.vue
  crm/pages/admin/all-lessons.vue
  mob/components/Schedule/Schedule.vue
  mob/pages/client/index.vue
  mob/pages/representative/index.vue
Due: build_frontend, deploy_frontend, deploy_backend

Fix year selector in Journal
  back/app/Http/Controllers/Client/JournalController.php
  back/app/Http/Controllers/Representative/JournalController.php
Due: deploy_backend

Update Problems.vue
  crm/components/ScheduleDraft/Problems.vue
Due: build_frontend, deploy_frontend

hotfix: SentTelegramMessages
  back/app/Console/Commands/SendTelegramMessages.php
Due: deploy_backend

Draft list upd
  crm/components/ScheduleDraft/Problems.vue
  crm/components/Swamp/Changes.vue
  crm/components/Swamp/ItemAttached.vue
  crm/components/Swamp/ItemUnattached.vue
  crm/components/Swamp/List.vue
Due: build_frontend, deploy_frontend

Draft in SwampList clean-up
  back/app/Http/Resources/SwampListResource.php
  crm/components/Swamp/Changes.vue
  crm/components/Swamp/ItemAttached.vue
  crm/components/Swamp/ItemUnattached.vue
  crm/components/Swamp/List.vue
  crm/components/Swamp/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

Schedule draft always current academic year
  back/app/Http/Controllers/Admin/ScheduleDraftController.php
  back/app/Models/ScheduleDraft.php
  crm/components/Client/GroupsTab.vue
  crm/components/ScheduleDraft/Editor.vue
  crm/pages/admin/schedule-drafts/editor.vue
Due: build_frontend, deploy_frontend, deploy_backend

20 min conduct minimum
  back/app/Http/Controllers/Teacher/LessonController.php
  crm/components/Lesson/ConductDialog.vue
  crm/components/Lesson/Item/TeacherLK.vue
  crm/utils/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

Update LessonController.php
  back/app/Http/Controllers/Teacher/LessonController.php
Due: deploy_backend

together fixes
  back/app/Http/Controllers/Admin/ClientGroupController.php
  back/app/Http/Controllers/Admin/LessonController.php
  back/app/Http/Controllers/Client/LessonController.php
  back/app/Http/Controllers/Representative/LessonController.php
  back/app/Models/Client.php
  back/app/Models/Group.php
  back/routes/client.php
  back/routes/representative.php
  crm/components/Group/Panel.vue
  crm/components/Group/StudentsCount.vue
  crm/components/Group/StudentsTab.vue
  crm/components/Lesson/Item/AdminGroup.vue
  crm/components/Lesson/Item/TeacherLK.vue
  crm/components/Schedule/Schedule.vue
  crm/components/Swamp/Changes.vue
  crm/components/Swamp/ItemAttached.vue
  crm/components/Swamp/ItemUnattached.vue
  crm/components/Swamp/List.vue
  crm/components/Ui/Tabs.vue
  crm/pages/admin/cabinets.vue
  crm/pages/admin/groups/[id].vue
  crm/pages/teacher/groups/[id].vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Teacher instruction sign fix
  back/app/Http/Controllers/Admin/InstructionController.php
  back/app/Http/Controllers/Teacher/InstructionController.php
  back/app/Http/Resources/InstructionTeacherListResource.php
Due: deploy_backend

Swamps by program
  back/app/Http/Controllers/Admin/SwampController.php
  back/app/Http/Resources/LessonListResource.php
  crm/components/Lesson/Item/AllLessons.vue
  crm/components/Log/List.vue
  crm/components/Menu/AdminMenu.vue
  crm/pages/admin/swamps.vue
  crm/pages/admin/swamps/by-program.vue
Due: build_frontend, deploy_frontend, deploy_backend

Quarter updates
  back/app/Console/Commands/Once/SetSchoolQuartersCommand.php
  back/app/Enums/Program.php
  back/app/Http/Controllers/Admin/ControlController.php
  back/app/Http/Resources/ClientResource.php
  back/app/Http/Resources/ControlLkResource.php
  back/app/Models/Client.php
  back/database/migrations/2025_09_11_171954_add_bio_to_clients.php
  crm/components/Client/Dialog.vue
  crm/components/Client/index.ts
  crm/pages/admin/swamps.vue
Due: build_frontend, deploy_frontend, deploy_backend

fix
  back/app/Console/Commands/Once/SetSchoolQuartersCommand.php
Due: deploy_backend

Update SetSchoolQuartersCommand.php
  back/app/Console/Commands/Once/SetSchoolQuartersCommand.php
Due: deploy_backend
