Repository maxflex/ec: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

.gitlab-ci.yml:

stages:
  - build
  - deploy

variables:
  BRANCH: main
  REMOTE_ADDRESS: 104.248.88.1
  DEPLOY_DIR: /var/www/ec

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == $BRANCH

before_script:
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H $REMOTE_ADDRESS >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts


### 🏗 BUILD CRM (Nuxt 3) ###
build_crm:
  stage: build
  image: oven/bun:latest  # ✅ Use Bun's official image
  only:
    changes:
      - crm/**/*
  before_script:
    - cd crm
    - bun install
  script:
    - bun run build
  artifacts:
    paths:
      - crm/.output/


### 🚀 DEPLOY CRM ###
deploy_crm:
  stage: deploy
  only:
    changes:
      - crm/**/*
  needs:
    - build_crm  # ✅ Ensure build finishes before deploying
  before_script:
    - apt-get update -y
    - apt-get -y install rsync
    - mkdir -p ~/.ssh
    - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - rsync -a --delete crm/.output root@$REMOTE_ADDRESS:$DEPLOY_DIR/crm
    - ssh root@$REMOTE_ADDRESS "cd $DEPLOY_DIR/crm && /root/.nvm/versions/node/v20.11.1/bin/pm2 start ecosystem.config.js"

### 🏗 BUILD MOB (Nuxt 3) ###
build_mob:
  stage: build
  image: oven/bun:latest  # ✅ Use Bun's official image
  only:
    changes:
      - mob/**/*
  before_script:
    - cd mob
    # - cp -r ../crm/utils ./utils
    - bun install
  script:
    - bun run build
  artifacts:
    paths:
      - mob/.output/


### 🚀 DEPLOY MOB ###
deploy_mob:
  stage: deploy
  only:
    changes:
      - mob/**/*
  needs:
    - build_mob  # ✅ Ensure build finishes before deploying
  before_script:
    - apt-get update -y
    - apt-get -y install rsync
    - mkdir -p ~/.ssh
    - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - rsync -a --delete mob/.output root@$REMOTE_ADDRESS:$DEPLOY_DIR/mob
    - ssh root@$REMOTE_ADDRESS "cd $DEPLOY_DIR/mob && /root/.nvm/versions/node/v20.11.1/bin/pm2 start ecosystem.config.js"


### 🚀 DEPLOY BACKEND (Laravel) ###
deploy_backend:
  stage: deploy
  only:
    changes:
      - back/**/*
  script:
    - ssh root@$REMOTE_ADDRESS "cd $DEPLOY_DIR/back && git pull origin $BRANCH && composer install --no-dev --optimize-autoloader && php artisan config:cache && php artisan route:cache && php artisan view:cache && php artisan migrate --force && php artisan horizon:terminate"

TG List bugfix small
  back/app/Utils/helpers.php
  crm/components/TelegramMessage/Preview.vue
Due: build_crm, deploy_crm, deploy_backend

OneC возврат
  back/app/Utils/OneC.php
Due: deploy_backend

Receipt ANO
  back/app/Http/Controllers/Admin/ContractPaymentController.php
  back/app/Http/Controllers/Pub/SbpController.php
  back/app/Models/ContractPayment.php
  back/app/Observers/ContractPaymentObserver.php
  back/app/Utils/AllPayments.php
  back/app/Utils/Receipt.php
  back/config/receipt.php
  back/database/migrations/2025_12_18_133712_add_receipt_ip_to_contract_payments.php
  back/database/migrations/2025_12_18_142145_drop_external_id_from_contract_payments.php
  crm/components/ContractPayment/Dialog.vue
  crm/components/ContractPayment/Icons.vue
  crm/components/ContractPayment/index.ts
  crm/components/OtherPayment/index.ts
  crm/components/Ui/DateInput.vue
Due: build_crm, deploy_crm, deploy_backend

Receipt logic upd
  back/app/Http/Controllers/Admin/ContractPaymentController.php
  crm/components/ContractPayment/Dialog.vue
Due: build_crm, deploy_crm, deploy_backend

TMP Receipt rollback
  back/app/Http/Controllers/Admin/ContractPaymentController.php
  back/app/Http/Controllers/Representative/GradeController.php
  crm/components/ContractPayment/Dialog.vue
Due: build_crm, deploy_crm, deploy_backend

Update Dialog.vue
  crm/components/ContractPayment/Dialog.vue
Due: build_crm, deploy_crm

Receipt upd
  back/app/Http/Controllers/Admin/ContractPaymentController.php
  back/app/Utils/Receipt.php
Due: deploy_backend

Update Receipt.php
  back/app/Utils/Receipt.php
Due: deploy_backend

OtherPayment receipt
  back/app/Http/Controllers/Admin/ContractPaymentController.php
  back/app/Http/Controllers/Admin/OtherPaymentController.php
  back/app/Models/ContractPayment.php
  back/app/Models/OtherPayment.php
  back/app/Observers/ContractPaymentObserver.php
  back/app/Observers/ReceiptObserver.php
  back/app/Utils/AllPayments.php
  back/app/Utils/Receipt/Receipt.php
  back/app/Utils/Receipt/ReceiptData.php
  back/app/Utils/Receipt/ReceiptInterface.php
  back/config/receipt.php
  back/database/migrations/2025_12_18_182002_add_receipt_number_to_other_payments.php
  crm/components/OtherPayment/Dialog.vue
  crm/components/OtherPayment/index.ts
  crm/pages/admin/all-payments.vue
Due: build_crm, deploy_crm, deploy_backend

Receipt logic upd
  back/app/Enums/OtherPaymentMethod.php
  back/app/Http/Controllers/Admin/ContractPaymentController.php
  back/app/Http/Controllers/Admin/OtherPaymentController.php
  back/app/Models/OtherPayment.php
  back/app/Utils/AllPayments.php
  back/database/migrations/2025_12_19_134841_drop_receipt_number_from_other_payments.php
  crm/components/ContractPayment/Dialog.vue
  crm/components/OtherPayment/Dialog.vue
Due: build_crm, deploy_crm, deploy_backend

Print Bill Dialog
  back/app/Http/Controllers/Admin/PrintController.php
  crm/components/Contract/Tab.vue
  crm/components/ContractPayment/Dialog.vue
  crm/components/Print/BillDialog.vue
  crm/components/Print/index.ts
Due: build_crm, deploy_crm, deploy_backend

Receipt upd
  back/app/Observers/ReceiptObserver.php
  back/app/Utils/Receipt/ReceiptData.php
  crm/components/ContractPayment/Dialog.vue
  crm/components/OtherPayment/Dialog.vue
  crm/components/OtherPayment/index.ts
Due: build_crm, deploy_crm, deploy_backend

trash logs removed
  back/app/Http/Controllers/Client/GradeController.php
  back/app/Http/Controllers/Representative/GradeController.php
Due: deploy_backend

cloneDeep – global
  crm/components/Client/MarkSheetTab.vue
  crm/components/ClientLesson/EditPriceDialog.vue
  crm/components/ContractPayment/Dialog.vue
  crm/components/Event/Dialog.vue
  crm/components/ExamScore/Dialog.vue
  crm/components/Group/Dialog.vue
  crm/components/GroupAct/Dialog.vue
  crm/components/HeadTeacherReport/Dialog.vue
  crm/components/Instruction/EditPage.vue
  crm/components/Lesson/BulkUpdateDialog.vue
  crm/components/Lesson/ConductDialog.vue
  crm/components/Lesson/Dialog.vue
  crm/components/OtherPayment/Dialog.vue
  crm/components/Report/Dialog.vue
  crm/components/Request/Dialog.vue
  crm/components/Teacher/Dialog.vue
  crm/components/TeacherPayment/Dialog.vue
  crm/components/TeacherService/Dialog.vue
  crm/components/Test/Dialog.vue
  crm/components/Test/SelectorDialog.vue
  crm/components/Topic/Dialog.vue
  crm/components/User/Dialog.vue
  crm/components/WebReview/Dialog.vue
  crm/composables/useCrud.ts
  crm/pages/admin/events/[id]/index.vue
  crm/pages/admin/group-message/send.vue
  crm/pages/admin/macros/[id].vue
  crm/pages/admin/stats.vue
  crm/pages/client/tests/active.vue
  crm/pages/representative/tests/active.vue
Due: build_crm, deploy_crm

Events style updates
  back/app/Http/Resources/EventListResource.php
  back/app/Http/Resources/EventParticipantResource.php
  crm/components/Event/PageId.vue
  crm/components/Event/index.ts
  mob/assets/scss/styles.scss
  mob/components/Client/Directions.vue
  mob/components/Event/PageId.vue
Due: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

OneC proxy
  back/app/Console/Kernel.php
  back/app/Utils/AllPayments.php
  back/app/Utils/OneC.php
  back/app/Utils/Receipt/Receipt.php
  back/config/receipt.php
  crm/components/ContractPayment/Icons.vue
  crm/components/OtherPayment/index.ts
Due: build_crm, deploy_crm, deploy_backend

Update OneC.php
  back/app/Utils/OneC.php
Due: deploy_backend

Update ContractBalanceController.php
  back/app/Http/Controllers/Admin/ContractBalanceController.php
Due: deploy_backend

ViolationVideo
  back/app/Http/Resources/LessonListResource.php
  back/app/Http/Resources/LessonResource.php
  back/app/Models/Lesson.php
  back/database/migrations/2025_12_24_144653_add_violation_video_to_lessons.php
  crm/components/ContractPayment/Dialog.vue
  crm/components/ContractPayment/Icons.vue
  crm/components/ContractPayment/index.ts
  crm/components/File/VideoUploader.vue
  crm/components/Lesson/Dialog.vue
  crm/components/Teacher/ViolationsTab.vue
  crm/pages/admin/all-payments.vue
  crm/utils/types.d.ts
Due: build_crm, deploy_crm, deploy_backend

VioldationVideo commented
  crm/components/Lesson/Dialog.vue
  crm/components/Menu/TeacherMenu.vue
  crm/pages/admin/all-payments.vue
  crm/pages/teacher/violations.vue
Due: build_crm, deploy_crm

Update List.vue
  crm/components/Client/List.vue
Due: build_crm, deploy_crm

Teacher complaints
  back/app/Enums/TeacherComplaintStatus.php
  back/app/Http/Controllers/Admin/TeacherComplaintController.php
  back/app/Http/Controllers/Teacher/TeacherComplaintController.php
  back/app/Http/Resources/TeacherComplaintResource.php
  back/app/Models/Teacher.php
  back/app/Models/TeacherComplaint.php
  back/database/migrations/2026_01_13_160348_create_teacher_complaints_table.php
  back/routes/admin.php
  back/routes/teacher.php
  crm/components/Menu/AdminMenu.vue
  crm/components/Menu/TeacherMenu.vue
  crm/components/TeacherComplaint/Dialog.vue
  crm/components/TeacherComplaint/List.vue
  crm/components/TeacherComplaint/Tab.vue
  crm/components/TeacherComplaint/index.ts
  crm/pages/admin/teacher-complaints.vue
  crm/pages/teacher/complaint.vue
  crm/pages/teacher/violations.vue
  crm/utils/labels.ts
Due: build_crm, deploy_crm, deploy_backend

TeacherComplaint upd
  back/app/Enums/TeacherComplaintRecipient.php
  back/app/Http/Controllers/Admin/TeacherComplaintController.php
  back/app/Http/Controllers/Teacher/TeacherComplaintController.php
  back/app/Http/Resources/TeacherComplaintResource.php
  back/app/Models/TeacherComplaint.php
  back/database/migrations/2026_01_13_160348_create_teacher_complaints_table.php
  crm/components/TeacherComplaint/Dialog.vue
  crm/components/TeacherComplaint/List.vue
  crm/components/TeacherComplaint/index.ts
  crm/pages/admin/teacher-complaints.vue
  crm/pages/teacher/complaint.vue
Due: build_crm, deploy_crm, deploy_backend

Teeth algo upd
  back/app/Http/Controllers/Admin/TeacherComplaintController.php
  back/app/Utils/Teeth.php
Due: deploy_backend

New print macro
  back/app/Http/Controllers/Admin/PrintController.php
  back/app/Http/Controllers/Pub/SbpController.php
  back/app/Models/ContractPayment.php
  back/app/Models/Group.php
  back/app/Observers/ContractPaymentObserver.php
  back/app/Observers/ReceiptObserver.php
  back/database/migrations/2026_01_15_165252_add_is_in_contract_to_groups.php
  crm/components/Group/Dialog.vue
  crm/components/Group/index.ts
  crm/components/Print/TeacherGroups.vue
  crm/components/Print/index.ts
  crm/pages/admin/teachers/[id].vue
Due: build_crm, deploy_crm, deploy_backend

Teacher contracts
  back/app/Http/Controllers/Admin/TeacherContractController.php
  back/app/Http/Resources/TeacherContractListResource.php
  back/app/Models/Lesson.php
  back/app/Models/Teacher.php
  back/app/Models/TeacherContract.php
  back/database/migrations/2026_01_17_115704_create_teacher_contracts_table.php
  back/routes/admin.php
  crm/assets/scss/_dialog.scss
  crm/components/File/Item.vue
  crm/components/File/PhotoUploader.vue
  crm/components/File/Uploader.vue
  crm/components/File/VideoUploader.vue
  crm/components/File/index.ts
  crm/components/Pass/Dialog.vue
  crm/components/TeacherComplaint/List.vue
  crm/components/TeacherComplaint/Tab.vue
  crm/components/TeacherContract/Dialog.vue
  crm/components/TeacherContract/List.vue
  crm/components/TeacherContract/Tab.vue
  crm/components/TeacherContract/index.ts
  crm/pages/admin/teachers/[id].vue
  crm/utils/types.d.ts
Due: build_crm, deploy_crm, deploy_backend

Teacher contracts - finished
  back/app/Http/Controllers/Admin/PrintController.php
  back/app/Http/Controllers/Admin/TeacherContractController.php
  back/app/Http/Resources/TeacherContractResource.php
  back/app/Models/TeacherContract.php
  back/app/Utils/helpers.php
  crm/components/Crud/Dialog.vue
  crm/components/Menu/AdminMenu.vue
  crm/components/Print/TeacherGroups.vue
  crm/components/TeacherContract/DataTable.vue
  crm/components/TeacherContract/Dialog.vue
  crm/components/TeacherContract/List.vue
  crm/components/TeacherContract/Tab.vue
  crm/components/TeacherContract/index.ts
  crm/composables/useCrud.ts
  crm/pages/admin/teacher-contracts.vue
Due: build_crm, deploy_crm, deploy_backend

SBP online fix
  back/app/Http/Controllers/Pub/SbpController.php
  back/app/Observers/ContractPaymentObserver.php
  back/app/Utils/Receipt/ReceiptData.php
Due: deploy_backend

Update Group.php
  back/app/Models/Group.php
Due: deploy_backend

Teacher contract year change
  crm/components/Teacher/Dialog.vue
  crm/components/TeacherContract/Dialog.vue
Due: build_crm, deploy_crm

Teacher contracts upd
  back/app/Http/Controllers/Admin/TeacherContractController.php
  back/app/Http/Resources/TeacherContractListResource.php
  back/app/Models/TeacherContract.php
  back/database/migrations/2026_01_17_115704_create_teacher_contracts_table.php
  crm/components/TeacherContract/Dialog.vue
  crm/components/TeacherContract/List.vue
  crm/components/TeacherContract/index.ts
  crm/pages/admin/groups/[id].vue
Due: build_crm, deploy_crm, deploy_backend

Teacher contracts
  back/app/Http/Controllers/Admin/TeacherContractController.php
  back/app/Http/Resources/TeacherContractListResource.php
  back/app/Http/Resources/TeacherContractResource.php
  back/app/Models/TeacherContract.php
  crm/components/TeacherContract/DataTable.vue
  crm/components/TeacherContract/Dialog.vue
  crm/components/TeacherContract/List.vue
  crm/components/TeacherContract/index.ts
  crm/pages/admin/teacher-contracts.vue
Due: build_crm, deploy_crm, deploy_backend

Print dialog options
  back/app/Http/Controllers/Admin/PrintController.php
  crm/components/Print/index.ts
  crm/components/TeacherContract/Dialog.vue
Due: build_crm, deploy_crm, deploy_backend

Update PrintController.php
  back/app/Http/Controllers/Admin/PrintController.php
Due: deploy_backend
