Repository maxflex/ec: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, deploy_frontend, deploy_backend

build_frontend:
  stage: build
  image: oven/bun:latest
  before_script:
  - cd crm
  - bun install
  script:
  - bun run build
  artifacts:
    paths:
    - crm/.output/

deploy_frontend:
  stage: deploy
  needs:
  - build_frontend
  before_script:
  - apt-get update -y
  - apt-get -y install rsync
  - mkdir -p ~/.ssh
  - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
  ...

deploy_backend:
  stage: deploy
  script:
  - 'ssh $REMOTE_ADDRESS << ''EOF''
  
    cd $DEPLOY_DIR/back
  
    git pull origin $BRANCH
  
    composer install --no-dev --optimize-autoloader
  
    php artisan config:cache
  
    php artisan route:cache
  
    php artisan view:cache
  
    php artisan migrate --force
  
    EOF'

Notify LK
  back/app/Console/Commands/Once/NotifyLkCommand.php
  back/app/Models/TelegramMessage.php
  back/resources/views/once/notify-lk.blade.php
  crm/components/Request/Dialog.vue
Due: build_frontend, deploy_frontend, deploy_backend

typo fix
  back/app/Console/Commands/Once/NotifyLkCommand.php
Due: deploy_backend

Client MarkSheet
  back/app/Http/Controllers/Common/AuthController.php
  back/app/Http/Resources/ClientResource.php
  back/app/Models/Client.php
  back/database/migrations/2025_03_14_161829_add_mark_sheet_to_clients.php
  crm/components/Client/Dialog.vue
  crm/components/Client/List.vue
  crm/components/Client/MarkSheetDialog.vue
  crm/components/Client/Selector.vue
  crm/components/Client/index.ts
  crm/components/Request/index.ts
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

WebReview fix
  back/app/Http/Controllers/Pub/WebReviewController.php
Due: deploy_backend

WebReview pub fix
  back/app/Http/Controllers/Pub/WebReviewController.php
Due: deploy_backend

MarkSheet moved out of dialog
  crm/components/Client/Dialog.vue
  crm/components/Client/MarkSheetDialog.vue
  crm/components/Client/index.ts
  crm/pages/admin/clients/[id].vue
Due: build_frontend, deploy_frontend

Move icon
  crm/pages/admin/clients/[id].vue
Due: build_frontend, deploy_frontend

ReportView beautify
  back/app/Http/Resources/ReportResource.php
  back/app/Http/Resources/TeacherListResource.php
  crm/components/Report/View.vue
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Report upd
  crm/components/Report/View.vue
Due: build_frontend, deploy_frontend

Update Dialog.vue
  crm/components/ExamDate/Dialog.vue
Due: build_frontend, deploy_frontend

Instructions fix
  back/app/Http/Controllers/Admin/InstructionController.php
  back/app/Models/Instruction.php
Due: deploy_backend

[wip] stats
  back/app/Models/ScholarshipScore.php
  back/app/Utils/Stats/Metrics/AllPaymentsMetric.php
  back/app/Utils/Stats/Metrics/BaseMetric.php
  back/app/Utils/Stats/Metrics/ClientLessonMetric.php
  back/app/Utils/Stats/Metrics/ContractVersionMetric.php
  back/app/Utils/Stats/Metrics/LessonMetric.php
  back/app/Utils/Stats/Metrics/MetricInterface.php
  back/app/Utils/Stats/Metrics/PassLogMetric.php
  back/app/Utils/Stats/Metrics/ReportMetric.php
  back/app/Utils/Stats/Metrics/ReportSumMetric.php
  back/app/Utils/Stats/Metrics/RequestMetric.php
  back/app/Utils/Stats/Metrics/TeacherLessonMetric.php
  back/app/Utils/Stats/Metrics/TeacherPaymentMetric.php
  back/app/Utils/Stats/Metrics/TeacherServiceMetric.php
  back/app/Utils/Stats/Metrics/TelegramMessageMetric.php
  back/app/Utils/Stats/Stats.php
  crm/components/Stats/Dialog.vue
  crm/components/Stats/Metrics/ReportMetric.vue
  crm/components/Stats/Metrics/ReportSumMetric.vue
  crm/components/Stats/Metrics/TeacherServiceMetric.vue
  crm/components/Stats/Metrics/index.ts
  crm/components/Stats/SavePresetDialog.vue
  crm/pages/admin/stats.vue
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Remove grade from Clients
  back/app/Http/Resources/ClientResource.php
  back/app/Models/Client.php
  back/database/migrations/2025_03_17_160208_drop_grade_from_clients.php
  crm/components/Client/Dialog.vue
  crm/components/Client/index.ts
  crm/pages/admin/clients/[id].vue
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Stats completed
  back/app/Utils/Stats/Metrics/PercentMetric.php
  back/app/Utils/Stats/Stats.php
  crm/components/Stats/Dialog.vue
  crm/components/Stats/Metrics/PercentMetric.vue
  crm/components/Stats/Metrics/ReportMetric.vue
  crm/components/Stats/Metrics/RequestMetric.vue
  crm/components/Stats/Metrics/index.ts
  crm/pages/admin/stats.vue
Due: build_frontend, deploy_frontend, deploy_backend

Calendar fix
  crm/assets/scss/_calendar.scss
Due: build_frontend, deploy_frontend

SetGroupCreatedAtCommand
  back/app/Console/Commands/Once/SetGroupCreatedAtCommand.php
  crm/pages/client/billing.vue
Due: build_frontend, deploy_frontend, deploy_backend

ContractPaymentMetric fix
  back/app/Utils/Stats/Metrics/ContractPaymentMetric.php
Due: deploy_backend

ScholarshipScore fix
  back/app/Models/ScholarshipScore.php
Due: deploy_backend

Rename label in metric
  crm/components/Stats/Metrics/RequestMetric.vue
Due: build_frontend, deploy_frontend

PercentMetric upd
  back/app/Utils/Stats/Metrics/PercentMetric.php
  crm/components/Stats/Dialog.vue
  crm/components/Stats/Metrics/PercentMetric.vue
Due: build_frontend, deploy_frontend, deploy_backend

New metric RequestPasses
  back/app/Utils/Stats/Metrics/PassMetric.php
  back/app/Utils/Stats/Metrics/ReportMetric.php
  back/app/Utils/Stats/Metrics/RequestPassesMetric.php
  crm/components/Stats/Metrics/PassMetric.vue
  crm/components/Stats/Metrics/RequestMetric.vue
  crm/components/Stats/Metrics/RequestPassesMetric.vue
  crm/components/Stats/Metrics/index.ts
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Calculator Metric
  back/app/Utils/Stats/Metrics/BaseMetric.php
  back/app/Utils/Stats/Metrics/CalculatorMetric.php
  back/app/Utils/Stats/Metrics/ClientLessonMetric.php
  back/app/Utils/Stats/Metrics/ContractMetric.php
  back/app/Utils/Stats/Metrics/PercentMetric.php
  back/app/Utils/Stats/Stats.php
  crm/components/Stats/Dialog.vue
  crm/components/Stats/Metrics/CalculatorMetric.vue
  crm/components/Stats/Metrics/ClientLessonMetric.vue
  crm/components/Stats/Metrics/ContractMetric.vue
  crm/components/Stats/Metrics/Editor.vue
  crm/components/Stats/Metrics/PercentMetric.vue
  crm/components/Stats/Metrics/index.ts
  crm/components/Stats/SavePresetDialog.vue
  crm/pages/admin/stats.vue
Due: build_frontend, deploy_frontend, deploy_backend

Summary upd
  back/app/Utils/Stats/Metrics/BaseMetric.php
  back/app/Utils/Stats/Metrics/ContractMetric.php
  back/app/Utils/Stats/Metrics/LessonMetric.php
Due: deploy_backend

Instruction status
  back/app/Console/Commands/Once/UpdateEnumsCommand.php
  back/app/Enums/InstructionStatus.php
  back/app/Http/Resources/InstructionListResource.php
  back/app/Http/Resources/InstructionResource.php
  back/app/Http/Resources/InstructionTeacherListResource.php
  back/app/Http/Resources/InstructionTeacherResource.php
  back/app/Models/Instruction.php
  back/database/migrations/2025_03_19_140459_add_status_to_instructions.php
  crm/components/Instruction/EditPage.vue
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Округление до целых
  back/app/Utils/Stats/Metrics/CalculatorMetric.php
  crm/components/Stats/Metrics/CalculatorMetric.vue
Due: build_frontend, deploy_frontend, deploy_backend

Report view upd
  back/app/Utils/Stats/Metrics/RequestMetric.php
  back/app/Utils/Stats/Stats.php
  crm/components/Group/VisitsTab.vue
  crm/components/Report/View.vue
  crm/components/Stats/Metrics/RequestMetric.vue
Due: build_frontend, deploy_frontend, deploy_backend

Instruction check
  back/app/Http/Controllers/Admin/InstructionController.php
  back/app/Http/Controllers/Teacher/InstructionCheckController.php
  back/routes/teacher.php
  crm/components/Instruction/EditPage.vue
  crm/components/Instruction/List.vue
  crm/components/Menu/TeacherMenu.vue
  crm/components/Report/EditPage.vue
  crm/pages/teacher/instructions-check/[id].vue
  crm/pages/teacher/instructions-check/index.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Format price upd
  crm/pages/admin/stats.vue
  crm/utils/index.ts
Due: build_frontend, deploy_frontend

Disabled fields bugfix
  crm/components/Lesson/Dialog.vue
Due: build_frontend, deploy_frontend

Default logo icon
  crm/components/Ui/Loader.vue
  crm/pages/admin/_test/index.vue
  crm/pages/login.vue
Due: build_frontend, deploy_frontend

ClientReviewMessage
  back/app/Enums/TelegramTemplate.php
  back/app/Events/ClientReviewMessageEvent.php
  back/app/Http/Controllers/Admin/ClientReviewController.php
  back/app/Http/Controllers/Common/TelegramBotController.php
  back/app/Http/Resources/ClientReviewListResource.php
  back/app/Jobs/DeleteClientReviewMessageJob.php
  back/app/Models/ClientReview.php
  back/app/Models/TelegramMessage.php
  back/app/Utils/ClientReviewMessage.php
  back/app/Utils/helpers.php
  back/database/migrations/2024_02_23_161851_create_client_reviews_table.php
  back/database/migrations/2025_03_21_140405_change_template_to_string_in_telegram_messages.php
  back/resources/views/print/spravka-ip.blade.php
  back/resources/views/print/spravka-ooo.blade.php
  back/resources/views/templates/client-review-rating.blade.php
  back/resources/views/templates/client-review-text.blade.php
  back/routes/admin.php
  back/routes/pub.php
  crm/components/ClientReview/Dialog.vue
  crm/components/ClientReview/List.vue
  crm/components/ClientReview/index.ts
  crm/components/Ui/CountDown.vue
  crm/composables/useClientReviewMessage.ts
  crm/pages/teacher/client-reviews.vue
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Delete useClientReviewMessage.ts
  crm/composables/useClientReviewMessage.ts
Due: build_frontend, deploy_frontend

Review text upd
  back/app/Utils/ClientReviewMessage.php
  back/resources/views/templates/client-review-rating.blade.php
  back/resources/views/templates/client-review-text.blade.php
Due: deploy_backend

Teacher stats
  back/app/Http/Controllers/Admin/TeacherController.php
  back/app/Models/Teacher.php
  back/app/Utils/TeacherStats.php
  back/routes/admin.php
  crm/components/Teacher/StatsTab.vue
  crm/pages/admin/_test/index.vue
  crm/pages/admin/teachers/[id].vue
Due: build_frontend, deploy_frontend, deploy_backend

NO reviews stats
  crm/components/Teacher/StatsTab.vue
Due: build_frontend, deploy_frontend

Metrics fix
  back/app/Utils/Stats/Metrics/RequestMetric.php
  back/app/Utils/Stats/Metrics/RequestPassesMetric.php
Due: deploy_backend

Stats improve
  back/app/Utils/TeacherStats.php
  crm/components/Group/VisitsTab.vue
  crm/components/Teacher/StatsTab.vue
Due: build_frontend, deploy_frontend, deploy_backend

AbortController
  crm/composables/useIndex.ts
Due: build_frontend, deploy_frontend

Path conditions:
  build_frontend: any of: crm/**/*
  deploy_frontend: any of: crm/**/*
  deploy_backend: any of: back/**/*
