Repository maxflex/ec: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, deploy_frontend, deploy_backend

build_frontend:
  stage: build
  image: oven/bun:latest
  before_script:
  - cd crm
  - bun install
  script:
  - bun run build
  artifacts:
    paths:
    - crm/.output/

deploy_frontend:
  stage: deploy
  needs:
  - build_frontend
  before_script:
  - apt-get update -y
  - apt-get -y install rsync
  - mkdir -p ~/.ssh
  - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
  ...

deploy_backend:
  stage: deploy
  script:
  - 'ssh $REMOTE_ADDRESS << ''EOF''
  
    cd $DEPLOY_DIR/back
  
    git pull origin $BRANCH
  
    composer install --no-dev --optimize-autoloader
  
    php artisan config:cache
  
    php artisan route:cache
  
    php artisan view:cache
  
    php artisan migrate --force
  
    EOF'

Person class
  back/app/Contracts/Person.php
  back/app/Http/Resources/ClientResource.php
  back/app/Http/Resources/ClientsBrowseResource.php
  back/app/Http/Resources/ParentResource.php
  back/app/Models/Client.php
  back/app/Models/ClientParent.php
  back/app/Models/Person.php
  back/app/Models/Photo.php
  back/app/Models/Teacher.php
  back/app/Models/User.php
  back/app/Traits/HasName.php
  back/app/Traits/HasPhones.php
  back/app/Traits/HasPhoto.php
Due: deploy_backend

Person improved
  back/app/Contracts/Person.php
  back/app/Models/Client.php
  back/app/Models/ClientParent.php
  back/app/Models/Person.php
  back/app/Models/Teacher.php
  back/app/Models/User.php
  back/app/Traits/HasPhones.php
Due: deploy_backend

RelationSyncable removed
  back/app/Http/Controllers/Admin/ClientController.php
  back/app/Http/Controllers/Admin/ContractController.php
  back/app/Http/Controllers/Admin/ContractVersionController.php
  back/app/Http/Controllers/Admin/RequestsController.php
  back/app/Http/Controllers/Admin/TeacherController.php
  back/app/Http/Controllers/Admin/UserController.php
  back/app/Models/Client.php
  back/app/Models/ClientParent.php
  back/app/Models/ContractVersion.php
  back/app/Models/ContractVersionProgram.php
  back/app/Models/Event.php
  back/app/Models/Person.php
  back/app/Models/Request.php
  back/app/Models/Teacher.php
  back/app/Models/User.php
  back/app/Providers/AppServiceProvider.php
  back/app/Traits/RelationSyncable.php
  back/app/Utils/helpers.php
Due: deploy_backend

Search generalized
  back/app/Models/Client.php
  back/app/Models/ClientParent.php
  back/app/Models/Contract.php
  back/app/Models/Person.php
  back/app/Models/Request.php
  back/app/Models/Teacher.php
  back/app/Models/User.php
  back/app/Traits/HasTelegramMessages.php
  back/app/Traits/IsSearchable.php
  back/app/Utils/Teeth.php
Due: deploy_backend

Search fix
  back/app/Http/Controllers/Admin/SearchController.php
Due: deploy_backend

Balance reworked
  back/app/Http/Controllers/Admin/BalanceController.php
  back/app/Models/Contract.php
  back/app/Models/Teacher.php
  back/app/Traits/HasBalance.php
  back/app/Utils/AvailableYears.php
  back/app/Utils/Balance/Balance.php
  back/app/Utils/Balance/BalanceItem.php
Due: deploy_backend

Balance fix
  back/app/Http/Controllers/Admin/BalanceController.php
Due: deploy_backend

Pub reviews upd
  back/app/Enums/Program.php
  back/app/Http/Controllers/Pub/WebReviewController.php
Due: deploy_backend

Pub reviews fix
  back/app/Http/Controllers/Pub/WebReviewController.php
Due: deploy_backend

Search upd
  back/app/Http/Controllers/Pub/WebReviewController.php
Due: deploy_backend

Numerate clients in Scholarship-scores
  crm/components/ScholarshipScore/ClientsList.vue
Due: build_frontend, deploy_frontend

Payment notification upd
  back/app/Console/Commands/Notification/PaymentReminderCommand.php
  back/app/Http/Controllers/Admin/BalanceController.php
  back/app/Utils/Balance/Balance.php
Due: deploy_backend

Increase searchable clients
  back/app/Models/Client.php
  back/app/Models/ClientParent.php
Due: deploy_backend

Bot instruction upd mob
  mob/layouts/login.vue
  mob/pages/login.vue
Due: none

MOB update
  mob/assets/scss/styles.scss
  mob/components/AvailableYears/Selector.vue
  mob/components/Client/List.vue
  mob/components/Journal/List.vue
  mob/components/Menu/Base.vue
  mob/components/Menu/ClientMenu.vue
  mob/components/Schedule/Schedule.vue
  mob/components/Ui/ChipSelector.vue
  mob/components/Ui/Loader.vue
  mob/components/Ui/NoData.vue
  mob/layouts/default.vue
  mob/layouts/login.vue
  mob/pages/login.vue
  mob/utils/index.ts
Due: none

Report back link
  mob/components/Journal/List.vue
  mob/components/Menu/Base.vue
  mob/components/Report/View.vue
  mob/components/Schedule/Schedule.vue
  mob/components/Ui/ChipSelector.vue
Due: none

Menu Ripple
  mob/components/Menu/AdminMenu.vue
  mob/components/Menu/ClientMenu.vue
  mob/pages/client/journal.vue
Due: none

MOB: ripple false menu
  mob/components/Menu/AdminMenu.vue
  mob/components/Menu/ClientMenu.vue
Due: none

WebReviews upd external
  back/app/Http/Controllers/Pub/WebReviewController.php
  back/app/Http/Resources/WebReviewPubResource.php
Due: deploy_backend

Sort reviews by score
  back/app/Http/Resources/WebReviewPubResource.php
Due: deploy_backend

Auto-set max score
  back/app/Http/Resources/ExamScoreResource.php
  back/app/Models/ExamScore.php
Due: deploy_backend

Pub reviews upd
  back/app/Enums/Program.php
  back/app/Http/Controllers/Pub/WebReviewController.php
  back/app/Http/Resources/WebReviewPubResource.php
Due: deploy_backend

Update WebReviewController.php
  back/app/Http/Controllers/Pub/WebReviewController.php
Due: deploy_backend

PUB reviews fix
  .DS_Store
  back/app/Http/Controllers/Pub/WebReviewController.php
  crm/components/AvailableYears/Selector2.vue
  crm/components/Report/Tab.vue
  crm/components/TeacherPayment/Tab.vue
  crm/components/TeacherService/Tab.vue
  crm/test.html
  crm/utils/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

Remove .DS_Store
  .DS_Store
Due: none

Clean-up
  .gitlab-ci.yml
  crm/test.html
Due: build_frontend, deploy_frontend

Calendar upd
  crm/assets/scss/_calendar.scss
  crm/components/Calendar/Dialog.vue
  crm/components/ExamDate/Dialog.vue
  crm/composables/useDialog.ts
  crm/pages/admin/vacations.vue
Due: build_frontend, deploy_frontend

Rollback YearSelector
  back/app/Utils/AllPayments.php
  crm/components/AvailableYears/Selector.vue
  crm/components/AvailableYears/Selector2.vue
  crm/components/Report/Tab.vue
  crm/utils/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

Calendar dialog styles
  back/app/Enums/HeadAboutUs.php
  back/app/Http/Resources/ClientResource.php
  back/app/Models/Client.php
  back/database/migrations/2025_03_11_181244_add_head_about_us_to_clients.php
  crm/assets/scss/_calendar.scss
  crm/components/Calendar/Dialog.vue
  crm/components/ContractVersion/Dialog.vue
  crm/composables/useDialog.ts
Due: build_frontend, deploy_frontend, deploy_backend

Add heard_about_us to Clients
  back/database/migrations/2025_03_11_181244_add_heard_about_us_to_clients.php
  crm/components/Client/Dialog.vue
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

how_found removed
  back/app/Http/Resources/ClientResource.php
  back/app/Models/Client.php
  back/database/migrations/2025_03_12_110424_drop_how_found_from_clients.php
  crm/components/Client/Dialog.vue
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Calendar dialog upd
  back/resources/views/macros.blade.php
  back/routes/pub.php
  crm/assets/scss/_calendar.scss
  crm/assets/scss/styles.scss
  crm/components/Calendar/Dialog.vue
  crm/components/ClientReview/List.vue
  crm/components/ContractVersion/Dialog.vue
  crm/composables/useDialog.ts
  crm/pages/admin/client-reviews.vue
Due: build_frontend, deploy_frontend, deploy_backend

Calendar dialog upd
  back/app/Console/Commands/Once/DuplicateExternalReviewsCommand.php
  back/app/Enums/Exam.php
  back/app/Enums/Program.php
  back/database/migrations/2025_02_25_162513_add_how_found_to_clients.php
  back/database/migrations/2025_03_12_110424_drop_how_found_from_clients.php
  crm/assets/scss/_calendar.scss
  crm/assets/scss/styles.scss
  crm/components/Calendar/Dialog.vue
  crm/composables/useDialog.ts
Due: build_frontend, deploy_frontend, deploy_backend

WebReviews upd
  back/app/Http/Controllers/Admin/ClientReviewController.php
  back/app/Http/Controllers/Admin/ExamScoreController.php
  back/app/Http/Controllers/Admin/WebReviewController.php
  back/app/Http/Controllers/Common/TelegramBotController.php
  back/app/Http/Controllers/Pub/WebReviewController.php
  back/app/Http/Resources/ExamScoreResource.php
  back/app/Http/Resources/WebReviewResource.php
  back/app/Models/ExamScore.php
  back/app/Models/WebReview.php
  back/database/migrations/2025_03_12_171323_add_is_published_to_exam_scores.php
  back/database/migrations/2025_03_12_172003_drop_exam_score_web_review_table.php
  crm/components/Calendar/Dialog.vue
  crm/components/ClientReview/Filters.vue
  crm/components/ExamScore/Dialog.vue
  crm/components/ExamScore/List.vue
  crm/components/WebReview/Dialog.vue
  crm/components/WebReview/Filters.vue
  crm/components/WebReview/index.ts
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

small fix
  back/app/Http/Controllers/Admin/ClientReviewController.php
Due: deploy_backend

New macros
  back/app/Http/Controllers/Admin/PrintController.php
  back/resources/views/macros.blade.php
  back/resources/views/print/spravka-ip.blade.php
  back/resources/views/print/spravka-ooo.blade.php
  back/routes/admin.php
  back/routes/pub.php
  crm/components/GroupAct/Dialog.vue
  crm/components/Print/Dialog.vue
  crm/components/Print/SpravkaDialog.vue
  crm/pages/admin/clients/[id].vue
  crm/pages/admin/groups/[id].vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Request status upd
  back/app/Console/Commands/Once/UpdateEnumCommand.php
  back/app/Enums/RequestStatus.php
  back/app/Http/Controllers/Admin/PrintController.php
  back/app/Models/Request.php
  crm/components/Request/Status.vue
  crm/utils/labels.ts
Due: build_frontend, deploy_frontend, deploy_backend

MagicLink
  back/app/Http/Controllers/Common/AuthController.php
  back/app/Utils/MagicLink.php
  back/routes/common.php
  crm/composables/useMagicLink.ts
  crm/nuxt.config.ts
  crm/pages/login.vue
  crm/store/useAuthStore.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Request source field
  back/app/Http/Resources/RequestResource.php
  back/app/Models/Request.php
  back/database/migrations/2025_03_14_145650_add_source_to_requests.php
  crm/components/Request/Dialog.vue
  crm/components/Request/index.ts
  crm/nuxt.config.ts
Due: build_frontend, deploy_frontend, deploy_backend

Path conditions:
  build_frontend: any of: crm/**/*
  deploy_frontend: any of: crm/**/*
  deploy_backend: any of: back/**/*
