Repository maxflex/ec: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, deploy_frontend, deploy_backend

build_frontend:
  stage: build
  image: oven/bun:latest
  before_script:
  - cd crm
  - bun install
  script:
  - bun run build
  artifacts:
    paths:
    - crm/.output/

deploy_frontend:
  stage: deploy
  needs:
  - build_frontend
  before_script:
  - apt-get update -y
  - apt-get -y install rsync
  - mkdir -p ~/.ssh
  - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
  ...

deploy_backend:
  stage: deploy
  script:
  - 'ssh $REMOTE_ADDRESS << ''EOF''
  
    cd $DEPLOY_DIR/back
  
    git pull origin $BRANCH
  
    composer install --no-dev --optimize-autoloader
  
    php artisan config:cache
  
    php artisan route:cache
  
    php artisan view:cache
  
    php artisan migrate --force
  
    EOF'

Speed up permanent passes
  back/app/Http/Controllers/Admin/PassController.php
Due: deploy_backend

Update permanent.vue
  crm/pages/admin/passes/permanent.vue
Due: build_frontend, deploy_frontend

small stylefix
  crm/components/Client/MarkSheetTab.vue
Due: build_frontend, deploy_frontend

Teacher balance timer fix
  crm/components/Balance/Balance.vue
  crm/components/Schedule/Schedule.vue
  crm/pages/admin/groups/[id].vue
  crm/pages/teacher/balance.vue
  crm/pages/teacher/groups/[id].vue
  crm/pages/teacher/payments.vue
Due: build_frontend, deploy_frontend

once: client-lesson-counts
  back/app/Console/Commands/Once/ClientLessonCountsCommand.php
  back/app/Utils/helpers.php
Due: deploy_backend

once:client-lesson-counts by time
  back/app/Console/Commands/Once/ClientLessonCountsCommand.php
Due: deploy_backend

Update ClientLessonCountsCommand.php
  back/app/Console/Commands/Once/ClientLessonCountsCommand.php
Due: deploy_backend

Event files
  back/app/Http/Resources/QuartersGradesResource.php
  back/app/Models/Event.php
  back/database/migrations/2025_06_09_161710_add_file_to_events.php
  crm/components/Event/Dialog.vue
  crm/components/Event/List.vue
  crm/components/Event/ListForLk.vue
  crm/components/Event/Tab.vue
  crm/components/Event/index.ts
  crm/components/File/Uploader.vue
  crm/pages/admin/events/[id].vue
  crm/pages/admin/events/index.vue
  crm/pages/teacher/events.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Import only EC SMS
  back/app/Console/Commands/SyncSmsCommand.php
  back/app/Console/Kernel.php
Due: deploy_backend

Event files
  back/app/Http/Resources/EventListResource.php
  back/app/Utils/Spb.php
  crm/components/Event/List.vue
  crm/components/Event/ListForLk.vue
  crm/components/Event/index.ts
  crm/pages/admin/events/[id].vue
  crm/utils/index.ts
  mob/components/Contract/Directions.vue
  mob/components/Contract/List.vue
  mob/components/Event/List.vue
Due: build_frontend, deploy_frontend, deploy_backend

Attach files
  crm/components/Event/Dialog.vue
  crm/components/File/Uploader.vue
  crm/pages/admin/events/[id].vue
Due: build_frontend, deploy_frontend

Downloadable test file
  crm/components/Test/List.vue
Due: build_frontend, deploy_frontend

Together style fixes
  crm/assets/scss/styles.scss
  crm/components/Group/List.vue
  crm/components/Group/TeacherList.vue
  crm/components/Lesson/Item/ClientLK.vue
  crm/pages/admin/groups/[id].vue
  crm/pages/admin/teachers/[id].vue
  crm/pages/teacher/groups/[id].vue
  mob/components/Schedule/Schedule.vue
Due: build_frontend, deploy_frontend

feat: broadcast request updates
  back/app/Events/RequestUpdatedEvent.php
  back/app/Http/Controllers/Admin/RequestsController.php
  back/app/Http/Controllers/Pub/RequestsController.php
  crm/components/CallApp/CallAppMain.vue
  crm/components/CallApp/Dialog.vue
  crm/components/CallApp/index.ts
  crm/components/Menu/AdminMenu.vue
  crm/components/Request/List.vue
  crm/components/Request/index.ts
  crm/pages/admin/requests/[id]/index.vue
  crm/pages/admin/requests/index.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Request counts
  back/app/Events/RequestUpdatedEvent.php
  back/app/Http/Controllers/Admin/MenuCountsController.php
  back/app/Http/Controllers/Admin/RequestsController.php
  back/app/Http/Controllers/Pub/RequestsController.php
  back/app/Http/Controllers/Teacher/MenuCountsController.php
  back/app/Models/Report.php
  back/app/Models/Request.php
  crm/components/CallApp/CallAppMain.vue
  crm/components/CallApp/Dialog.vue
  crm/components/CallApp/index.ts
  crm/components/Menu/AdminMenu.vue
  crm/components/Menu/Item.vue
  crm/components/Menu/TeacherMenu.vue
  crm/pages/admin/requests/[id]/index.vue
  crm/utils/index.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Client complaint user_id
  back/app/Http/Resources/ClientComplaintResource.php
  back/app/Models/ClientComplaint.php
  back/database/migrations/2025_06_11_121452_add_user_id_to_client_complaints.php
  crm/assets/scss/_dialog.scss
  crm/components/ClientComplaint/index.ts
  crm/components/Crud/Dialog.vue
  crm/components/TelegramMessage/Form.vue
  crm/composables/useCrud.ts
  crm/pages/admin/telegram-lists/[id].vue
Due: build_frontend, deploy_frontend, deploy_backend

WIP: reports
  back/app/Http/Resources/ReportResource.php
  crm/assets/scss/_report.scss
  crm/assets/scss/index.scss
  crm/components/Report/Dialog.vue
  crm/components/Report/EditPage.vue
  crm/components/Report/Tabs.vue
  crm/components/Report/View.vue
  crm/pages/admin/reports/[id]/edit.vue
  crm/pages/teacher/reports/[id]/edit.vue
  crm/pages/teacher/reports/create.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Contract empty sum
  crm/components/ContractVersion/List.vue
  crm/components/ContractVersion/ListAll.vue
  crm/components/Ui/IfSet.vue
Due: build_frontend, deploy_frontend

Remove is_afterclass flag from events
  back/app/Http/Resources/EventListResource.php
  back/app/Models/Event.php
  back/database/migrations/2024_07_02_142424_create_events_table.php
  back/database/migrations/2025_06_09_161710_add_file_to_events.php
  back/database/migrations/2025_06_16_120000_drop_is_afterclass_from_events.php
  crm/components/Event/Dialog.vue
  crm/components/Event/List.vue
  crm/components/Event/ListForLk.vue
  crm/components/Event/index.ts
  crm/pages/admin/events/[id].vue
Due: build_frontend, deploy_frontend, deploy_backend

Remove is_afterclass flag from events
  crm/assets/scss/styles.scss
  crm/components/Event/List.vue
  crm/components/Event/ListForLk.vue
Due: build_frontend, deploy_frontend

ContractVersion list upd
  crm/components/ClientComplaint/Dialog.vue
  crm/components/Contract/Tab.vue
  crm/components/ContractPayment/List.vue
  crm/components/ContractVersion/List.vue
  crm/components/ContractVersion/ListAll.vue
  crm/components/Crud/Dialog.vue
  crm/components/Lesson/BulkCreateDialog.vue
  crm/components/Lesson/BulkUpdateDialog.vue
  crm/components/Lesson/Dialog.vue
  crm/utils/index.ts
Due: build_frontend, deploy_frontend

[wip] Reports
  crm/components/Comment/Dialog.vue
  crm/components/Menu/Item.vue
  crm/components/Report/Dialog.vue
  crm/components/Report/Fill.vue
  crm/components/Report/Tabs.vue
  crm/components/Report/View.vue
  mob/pages/client/reports/[id].vue
Due: build_frontend, deploy_frontend

Program selector in Complaints
  back/app/Http/Controllers/Admin/ClientLessonController.php
  back/app/Http/Controllers/Controller.php
  back/routes/admin.php
  crm/components/ClientComplaint/Dialog.vue
Due: build_frontend, deploy_frontend, deploy_backend

[wip] SBP
  back/app/Http/Controllers/Pub/SbpController.php
  back/app/Models/ContractPayment.php
  back/composer.json
  back/composer.lock
  back/config/app.php
  back/config/sbp.php
  back/database/migrations/2025_06_16_182019_add_sbp_id_to_contract_payments.php
  back/routes/client.php
  back/routes/pub.php
  crm/.gitignore
  crm/assets/scss/styles.scss
  crm/pages/admin/_test/index.vue
  crm/pages/admin/_test/mango.vue
  crm/pages/client/billing.vue
  mob/pages/client/billing.vue
Due: build_frontend, deploy_frontend, deploy_backend

Reports
  back/resources/views/templates/report-read.blade.php
  crm/pages/admin/_test/sbp.vue
  mob/pages/client/reports/[id].vue
Due: build_frontend, deploy_frontend, deploy_backend

Quarter editable condition
  crm/assets/scss/_dialog.scss
  crm/components/Calendar/Dialog.vue
  crm/components/Lesson/BulkCreateDialog.vue
  crm/components/Lesson/BulkUpdateDialog.vue
  crm/components/Lesson/Dialog.vue
  crm/components/Lesson/index.ts
  crm/components/Schedule/Schedule.vue
  crm/components/Ui/IfSet.vue
  crm/components/Ui/NoData.vue
  crm/pages/admin/groups/[id].vue
  crm/pages/teacher/groups/[id].vue
Due: build_frontend, deploy_frontend

SelectAll
  crm/components/Schedule/Schedule.vue
Due: build_frontend, deploy_frontend

Add contract parameter checks
  back/app/Models/Error.php
Due: deploy_backend

Error 2000
  back/app/Http/Controllers/Admin/ErrorController.php
  back/app/Http/Resources/ErrorResource.php
  back/app/Models/Error.php
  crm/components/Error/List.vue
  crm/components/Error/index.ts
  crm/components/Ui/Person.vue
  crm/pages/admin/errors.vue
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

SBP
  back/app/Http/Controllers/Pub/SbpController.php
  back/docker-compose.yml
  mob/pages/client/billing.vue
  mob/public/img/sbp.svg
Due: deploy_backend

Visual updates
  back/app/Http/Resources/GroupListResource.php
  back/app/Http/Resources/GroupResource.php
  back/app/Models/Group.php
  crm/assets/scss/_calendar.scss
  crm/assets/scss/styles.scss
  crm/components/Group/List.vue
  crm/components/Group/Panel.vue
  crm/components/Group/TeacherList.vue
  crm/components/Group/index.ts
  crm/pages/admin/groups/[id].vue
  crm/pages/teacher/groups/[id].vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Update billing.vue
  mob/pages/client/billing.vue
Due: none

SBP Skip one step
  back/app/Http/Controllers/Pub/SbpController.php
  mob/pages/client/billing.vue
Due: deploy_backend

Only confirmed at /billing
  back/app/Http/Controllers/Client/BillingController.php
  back/app/Http/Controllers/Pub/SbpController.php
Due: deploy_backend

SBP: Return payment
  back/app/Http/Controllers/Pub/SbpController.php
Due: deploy_backend

Remove login btn
  back/app/Http/Controllers/Pub/SbpController.php
  crm/pages/login.vue
  mob/pages/login.vue
Due: build_frontend, deploy_frontend, deploy_backend

SBP Refund upd
  back/app/Http/Controllers/Pub/SbpController.php
  crm/components/Ui/NoData.vue
  crm/utils/labels.ts
Due: build_frontend, deploy_frontend, deploy_backend

QR code lib changed
  back/app/Http/Controllers/Admin/WebReviewController.php
  crm/bun.lock
  crm/components/WebReview/Filters.vue
  crm/package.json
  crm/pages/client/billing.vue
  crm/public/img/logo-for-qr.svg
Due: build_frontend, deploy_frontend, deploy_backend

Path conditions:
  build_frontend: any of: crm/**/*
  deploy_frontend: any of: crm/**/*
  deploy_backend: any of: back/**/*
