Repository maxflex/ec: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

build_crm:
  stage: build
  image: oven/bun:latest
  before_script:
  - cd crm
  - bun install
  script:
  - bun run build
  artifacts:
    paths:
    - crm/.output/

deploy_crm:
  stage: deploy
  needs:
  - build_crm
  before_script:
  - apt-get update -y
  - apt-get -y install rsync
  - mkdir -p ~/.ssh
  - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
  ...

build_mob:
  stage: build
  image: oven/bun:latest
  before_script:
  - cd mob
  - bun install
  script:
  - bun run build
  artifacts:
    paths:
    - mob/.output/

deploy_mob:
  stage: deploy
  needs:
  - build_mob
  before_script:
  - apt-get update -y
  - apt-get -y install rsync
  - mkdir -p ~/.ssh
  - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
  ...

deploy_backend:
  stage: deploy
  script:
  - ssh root@$REMOTE_ADDRESS "cd $DEPLOY_DIR/back && git pull origin $BRANCH && composer install --no-dev --optimize-autoloader && php artisan config:cache && php artisan route:cache && php artisan view:cache && php artisan migrate --force && php artisan horizon:terminate"

Refine calls analysis ETA calculation
  crm/pages/admin/calls/analysis.vue
Due: build_crm, deploy_crm

Update analysis.vue
  crm/pages/admin/calls/analysis.vue
Due: build_crm, deploy_crm

Split stereo call audio before Gemini transcription
  back/app/Utils/AI/CallAudioFileCacheService.php
  back/app/Utils/AI/CallTranscriptionService.php
Due: deploy_backend

Revert "Split stereo call audio before Gemini transcription"
  back/app/Utils/AI/CallAudioFileCacheService.php
  back/app/Utils/AI/CallTranscriptionService.php
Due: deploy_backend

Update GeminiService.php
  back/app/Utils/AI/GeminiService.php
Due: deploy_backend

Split call AI jobs into separate queue
  back/app/Jobs/CallAnalysisJob.php
  back/app/Jobs/CallTranscriptionJob.php
  back/app/Utils/AI/GeminiService.php
  back/config/horizon.php
Due: deploy_backend

Route AI jobs to ai-calls queue safely
  back/app/Jobs/CallAnalysisJob.php
  back/app/Jobs/CallTranscriptionJob.php
Due: deploy_backend

AI calls chat
  AGENTS.md
  back/.env.example
  back/app/Http/Controllers/Admin/CallController.php
  back/app/Models/AiPrompt.php
  back/app/Utils/AI/CallChatService.php
  back/config/database.php
  back/routes/admin.php
  crm/components/Menu/AdminMenu.vue
  crm/pages/admin/calls/analysis.vue
  crm/pages/admin/chat.vue
Due: build_crm, deploy_crm, deploy_backend

Update CallAnalysisService.php
  back/app/Utils/AI/CallAnalysisService.php
Due: deploy_backend

Chat style updates
  crm/components/Call/Player.vue
  crm/pages/admin/chat.vue
Due: build_crm, deploy_crm

Update chat.vue
  crm/pages/admin/chat.vue
Due: build_crm, deploy_crm

Calls upd
  crm/components/Call/List.vue
  crm/components/Ui/Tabs.vue
  crm/pages/admin/calls/[id]/index.vue
Due: build_crm, deploy_crm

add user to admins
  crm/pages/admin/calls/[id]/index.vue
  crm/pages/admin/chat.vue
Due: build_crm, deploy_crm

Use Gemini 3.1 Pro for call transcription
  back/app/Utils/AI/CallTranscriptionService.php
Due: deploy_backend

Add text status accessor for client lessons
  back/app/Enums/ClientLessonStatus.php
  back/app/Models/ClientLesson.php
Due: deploy_backend

CallChat ImprovED
  back/app/Utils/AI/CallChatService.php
Due: deploy_backend

Simplify call transcription prompt selection
  back/app/Models/AiPrompt.php
  back/app/Utils/AI/CallTranscriptionService.php
  back/database/migrations/2026_04_06_130000_fill_calls_instruction_created_at_from_ai_prompts.php
Due: deploy_backend

Move call chat prompt to id 6
  back/app/Models/AiPrompt.php
  back/app/Utils/AI/CallChatService.php
Due: deploy_backend

AI instruction refactor
  back/app/Http/Resources/ReportListResource.php
  back/app/Http/Resources/ReportResource.php
  back/app/Models/Report.php
  back/app/Utils/AI/CallAnalysisService.php
  back/app/Utils/AI/CallTranscriptionService.php
  back/app/Utils/AI/GeminiReportService.php
  back/app/Utils/AI/GeminiService.php
  back/database/migrations/2026_04_28_120000_update_calls_instruction_transcript_model.php
  back/database/migrations/2026_04_28_140000_refactor_reports_ai_instruction_to_instruction.php
  crm/components/Ai/InstuctionDialog.vue
  crm/components/Ai/index.ts
  crm/components/Report/Dialog.vue
  crm/components/Report/List/ForAdmins.vue
  crm/components/Report/index.ts
  crm/pages/admin/calls/[id]/index.vue
Due: build_crm, deploy_crm, deploy_backend

Add command to extend school and external lessons to May
  back/app/Console/Commands/Once/ExtendGroupsLessonsToMayCommand.php
Due: deploy_backend

Add command to extend school lessons through May
  back/app/Console/Commands/Once/ExtendGroupsLessonsToMayCommand.php
Due: deploy_backend

Subject => TeacherSubject
  back/app/Enums/Subject.php
  back/app/Enums/TeacherSubject.php
  back/database/migrations/2024_01_16_153618_create_teachers_table.php
  crm/components/Client/MarkSheetTab.vue
  crm/components/Client/index.ts
  crm/components/Report/Tabs.vue
  crm/components/Report/View.vue
  crm/components/Search/Results/TeacherItem.vue
  crm/components/Search/index.ts
  crm/components/Teacher/Dialog.vue
  crm/components/Teacher/Filters.vue
  crm/components/Teacher/List.vue
  crm/components/Teacher/index.ts
  crm/pages/admin/teachers/[id].vue
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_crm, deploy_crm, deploy_backend

Allow selecting current and next year in control LK
  crm/components/Ui/YearSelector.vue
  crm/pages/admin/control/lk.vue
Due: build_crm, deploy_crm

Path conditions:
  build_crm: any of: crm/**/*
  deploy_crm: any of: crm/**/*
  build_mob: any of: mob/**/*
  deploy_mob: any of: mob/**/*
  deploy_backend: any of: back/**/*
