Repository maxflex/ec: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

.gitlab-ci.yml:

stages:
  - build
  - deploy

variables:
  BRANCH: main
  REMOTE_ADDRESS: 104.248.88.1
  DEPLOY_DIR: /var/www/ec

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == $BRANCH

before_script:
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H $REMOTE_ADDRESS >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts


### 🏗 BUILD CRM (Nuxt 3) ###
build_crm:
  stage: build
  image: oven/bun:latest  # ✅ Use Bun's official image
  only:
    changes:
      - crm/**/*
  before_script:
    - cd crm
    - bun install
  script:
    - bun run build
  artifacts:
    paths:
      - crm/.output/


### 🚀 DEPLOY CRM ###
deploy_crm:
  stage: deploy
  only:
    changes:
      - crm/**/*
  needs:
    - build_crm  # ✅ Ensure build finishes before deploying
  before_script:
    - apt-get update -y
    - apt-get -y install rsync
    - mkdir -p ~/.ssh
    - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - rsync -a --delete crm/.output root@$REMOTE_ADDRESS:$DEPLOY_DIR/crm
    - ssh root@$REMOTE_ADDRESS "cd $DEPLOY_DIR/crm && /root/.nvm/versions/node/v20.11.1/bin/pm2 start ecosystem.config.js"

### 🏗 BUILD MOB (Nuxt 3) ###
build_mob:
  stage: build
  image: oven/bun:latest  # ✅ Use Bun's official image
  only:
    changes:
      - mob/**/*
  before_script:
    - cd mob
    # - cp -r ../crm/utils ./utils
    - bun install
  script:
    - bun run build
  artifacts:
    paths:
      - mob/.output/


### 🚀 DEPLOY MOB ###
deploy_mob:
  stage: deploy
  only:
    changes:
      - mob/**/*
  needs:
    - build_mob  # ✅ Ensure build finishes before deploying
  before_script:
    - apt-get update -y
    - apt-get -y install rsync
    - mkdir -p ~/.ssh
    - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - rsync -a --delete mob/.output root@$REMOTE_ADDRESS:$DEPLOY_DIR/mob
    - ssh root@$REMOTE_ADDRESS "cd $DEPLOY_DIR/mob && /root/.nvm/versions/node/v20.11.1/bin/pm2 start ecosystem.config.js"


### 🚀 DEPLOY BACKEND (Laravel) ###
deploy_backend:
  stage: deploy
  only:
    changes:
      - back/**/*
  script:
    - ssh root@$REMOTE_ADDRESS "cd $DEPLOY_DIR/back && git pull origin $BRANCH && composer install --no-dev --optimize-autoloader && php artisan config:cache && php artisan route:cache && php artisan view:cache && php artisan migrate --force && php artisan horizon:terminate"

Переименуй и исправь caller_type
  back/app/Enums/CallerType.php
  back/app/Http/Controllers/Admin/CallController.php
  back/app/Http/Resources/CallListResource.php
  back/app/Http/Resources/CallResource.php
  back/app/Models/Call.php
  back/app/Utils/AI/CallAnalysisService.php
  back/app/Utils/AI/CallTranscriptionService.php
  back/database/migrations/2026_03_13_120000_add_instruction_to_calls_table.php
  back/database/migrations/2026_03_13_130000_add_caller_type_to_calls_table.php
  crm/components/Call/Filters.vue
  crm/components/Call/List.vue
  crm/components/CallApp/index.ts
  crm/pages/admin/calls/[id]/index.vue
Due: build_crm, deploy_crm, deploy_backend

[wip] New phone menu
  crm/components/Phone/List.vue
Due: build_crm, deploy_crm

Phone clickable
  back/app/Http/Controllers/Admin/SmsMessageController.php
  back/app/Http/Controllers/Admin/TelegramMessageController.php
  crm/components/Call/List.vue
  crm/components/Phone/Dialog.vue
  crm/components/Phone/DialogContent.vue
  crm/components/Phone/List.vue
  crm/components/Phone/PreviewModeBtn.vue
  crm/components/TelegramMessage/Filters.vue
  crm/pages/admin/calls/index.vue
  crm/pages/admin/sms-messages.vue
  crm/pages/admin/telegram-messages.vue
Due: build_crm, deploy_crm, deploy_backend

AiPrompt: files attachments deleted
  back/app/Http/Controllers/Admin/AiPromptController.php
  back/app/Models/AiPrompt.php
  back/app/Utils/AI/AiPromptRenderer.php
  back/app/Utils/AI/CallAnalysisService.php
  back/app/Utils/AI/CallTranscriptionService.php
  back/app/Utils/AI/GeminiFileService.php
  back/app/Utils/AI/GeminiReportService.php
  back/database/migrations/2026_03_13_120000_remove_files_from_ai_prompts_table.php
  crm/pages/admin/ai-prompts/[id].vue
  crm/pages/admin/ai-prompts/index.vue
  crm/utils/types.d.ts
Due: build_crm, deploy_crm, deploy_backend

Call icons
  crm/components/Call/List.vue
  crm/components/Phone/List.vue
Due: build_crm, deploy_crm

Отфильтровать только пропущенные
  back/app/Http/Controllers/Admin/CallController.php
  back/app/Models/Call.php
Due: deploy_backend

CallApp removed
  crm/assets/scss/_callapp.scss
  crm/assets/scss/index.scss
  crm/components/Call/Duration.vue
  crm/components/Call/Filters.vue
  crm/components/Call/List.vue
  crm/components/Call/Person.vue
  crm/components/Call/index.ts
  crm/components/CallApp/ActiveCallsList.vue
  crm/components/CallApp/Aon.vue
  crm/components/CallApp/Banner.vue
  crm/components/CallApp/CallAppMain.vue
  crm/components/CallApp/CallTimer.vue
  crm/components/CallApp/CallsList.vue
  crm/components/CallApp/Dialog.vue
  crm/components/CallApp/Download.vue
  crm/components/CallApp/StateIcon.vue
  crm/components/Menu/AdminMenu.vue
  crm/components/Phone/List.vue
  crm/pages/admin/calls/[id]/index.vue
  crm/pages/admin/calls/index.vue
  crm/plugins/shared-worker.client.ts
  crm/utils/types.d.ts
Due: build_crm, deploy_crm

Update helpers.php
  back/app/Utils/helpers.php
Due: deploy_backend

Comment line breaks
  crm/assets/scss/_comments.scss
  crm/components/Comment/Dialog.vue
Due: build_crm, deploy_crm

Calls menu counts
  back/app/Events/AppUpdatedEvent.php
  back/app/Events/MenuCountsUpdatedEvent.php
  back/app/Http/Controllers/Admin/CallController.php
  back/app/Http/Controllers/Admin/MenuCountsController.php
  back/app/Models/Call.php
  back/app/Models/Request.php
  back/app/Observers/RequestObserver.php
  back/app/Utils/Mango.php
  crm/components/Call/List.vue
  crm/components/ContractPayment/Dialog.vue
  crm/components/Menu/AdminMenu.vue
  crm/components/Menu/TeacherMenu.vue
  crm/components/Menu/index.ts
  crm/components/Phone/List.vue
  crm/utils/types.d.ts
Due: build_crm, deploy_crm, deploy_backend

MenuCount animation
  crm/components/Menu/Count.vue
  crm/components/Menu/Item.vue
  crm/components/Phone/List.vue
Due: build_crm, deploy_crm

Update AdminMenu.vue
  crm/components/Menu/AdminMenu.vue
Due: build_crm, deploy_crm

Update RequestObserver.php
  back/app/Observers/RequestObserver.php
Due: deploy_backend

Request update event
  back/app/Events/MenuCountsUpdatedEvent.php
  back/app/Events/RequestUpdatedEvent.php
  back/app/Http/Controllers/Admin/RequestsController.php
  back/app/Http/Controllers/Pub/RequestsController.php
  back/app/Models/Request.php
  back/app/Observers/RequestObserver.php
  crm/utils/types.d.ts
Due: build_crm, deploy_crm, deploy_backend

Calls in menu
  crm/components/Menu/AdminMenu.vue
  crm/components/Menu/Count.vue
Due: build_crm, deploy_crm

Update Count.vue
  crm/components/Menu/Count.vue
Due: build_crm, deploy_crm

Adjust missed call window and menu badge animation color
  back/app/Models/Call.php
  crm/components/Menu/Count.vue
Due: build_crm, deploy_crm, deploy_backend

Update CorpusLoadCommand.php
  back/app/Console/Commands/Once/CorpusLoadCommand.php
Due: deploy_backend

wip
  back/app/Http/Controllers/BalanceController.php
  back/app/Models/Teacher.php
  back/app/Models/TeacherPayment.php
  back/database/migrations/2026_03_27_180832_add_is_new_to_teacher_payments.php
  back/database/migrations/2026_03_27_184312_add_is_new_to_teachers.php
  crm/components/Balance/Balance.vue
  crm/components/Teacher/Dialog.vue
  crm/components/Teacher/index.ts
  crm/components/TeacherPayment/Dialog.vue
  crm/components/TeacherPayment/index.ts
Due: build_crm, deploy_crm, deploy_backend

TeacherPayments new
  back/app/Enums/TeacherBalanceType.php
  back/app/Http/Controllers/Admin/TeacherPaymentController.php
  back/app/Models/Teacher.php
  back/app/Utils/TeacherBalance.php
  back/database/migrations/2026_03_27_184312_add_is_new_to_teachers.php
  back/database/migrations/2026_03_27_192532_add_balance_type_to_teachers.php
  crm/components/Balance/Balance.vue
  crm/components/Teacher/Dialog.vue
  crm/components/Teacher/index.ts
  crm/components/TeacherPayment/List.vue
  crm/pages/admin/teacher-balances.vue
  crm/pages/admin/teachers/[id].vue
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_crm, deploy_crm, deploy_backend

Calls comment auto-suggest
  back/app/Console/Commands/UpdateEnumsCommand.php
  back/app/Enums/CallerType.php
  back/app/Http/Controllers/Admin/CommentController.php
  back/app/Http/Resources/CallAppLastInteractionResource.php
  back/app/Http/Resources/CallListResource.php
  back/app/Http/Resources/CallResource.php
  back/app/Http/Resources/CommentResource.php
  back/app/Jobs/ProcessCallRecordingJob.php
  back/app/Models/Call.php
  back/app/Utils/CallCommentSuggest.php
  back/app/Utils/Mango.php
  back/database/migrations/2026_03_30_120000_refactor_calls_primary_key.php
  back/routes/admin.php
  back/tests/Unit/MangoTest.php
  crm/components/Call/List.vue
  crm/components/Call/index.ts
  crm/components/Client/Panel.vue
  crm/components/Comment/Btn.vue
  crm/components/Comment/Dialog.vue
  crm/components/Request/Item.vue
  crm/pages/admin/calls/[id]/index.vue
  crm/pages/admin/teachers/[id].vue
  crm/utils/index.ts
Due: build_crm, deploy_crm, deploy_backend

Update call filters and treat callback attempts as processed
  back/app/Http/Controllers/Admin/CallController.php
  back/app/Models/Call.php
  crm/components/Call/Filters.vue
Due: build_crm, deploy_crm, deploy_backend

Prevent autosuggest for calls shorter than 10 seconds
  back/app/Observers/CallObserver.php
  back/app/Utils/AI/CallAnalysisService.php
  back/app/Utils/CallCommentSuggest.php
Due: deploy_backend

Just 1 analysis field
  back/app/Http/Controllers/Admin/CallController.php
  back/app/Http/Resources/CallResource.php
  back/app/Utils/AI/CallAnalysisService.php
  back/database/migrations/2026_03_30_130000_refactor_call_analysis_fields.php
  crm/pages/admin/calls/[id]/index.vue
Due: build_crm, deploy_crm, deploy_backend

Enable admin preview mode login in LK
  back/app/Http/Controllers/Admin/PreviewModeController.php
  crm/components/Phone/List.vue
Due: build_crm, deploy_crm, deploy_backend

Update CallCommentSuggest.php
  back/app/Utils/CallCommentSuggest.php
Due: deploy_backend

Add multiselect call status filter and support array status on backend
  back/app/Http/Controllers/Admin/CallController.php
  crm/components/Call/Filters.vue
  crm/components/Call/index.ts
  crm/pages/admin/calls/index.vue
  crm/utils/index.ts
Due: build_crm, deploy_crm, deploy_backend

Disconnect step 4
  back/app/Observers/CallObserver.php
  back/app/Utils/Mango.php
Due: deploy_backend

Audio player
  crm/components/Call/Player.vue
  crm/pages/admin/calls/[id]/index.vue
Due: build_crm, deploy_crm

Move CallPlayer
  crm/components/Call/Player.vue
  crm/pages/admin/calls/[id]/index.vue
Due: build_crm, deploy_crm

Dispose call audio on unmount
  crm/components/Call/Player.vue
Due: build_crm, deploy_crm

CodeMirror jump cursor fix
  crm/assets/scss/styles.scss
Due: build_crm, deploy_crm

Reset call analysis fields before rerun and reposition call menu
  back/app/Http/Controllers/Admin/CallController.php
  crm/pages/admin/calls/[id]/index.vue
Due: build_crm, deploy_crm, deploy_backend

Empty call-analysis allowed
  back/app/Utils/AI/CallAnalysisService.php
Due: deploy_backend

Enhance call analysis context and align AI dialog typography
  back/app/Enums/TeacherStatus.php
  back/app/Utils/AI/CallAnalysisService.php
  crm/components/Report/Dialog.vue
  crm/pages/admin/calls/[id]/index.vue
Due: build_crm, deploy_crm, deploy_backend

Keep current tab after call analysis
  crm/pages/admin/calls/[id]/index.vue
Due: build_crm, deploy_crm

Align call direction ordering and update AI success messages
  back/app/Utils/AI/CallAnalysisService.php
  crm/pages/admin/calls/[id]/index.vue
Due: build_crm, deploy_crm, deploy_backend

Player improvED
  crm/components/Call/Player.vue
  mob/README.md
  mob/nuxt.config.ts
Due: build_crm, deploy_crm, build_mob, deploy_mob
