Repository maxflex/ec: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, deploy_frontend, deploy_backend

build_frontend:
  stage: build
  image: oven/bun:latest
  before_script:
  - cd crm
  - bun install
  script:
  - bun run build
  artifacts:
    paths:
    - crm/.output/

deploy_frontend:
  stage: deploy
  needs:
  - build_frontend
  before_script:
  - apt-get update -y
  - apt-get -y install rsync
  - mkdir -p ~/.ssh
  - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
  ...

deploy_backend:
  stage: deploy
  script:
  - 'ssh $REMOTE_ADDRESS << ''EOF''
  
    cd $DEPLOY_DIR/back
  
    git pull origin $BRANCH
  
    composer install --no-dev --optimize-autoloader
  
    php artisan config:cache
  
    php artisan route:cache
  
    php artisan view:cache
  
    php artisan migrate --force
  
    EOF'

CI/CD updates
  .gitlab-ci.yml
Due: none

CI/CD test
  back/app/Console/Commands/AppUpdatedCommand.php
Due: deploy_backend

CI/CD test
  .gitlab-ci.yml
  back/app/Console/Commands/AppUpdatedCommand.php
Due: deploy_backend

ci/cd test
  .gitlab-ci.yml
  back/app/Console/Commands/AppUpdatedCommand.php
Due: deploy_backend

ci/cd test
  .gitlab-ci.yml
Due: none

ci/cd test
  back/app/Console/Commands/AppUpdatedCommand.php
Due: deploy_backend

ci/cd test
  .gitlab-ci.yml
  back/app/Providers/RouteServiceProvider.php
  back/routes/admin.php
Due: deploy_backend

is_marked in Review list
  back/app/Http/Resources/ClientReviewListResource.php
  crm/components/ClientReview/Dialog.vue
  crm/components/ClientReview/List.vue
  crm/components/ClientReview/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

WebReview conditions upd
  .gitlab-ci.yml
  back/app/Enums/Exam.php
  back/app/Http/Controllers/Pub/WebReviewController.php
  back/app/Http/Resources/WebReviewPubResource.php
Due: deploy_backend

WebReview resource upd
  back/app/Http/Controllers/Pub/WebReviewController.php
  back/app/Http/Resources/WebReviewPubResource.php
Due: deploy_backend

Balance year selector
  back/app/Http/Controllers/Admin/BalanceController.php
  back/app/Http/Controllers/Teacher/BalanceController.php
  back/app/Models/Group.php
  crm/components/Balance/Balance.vue
Due: build_frontend, deploy_frontend, deploy_backend

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Search upd
  back/app/Http/Resources/SearchResultResource.php
  back/config/scout.php
  crm/components/Search/Results/ClientItem.vue
  crm/components/Search/Results/TeacherItem.vue
  crm/components/Search/index.ts
  crm/pages/admin/search.vue
Due: build_frontend, deploy_frontend, deploy_backend

SBP
  back/app/Enums/ClientPaymentMethod.php
  back/app/Enums/ContractPaymentMethod.php
  back/app/Models/ClientPayment.php
  back/app/Models/ContractPayment.php
  back/app/Models/Group.php
  back/app/Utils/Teeth.php
  back/database/migrations/2025_02_25_134232_add_sbp_payment_method.php
  crm/assets/scss/styles.scss
  crm/components/ClientPayment/Dialog.vue
  crm/components/ContractPayment/Dialog.vue
  crm/components/Group/List.vue
  crm/components/Group/TeacherList.vue
  crm/components/Lesson/Item/ClientLK.vue
  crm/components/TeacherPayment/Dialog.vue
  crm/components/Teeth/AsText.vue
  crm/utils/labels.ts
Due: build_frontend, deploy_frontend, deploy_backend

Teeth group
  back/app/Utils/Teeth.php
Due: deploy_backend

Together work
  back/app/Http/Controllers/Admin/BalanceController.php
  back/app/Http/Controllers/Admin/TeacherPaymentController.php
  back/app/Http/Controllers/Common/AuthController.php
  back/app/Http/Resources/ClientResource.php
  back/app/Models/Client.php
  back/app/Models/Teacher.php
  back/app/Traits/HasBalance.php
  back/app/Utils/TeacherBalance.php
  back/database/migrations/2025_02_25_162513_add_how_found_to_clients.php
  back/resources/views/templates/first-login.blade.php
  back/routes/admin.php
  crm/app/router.options.ts
  crm/components/Balance/Balance.vue
  crm/components/Client/Dialog.vue
  crm/components/Client/GroupsTab.vue
  crm/components/ClientPayment/Dialog.vue
  crm/components/Teacher/Selector.vue
  crm/components/TeacherPayment/Dialog.vue
  crm/pages/admin/index.vue
  crm/pages/admin/teacher-balances.vue
  crm/pages/admin/teachers/[id].vue
  crm/pages/client/index.vue
  crm/pages/index.vue
  crm/pages/teacher/index.vue
  crm/utils/index.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Greeting dont show in Preview Mode
  crm/composables/useHttp.ts
  crm/pages/client/index.vue
  crm/store/useAuthStore.ts
Due: build_frontend, deploy_frontend

Search update
  back/app/Console/Commands/ScoutReimportAll.php
  back/app/Http/Controllers/Admin/SearchController.php
  back/app/Http/Resources/SearchResultResource.php
  back/app/Models/Client.php
  back/app/Models/ClientParent.php
  back/app/Models/Contract.php
  back/app/Models/ContractVersionProgram.php
  back/app/Models/Request.php
  back/app/Models/Teacher.php
  back/app/Traits/HasPhones.php
  back/app/Utils/Swamp.php
  back/config/scout.php
  crm/components/Search/Results.vue
  crm/components/Search/Results/ClientItem.vue
  crm/components/Search/Results/ContractItem.vue
  crm/components/Search/Results/RequestItem.vue
  crm/components/Search/Results/TeacherItem.vue
  crm/components/Search/index.ts
  crm/components/Ui/Person.vue
Due: build_frontend, deploy_frontend, deploy_backend

style fix
  crm/components/Search/Results/ClientItem.vue
Due: build_frontend, deploy_frontend

Search upd
  back/app/Http/Controllers/Admin/SearchController.php
  back/app/Http/Resources/SearchResultResource.php
  back/app/Models/Client.php
  back/app/Models/ClientParent.php
  back/app/Models/Contract.php
  back/app/Models/Request.php
  back/app/Models/Teacher.php
  back/app/Traits/HasPhones.php
  back/config/scout.php
  crm/pages/admin/search.vue
Due: build_frontend, deploy_frontend, deploy_backend

Teacher split balance
  back/app/Enums/TelegramTemplate.php
  back/app/Http/Controllers/Admin/TeacherPaymentController.php
  back/app/Models/Teacher.php
  back/app/Models/TelegramMessage.php
  back/app/Observers/PhoneObserver.php
  back/app/Utils/TeacherBalance.php
  back/database/migrations/2025_02_26_171028_add_is_split_balance_to_teachers.php
  back/resources/views/bot/auth-success.blade.php
  back/resources/views/bot/number-changed.blade.php
  crm/components/Balance/Balance.vue
  crm/components/Teacher/Dialog.vue
  crm/components/TeacherPayment/Dialog.vue
  crm/pages/admin/teacher-balances.vue
  crm/pages/admin/teachers/[id].vue
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Teacher split balance - fix
  back/app/Utils/TeacherBalance.php
Due: deploy_backend

Report delivery status
  back/app/Enums/ReportDelivery.php
  back/app/Http/Controllers/Admin/TeacherPaymentController.php
  back/app/Http/Resources/ReportListResource.php
  back/app/Models/Report.php
  back/app/Observers/ReportObserver.php
  back/database/migrations/2025_02_27_100802_add_delivery_to_reports.php
  crm/components/Report/List/ForAdmins.vue
  crm/components/Topic/List.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Free cabinets selector
  back/app/Http/Controllers/Admin/CabinetController.php
  back/app/Http/Controllers/Admin/CabinetsController.php
  back/routes/admin.php
  crm/components/Cabinet/Selector.vue
  crm/components/Lesson/Dialog.vue
Due: build_frontend, deploy_frontend, deploy_backend

Phone dialog tabs fix
  back/app/Observers/PhoneObserver.php
  crm/components/Phone/Dialog.vue
Due: build_frontend, deploy_frontend, deploy_backend

Search try to fix
  crm/bun.lockb
  crm/components/CallApp/Dialog.vue
  crm/package.json
  crm/pages/admin/search.vue
  crm/utils/index.ts
Due: build_frontend, deploy_frontend

Search in logs
  back/app/Http/Controllers/Common/LogController.php
  crm/components/Log/Filters.vue
  crm/utils/filters.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Telegram message on deletion
  back/app/Console/Commands/Once/UpdateTelegramTemplatesCommand.php
  back/app/Observers/PhoneObserver.php
  back/resources/views/bot/number-changed.blade.php
  crm/components/Log/Filters.vue
  crm/pages/admin/search.vue
Due: build_frontend, deploy_frontend, deploy_backend

ReportRead btn - only 1 telegram message
  .gitlab-ci.yml
  back/app/Console/Commands/Once/SetReportDeliveryCommand.php
  back/app/Enums/TelegramTemplate.php
  back/app/Http/Controllers/Common/TelegramBotController.php
  back/app/Models/Report.php
  back/app/Models/TelegramMessage.php
  back/database/migrations/2025_02_27_153035_remove_report_read_from_telegram_messages.php
Due: deploy_backend

Set Report Delivery step 1
  back/app/Console/Commands/Once/SetReportDeliveryCommand.php
Due: deploy_backend

Telegram delivery set step 2
  back/app/Console/Commands/Once/SetReportDeliveryCommand.php
Due: deploy_backend

Report delivery rules
  back/app/Models/TelegramMessage.php
  back/app/Observers/ReportObserver.php
  crm/components/Report/EditPage.vue
  crm/components/Report/List/ForAdmins.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Cabinet selector moved
  back/app/Http/Controllers/Admin/RequestsController.php
  crm/components/Cabinet/Selector.vue
  crm/components/Lesson/Dialog.vue
  crm/components/Request/Filters.vue
  crm/pages/admin/requests/index.vue
  crm/utils/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

Last seen at
  back/app/Http/Resources/ClientsBrowseResource.php
  back/app/Traits/HasPhones.php
  crm/pages/admin/clients/browse.vue
Due: build_frontend, deploy_frontend, deploy_backend

Last seen at upd
  back/app/Http/Resources/ClientResource.php
  back/app/Http/Resources/ParentResource.php
  crm/components/Ui/LastSeenAt.vue
  crm/pages/admin/clients/[id].vue
  crm/pages/admin/clients/browse.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Cabinet bulk isBusy
  back/app/Enums/Program.php
  back/app/Http/Controllers/Admin/CabinetController.php
  back/app/Http/Controllers/Common/TelegramBotController.php
  back/app/Http/Resources/ClientResource.php
  back/app/Http/Resources/ClientsBrowseResource.php
  back/app/Http/Resources/ParentResource.php
  crm/components/Cabinet/Selector.vue
  crm/components/Lesson/BulkCreateDialog.vue
  crm/components/Lesson/Dialog.vue
Due: build_frontend, deploy_frontend, deploy_backend

Log-in by SMS
  back/app/Http/Controllers/Common/AuthController.php
  crm/components/Phone/Editor.vue
  crm/pages/login.vue
Due: build_frontend, deploy_frontend, deploy_backend

Path conditions:
  build_frontend: any of: crm/**/*
  deploy_frontend: any of: crm/**/*
  deploy_backend: any of: back/**/*
