Repository maxflex/ec: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, deploy_frontend, deploy_backend

.gitlab-ci.yml:

stages:
  - build
  - deploy

variables:
  NODE_ENV: "production"
  BUN_INSTALL: "true"
  BRANCH: main
  REMOTE_ADDRESS: root@104.248.88.1
  DEPLOY_DIR: /var/www/ec


workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == $BRANCH

before_script:
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H $REMOTE_ADDRESS >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts

### 🏗 BUILD FRONTEND (Nuxt 3) ###
build_frontend:
  stage: build
  image: oven/bun:latest  # ✅ Use Bun's official image
  only:
    changes:
      - crm/**/*
  before_script:
    - cd crm
    - bun install
  script:
    - bun run build
  artifacts:
    paths:
      - crm/.output/

### 🚀 DEPLOY FRONTEND ###
deploy_frontend:
  stage: deploy
  only:
    changes:
      - crm/**/*
  needs:
    - build_frontend  # ✅ Ensure build finishes before deploying
  before_script:
    - apt-get update -y
    - apt-get -y install rsync
    - mkdir -p ~/.ssh
    - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - rsync -a crm/.output $REMOTE_ADDRESS:$DEPLOY_DIR/crm
    - ssh $REMOTE_ADDRESS "cd $DEPLOY_DIR/crm && pm2 restart ecosystem.config.js || pm2 start ecosystem.config.js"

### 🚀 DEPLOY BACKEND (Laravel) ###
deploy_backend:
  stage: deploy
  only:
    changes:
      - back/**/*
  script:
    - |
      ssh $REMOTE_ADDRESS << 'EOF'
      cd $DEPLOY_DIR/back
      git pull origin $BRANCH
      composer install --no-dev --optimize-autoloader
      php artisan config:cache
      php artisan route:cache
      php artisan view:cache
      php artisan migrate --force
      EOF

Visual updates
  crm/assets/scss/_calendar.scss
  crm/components/Group/List.vue
  crm/components/Group/Panel.vue
  crm/components/Group/Teachers.vue
  crm/components/Lesson/Item/AdminGroup.vue
  crm/components/Schedule/Schedule.vue
  crm/components/ScheduleDraft/GroupList.vue
  crm/components/Ui/NoData.vue
  crm/pages/admin/groups/[id].vue
Due: build_frontend, deploy_frontend

Free cabinets removed
  back/app/Http/Controllers/Admin/CabinetController.php
  back/routes/admin.php
  crm/components/Cabinet/Selector.vue
  crm/components/Lesson/BulkCreateDialog.vue
  crm/components/Lesson/Dialog.vue
Due: build_frontend, deploy_frontend, deploy_backend

Cabinets
  crm/components/Cabinet/Selector.vue
  crm/components/Cabinet/WithCapacity.vue
  crm/components/Group/List.vue
  crm/components/Lesson/Item/AdminClient.vue
  crm/components/Lesson/Item/AdminGroup.vue
  crm/components/Lesson/Item/AdminTeacher.vue
  crm/components/ScheduleDraft/GroupList.vue
  crm/components/Swamp/List.vue
  crm/pages/admin/groups/[id].vue
Due: build_frontend, deploy_frontend

Cabinets fix
  back/app/Console/Commands/UpdateScheduleCommand.php
  crm/components/Cabinet/Selector.vue
Due: build_frontend, deploy_frontend, deploy_backend

Schedule items upd
  back/app/Http/Resources/LessonListResource.php
  crm/components/Lesson/Item/AdminClient.vue
  crm/components/Lesson/Item/AdminGroup.vue
  crm/components/Lesson/Item/AllLessons.vue
  crm/components/Lesson/Item/ClientLK.vue
  crm/components/Lesson/Item/HeadTeacherLK.vue
  crm/components/Lesson/Item/TeacherLK.vue
  crm/components/Swamp/List.vue
  crm/pages/admin/all-lessons.vue
Due: build_frontend, deploy_frontend, deploy_backend

Filter contract date
  back/app/Http/Controllers/Admin/GroupController.php
  back/app/Models/Group.php
  crm/components/Group/Dialog.vue
  crm/components/Group/Filters.vue
  crm/components/Swamp/Counts.vue
  crm/pages/admin/swamps.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Sort custom removed
  back/app/Models/ScheduleDraft.php
  crm/components/Balance/Balance.vue
  crm/components/Group/TeacherList.vue
  crm/components/Lesson/Item/Status.vue
  crm/components/Schedule/Schedule.vue
  crm/components/Swamp/Counts.vue
  crm/components/Swamp/index.ts
  crm/components/Ui/Loader.vue
  crm/pages/admin/swamps.vue
  crm/pages/admin/teacher-balances.vue
Due: build_frontend, deploy_frontend, deploy_backend

Teacher tests removed
  back/routes/teacher.php
  crm/components/Menu/TeacherMenu.vue
  crm/pages/teacher/tests/[id].vue
  crm/pages/teacher/tests/index.vue
  crm/pages/teacher/tests/result/[id].vue
Due: build_frontend, deploy_frontend, deploy_backend

Program filter
  back/app/Utils/Stats/Metrics/ContractMetric.php
  crm/components/Program/Selector.vue
  crm/components/Stats/Metrics/ContractMetric.vue
Due: build_frontend, deploy_frontend, deploy_backend

ContractVersionProgram metric
  back/app/Utils/Stats/Metrics/ContractMetric.php
  back/app/Utils/Stats/Metrics/ContractProgramMetric.php
  crm/components/Stats/Metrics/ContractMetric.vue
  crm/components/Stats/Metrics/ContractProgramMetric.vue
  crm/components/Stats/Metrics/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

Group level / Client risk
  back/app/Http/Controllers/Admin/SwampController.php
  back/app/Http/Resources/ClientResource.php
  back/app/Http/Resources/GroupListResource.php
  back/app/Http/Resources/LessonListResource.php
  back/app/Models/Client.php
  back/app/Models/Group.php
  back/database/migrations/2025_08_20_160503_add_level_to_groups.php
  back/database/migrations/2025_08_20_161853_add_is_risk_to_clients.php
  crm/components/Client/Dialog.vue
  crm/components/Client/RiskLabel.vue
  crm/components/Client/index.ts
  crm/components/Group/Dialog.vue
  crm/components/Group/Link.vue
  crm/components/Group/List.vue
  crm/components/Group/Panel.vue
  crm/components/Lesson/Item/AdminClient.vue
  crm/components/Lesson/Item/AdminGroup.vue
  crm/components/Lesson/Item/AdminTeacher.vue
  crm/components/Lesson/Item/AllLessons.vue
  crm/components/ScheduleDraft/GroupList.vue
  crm/components/Swamp/AddToGroup/List.vue
  crm/components/Swamp/AddToGroup/index.ts
  crm/components/Swamp/List.vue
  crm/pages/admin/clients/[id].vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

feat: flag schedule draft issues in list
  back/app/Http/Resources/SavedScheduleDraftResource.php
  back/app/Models/ScheduleDraft.php
  crm/components/ScheduleDraft/List.vue
  crm/components/ScheduleDraft/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

fix: handle group data as array
  back/app/Models/ScheduleDraft.php
Due: deploy_backend

Group level in ScheduleDrafts
  back/app/Models/ScheduleDraft.php
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

refactor: optimize schedule draft problems check
  back/app/Models/ScheduleDraft.php
Due: deploy_backend

refactor: centralize schedule draft problem checks
  back/app/Models/ScheduleDraft.php
Due: deploy_backend

fix: check contract conflict per changed group
  back/app/Models/ScheduleDraft.php
Due: deploy_backend

fix: detect schedule draft issues
  back/app/Models/ScheduleDraft.php
Due: deploy_backend

ai: ScheduleDraft has_problems_in_list
  back/app/Http/Resources/SavedScheduleDraftResource.php
  back/app/Models/ScheduleDraft.php
  crm/components/ScheduleDraft/List.vue
  crm/components/ScheduleDraft/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

Optionally load has_problems_in_list
  back/app/Http/Resources/SavedScheduleDraftResource.php
  crm/pages/admin/schedule-drafts/index.vue
Due: build_frontend, deploy_frontend, deploy_backend

small fixes
  back/app/Http/Resources/SavedScheduleDraftResource.php
  back/app/Models/ScheduleDraft.php
  crm/pages/admin/schedule-drafts/index.vue
Due: build_frontend, deploy_frontend, deploy_backend

refactor stats display toggle
  crm/components/Stats/Chart/Line.vue
  crm/components/Stats/Dialog.vue
  crm/components/Stats/index.ts
  crm/pages/admin/stats.vue
Due: build_frontend, deploy_frontend

Send default display param and fix stats dialog
  crm/components/Stats/Dialog.vue
  crm/components/Stats/SavePresetDialog.vue
  crm/pages/admin/stats.vue
Due: build_frontend, deploy_frontend

Stop sending display param to backend
  crm/components/Stats/SavePresetDialog.vue
  crm/pages/admin/stats.vue
Due: build_frontend, deploy_frontend

Stats chart upd
  back/app/Http/Controllers/Admin/StatsController.php
  back/app/Utils/Stats/Stats.php
  crm/components/Stats/Chart/Line.vue
  crm/components/Stats/Chart/Years.vue
  crm/components/Stats/Dialog.vue
  crm/components/Stats/index.ts
  crm/pages/admin/stats.vue
Due: build_frontend, deploy_frontend, deploy_backend

refactor: optimize client schedule query
  back/app/Models/Client.php
Due: deploy_backend

Chart upd.
  crm/components/Stats/Chart/Bar.vue
  crm/components/Stats/Chart/index.ts
  crm/components/Stats/Dialog.vue
  crm/pages/admin/search.vue
  crm/pages/admin/stats.vue
Due: build_frontend, deploy_frontend

Fix ambiguous column in client schedule subqueries
  back/app/Models/Client.php
Due: deploy_backend

Schedule speed-up
  back/app/Models/Client.php
Due: deploy_backend

Stats graph improvED
  back/app/Utils/Stats/Stats.php
  crm/components/Stats/Chart/Bar.vue
  crm/components/Stats/Chart/Years.vue
  crm/components/Stats/Chart/index.ts
  crm/pages/admin/stats.vue
  crm/utils/labels.ts
Due: build_frontend, deploy_frontend, deploy_backend

Revert getData in ScheduleDrafts
  back/app/Models/ScheduleDraft.php
  crm/components/ScheduleDraft/Editor.vue
  crm/components/Stats/Chart/Years.vue
Due: build_frontend, deploy_frontend, deploy_backend

Draft students cnt
  back/app/Http/Controllers/Admin/ClientGroupController.php
  back/app/Http/Resources/GroupListResource.php
  back/app/Http/Resources/GroupResource.php
  back/app/Http/Resources/LessonListResource.php
  back/app/Http/Resources/SwampListResource.php
  back/app/Models/Group.php
  back/app/Models/ScheduleDraft.php
  crm/components/Group/List.vue
  crm/components/Group/StudentsCount.vue
  crm/components/Group/StudentsTab.vue
  crm/components/Lesson/Item/AdminGroup.vue
  crm/components/Lesson/Item/AdminTeacher.vue
  crm/components/Lesson/Item/AllLessons.vue
  crm/components/ScheduleDraft/GroupList.vue
  crm/components/Swamp/List.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Tabs component
  crm/assets/scss/styles.scss
  crm/components/Group/StudentsCount.vue
  crm/components/Group/StudentsTab.vue
  crm/components/Lesson/Item/AdminGroup.vue
  crm/components/Phone/DialogContent.vue
  crm/components/Ui/Tabs.vue
  crm/composables/useTabs.ts
  crm/pages/admin/clients/[id].vue
  crm/pages/admin/groups/[id].vue
  crm/pages/admin/teachers/[id].vue
  crm/pages/teacher/clients/[id].vue
  crm/pages/teacher/groups/[id].vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend

Update index.ts
  crm/components/Stats/Metrics/index.ts
Due: build_frontend, deploy_frontend

Drop client_payments table
  back/database/migrations/2025_08_26_191141_drop_client_payments_table.php
Due: deploy_backend

Macros fix
  back/app/Http/Controllers/Admin/PrintController.php
  back/app/Models/OtherPayment.php
  back/app/Models/Person.php
  back/app/Traits/HasName.php
  crm/components/OtherPayment/Dialog.vue
Due: build_frontend, deploy_frontend, deploy_backend

Fix contract print
  crm/components/ContractVersion/Dialog.vue
Due: build_frontend, deploy_frontend

Swamps by program
  back/app/Http/Controllers/Admin/SwampController.php
  crm/components/Menu/AdminMenu.vue
  crm/pages/admin/swamps/by-program.vue
  crm/pages/admin/swamps/index.vue
Due: build_frontend, deploy_frontend, deploy_backend

LessonsByProgramMetric
  back/app/Http/Controllers/Admin/SwampController.php
  back/app/Utils/Stats/Metrics/LessonsByProgramMetric.php
  crm/components/Stats/Metrics/LessonsByProgramMetric.vue
  crm/components/Stats/Metrics/index.ts
  crm/pages/admin/swamps/by-program.vue
  crm/pages/admin/swamps/index.vue
Due: build_frontend, deploy_frontend, deploy_backend
