Repository maxflex/ec: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, deploy_frontend, deploy_backend

build_frontend:
  stage: build
  image: oven/bun:latest
  before_script:
  - cd crm
  - bun install
  script:
  - bun run build
  artifacts:
    paths:
    - crm/.output/

deploy_frontend:
  stage: deploy
  needs:
  - build_frontend
  before_script:
  - apt-get update -y
  - apt-get -y install rsync
  - mkdir -p ~/.ssh
  - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
  ...

deploy_backend:
  stage: deploy
  script:
  - 'ssh $REMOTE_ADDRESS << ''EOF''
  
    cd $DEPLOY_DIR/back
  
    git pull origin $BRANCH
  
    composer install --no-dev --optimize-autoloader
  
    php artisan config:cache
  
    php artisan route:cache
  
    php artisan view:cache
  
    php artisan migrate --force
  
    EOF'

AVG fix
  back/app/Console/Commands/TeacherStatsCommand.php
  crm/components/Teacher/Stats/Tab.vue
  crm/components/Teacher/Stats/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

Chart improvements
  crm/components/Teacher/Stats/Tab.vue
  crm/components/Teacher/Stats/index.ts
Due: build_frontend, deploy_frontend

Chart improvements
  crm/components/Teacher/Stats/Tab.vue
Due: build_frontend, deploy_frontend

Charts: yet another fix
  crm/components/Teacher/Stats/index.ts
Due: build_frontend, deploy_frontend

Tests multi-answers
  back/app/Http/Resources/ClientTestResource.php
  back/app/Models/ClientTest.php
  crm/assets/scss/_test.scss
  crm/components/ClientTest/CountDown.vue
  crm/components/ClientTest/List.vue
  crm/components/ClientTest/ResultsPage.vue
  crm/components/ClientTest/Tab.vue
  crm/components/ClientTest/index.ts
  crm/components/Test/Dialog.vue
  crm/components/Test/QuestionsDialog.vue
  crm/components/Test/index.ts
  crm/pages/admin/tests/index.vue
  crm/pages/client/tests/active.vue
  crm/pages/client/tests/index.vue
  crm/utils/index.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

TeacherStats style improved
  crm/components/Teacher/Stats/Tab.vue
Due: build_frontend, deploy_frontend

Pass notification
  back/app/Console/Commands/Notification/PassNotificationCommand.php
  back/app/Console/Commands/Notification/TeacherConductMissingCommand.php
  back/app/Console/Kernel.php
  back/app/Utils/Sms.php
Due: deploy_backend

PassType removed
  back/app/Console/Commands/Notification/PassNotificationCommand.php
  back/app/Enums/PassType.php
  back/app/Http/Controllers/Admin/PassController.php
  back/app/Http/Resources/PassResource.php
  back/app/Models/Pass.php
  back/database/migrations/2024_10_15_122342_create_passes_table.php
  back/database/migrations/2025_04_10_151406_drop_type_from_passes.php
  crm/components/Pass/Dialog.vue
  crm/components/Pass/Filters.vue
  crm/components/Pass/List.vue
  crm/components/Pass/index.ts
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Passes: comment => name rename
  back/app/Http/Controllers/Pub/SecurityController.php
  back/app/Http/Resources/PassLogResource.php
  back/app/Http/Resources/PassResource.php
  back/app/Http/Resources/SecurityPassResource.php
  back/app/Models/Pass.php
  back/app/Models/PassLog.php
  back/database/migrations/2025_04_10_153017_add_comment_to_passes.php
  crm/components/Pass/Dialog.vue
  crm/components/Pass/List.vue
  crm/components/Pass/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

AllPayments multi-filters
  back/app/Http/Controllers/Admin/AllPaymentsController.php
  crm/components/Pass/List.vue
  crm/pages/admin/all-payments.vue
  crm/utils/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

Conduct lesson message
  back/app/Models/ClientLesson.php
  back/database/migrations/2025_04_10_200537_add_timestamps_to_client_lessons.php
  crm/components/ClientReview/List.vue
  crm/components/Dialog/DeleteBtn.vue
  crm/components/Event/Dialog.vue
  crm/components/File/Uploader.vue
  crm/components/Instruction/EditPage.vue
  crm/components/Lesson/ConductDialog.vue
  crm/components/Schedule/Schedule.vue
  crm/composables/useGlobalMessage.ts
  crm/composables/useHttp.ts
  crm/layouts/default.vue
Due: build_frontend, deploy_frontend, deploy_backend

Speed-up client swamps
  back/app/Http/Controllers/Admin/SwampController.php
  back/app/Utils/Swamp.php
  crm/components/Client/GroupsTab.vue
Due: build_frontend, deploy_frontend, deploy_backend

Swamp speed-up
  back/app/Http/Controllers/Controller.php
Due: deploy_backend

ClientTests upd
  back/app/Console/Commands/TeacherStatsCommand.php
  back/app/Events/ClientTestUpdatedEvent.php
  back/app/Http/Controllers/Admin/ClientTestController.php
  back/app/Http/Controllers/Client/ClientTestController.php
  back/app/Http/Resources/ClientTestResource.php
  back/app/Http/Resources/TestResource.php
  back/app/Models/ClientTest.php
  back/app/Models/Test.php
  back/app/Utils/TeacherStats.php
  back/database/migrations/2025_04_11_152215_drop_program_from_tests.php
  back/database/migrations/2025_04_11_152648_add_description_to_tests.php
  crm/assets/scss/_test.scss
  crm/components/ClientTest/CountDown.vue
  crm/components/ClientTest/List.vue
  crm/components/ClientTest/ResultsPage.vue
  crm/components/ClientTest/Tab.vue
  crm/components/ClientTest/index.ts
  crm/components/Teacher/Stats/Tab.vue
  crm/components/Teacher/Stats/index.ts
  crm/components/Test/Dialog.vue
  crm/components/Test/List.vue
  crm/components/Test/QuestionsDialog.vue
  crm/components/Test/SelectorDialog.vue
  crm/components/Test/index.ts
  crm/components/Ui/YearSelector.vue
  crm/middleware/check-active-test.ts
  crm/pages/admin/client-tests.vue
  crm/pages/client/tests/active.vue
  crm/pages/client/tests/start/[id].vue
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Test quick fix
  crm/components/Test/Dialog.vue
Due: build_frontend, deploy_frontend

Stats by week format upd
  back/app/Console/Commands/TeacherStatsCommand.php
  back/app/Utils/TeacherStats.php
  crm/pages/admin/stats.vue
  crm/utils/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

Teacher stats upd
  back/app/Utils/TeacherStats.php
  crm/components/Teacher/Stats/TeacherStats.vue
  crm/components/Teacher/Stats/index.ts
  crm/pages/admin/_test/index.vue
  crm/pages/admin/teachers/[id].vue
Due: build_frontend, deploy_frontend, deploy_backend

tmp comment
  crm/components/Teacher/Stats/index.ts
Due: build_frontend, deploy_frontend

Stats upd
  back/app/Utils/TeacherStats.php
  crm/components/Teacher/Stats/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

Stats: conductedNextDayCount
  back/app/Utils/TeacherStats.php
  crm/components/Teacher/Stats/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

Update TeacherStats.vue
  crm/components/Teacher/Stats/TeacherStats.vue
Due: build_frontend, deploy_frontend

Show 429 Errors in BugSnag
  back/app/Exceptions/Handler.php
Due: deploy_backend

Horizon
  back/app/Providers/HorizonServiceProvider.php
  back/composer.json
  back/composer.lock
  back/config/app.php
  back/config/horizon.php
Due: deploy_backend

Horizon pub
  back/app/Providers/HorizonServiceProvider.php
  crm/nuxt.config.ts
  crm/package.json
Due: build_frontend, deploy_frontend, deploy_backend

Tests upd
  .gitlab-ci.yml
  back/routes/teacher.php
  crm/components/ClientTest/List.vue
  crm/components/ClientTest/ResultsPage.vue
  crm/components/ClientTest/Tab.vue
  crm/components/Test/List.vue
  crm/composables/useIndex.ts
  crm/pages/admin/tests/index.vue
  crm/pages/teacher/clients/[id].vue
  crm/pages/teacher/tests/[id].vue
  crm/pages/teacher/tests/result/[id].vue
Due: build_frontend, deploy_frontend, deploy_backend

Tests page is back
  crm/.gitignore
  crm/pages/admin/tests/index.vue
  mob/.gitignore
Due: build_frontend, deploy_frontend

Packages updated
  crm/assets/scss/_calendar.scss
  crm/assets/scss/_dialog.scss
  crm/bun.lockb
  crm/components/Client/Dialog.vue
  crm/components/ClientLesson/EditPriceDialog.vue
  crm/components/ContractPayment/Dialog.vue
  crm/components/Event/Dialog.vue
  crm/components/Lesson/BulkCreateDialog.vue
  crm/components/Lesson/BulkUpdateDialog.vue
  crm/components/Lesson/ConductDialog.vue
  crm/components/Lesson/Dialog.vue
  crm/components/Phone/Editor.vue
  crm/components/Stats/Dialog.vue
  crm/components/Stats/SavePresetDialog.vue
  crm/components/Teacher/Stats/TeacherStatsCharts.vue
  crm/components/TeacherPayment/Dialog.vue
  crm/components/Ui/DateInput.vue
  crm/nuxt.config.ts
  crm/package.json
  crm/pages/admin/_test/index.vue
  crm/pages/admin/group-message/send.vue
  crm/pages/admin/index.vue
  crm/pages/admin/passes/permanent.vue
  crm/pages/admin/passes/stats.vue
  crm/pages/admin/teachers/[id].vue
  crm/pages/login.vue
  crm/pages/teacher/index.vue
  crm/plugins/maska.client.ts
  crm/plugins/vuetify.ts
Due: build_frontend, deploy_frontend

Rambda replaced with lodash
  crm/bun.lockb
  crm/components/Client/Dialog.vue
  crm/components/ClientPayment/Dialog.vue
  crm/components/ClientReview/Dialog.vue
  crm/components/ContractPayment/Dialog.vue
  crm/components/ContractVersion/Dialog.vue
  crm/components/Event/Dialog.vue
  crm/components/Event/List.vue
  crm/components/ExamDate/Dialog.vue
  crm/components/ExamScore/Dialog.vue
  crm/components/Group/Dialog.vue
  crm/components/Group/VisitsTab.vue
  crm/components/GroupAct/Dialog.vue
  crm/components/HeadTeacherReport/Dialog.vue
  crm/components/Lesson/BulkCreateDialog.vue
  crm/components/Lesson/Dialog.vue
  crm/components/Lesson/ScoresDialog.vue
  crm/components/Pass/Dialog.vue
  crm/components/Request/Dialog.vue
  crm/components/Schedule/Schedule.vue
  crm/components/ScholarshipScore/Dialog.vue
  crm/components/Stats/Dialog.vue
  crm/components/Stats/Metrics/Editor.vue
  crm/components/Stats/SavePresetDialog.vue
  crm/components/Teacher/Dialog.vue
  crm/components/TeacherPayment/Dialog.vue
  crm/components/TeacherService/Dialog.vue
  crm/components/Test/Dialog.vue
  crm/components/Test/SelectorDialog.vue
  crm/components/Topic/Dialog.vue
  crm/components/Ui/Avatar.vue
  crm/components/User/Dialog.vue
  crm/components/WebReview/Dialog.vue
  crm/package.json
  crm/pages/admin/group-message/send.vue
  crm/pages/admin/stats.vue
  crm/pages/client/tests/active.vue
Due: build_frontend, deploy_frontend

lodash => lodash-es
  crm/bun.lockb
  crm/components/Client/Dialog.vue
  crm/components/ClientPayment/Dialog.vue
  crm/components/ClientReview/Dialog.vue
  crm/components/ContractPayment/Dialog.vue
  crm/components/ContractVersion/Dialog.vue
  crm/components/Event/Dialog.vue
  crm/components/Event/List.vue
  crm/components/ExamDate/Dialog.vue
  crm/components/ExamScore/Dialog.vue
  crm/components/Group/Dialog.vue
  crm/components/Group/VisitsTab.vue
  crm/components/GroupAct/Dialog.vue
  crm/components/HeadTeacherReport/Dialog.vue
  crm/components/Lesson/BulkCreateDialog.vue
  crm/components/Lesson/Dialog.vue
  crm/components/Lesson/ScoresDialog.vue
  crm/components/Pass/Dialog.vue
  crm/components/Request/Dialog.vue
  crm/components/Schedule/Schedule.vue
  crm/components/ScholarshipScore/Dialog.vue
  crm/components/Stats/Dialog.vue
  crm/components/Stats/Metrics/Editor.vue
  crm/components/Stats/SavePresetDialog.vue
  crm/components/Teacher/Dialog.vue
  crm/components/TeacherPayment/Dialog.vue
  crm/components/TeacherService/Dialog.vue
  crm/components/Test/Dialog.vue
  crm/components/Test/SelectorDialog.vue
  crm/components/Topic/Dialog.vue
  crm/components/User/Dialog.vue
  crm/components/WebReview/Dialog.vue
  crm/package.json
  crm/pages/admin/group-message/send.vue
  crm/pages/admin/stats.vue
  crm/pages/client/tests/active.vue
Due: build_frontend, deploy_frontend

Dialog height fix
  crm/assets/scss/_dialog.scss
  crm/components/ClientTest/CountDown.vue
  crm/components/Test/List.vue
Due: build_frontend, deploy_frontend

Remove ClientTestCountDown
  crm/components/ClientTest/CountDown.vue
  crm/components/ClientTest/List.vue
  crm/components/Ui/CountDown.vue
  crm/pages/client/tests/active.vue
Due: build_frontend, deploy_frontend

Remove dayjs & clean-up mob packages
  .gitlab-ci.yml
  crm/bun.lockb
  crm/components/Comment/Dialog.vue
  crm/components/Group/LessonCounts.vue
  crm/components/Schedule/Schedule.vue
  crm/components/TelegramMessage/HistoryList.vue
  crm/components/Ui/Avatar.vue
  crm/package.json
  crm/pages/client/billing.vue
  crm/plugins/dayjs.client.ts
  crm/utils/index.ts
  mob/bun.lock
  mob/components/Schedule/Schedule.vue
  mob/components/Ui/Avatar.vue
  mob/components/Ui/CountDown.vue
  mob/nuxt.config.ts
  mob/package.json
  mob/pages/client/billing.vue
  mob/plugins/dayjs.client.ts
Due: build_frontend, deploy_frontend

MOB: clean-up components
  .gitlab-ci.yml
  mob/components/Program/Selector.vue
  mob/components/Ui/Checkbox.vue
  mob/components/Ui/EcAvatar.vue
  mob/components/Ui/MonthSelector.vue
Due: none

All lessons up to June
  crm/pages/admin/all-lessons.vue
Due: build_frontend, deploy_frontend

Clean-up filters a little
  back/app/Http/Controllers/Admin/CallController.php
  back/app/Http/Controllers/Admin/ClientController.php
  back/app/Http/Controllers/Admin/ClientReviewController.php
  back/app/Http/Controllers/Admin/ClientTestController.php
  back/app/Http/Controllers/Admin/ContractController.php
  back/app/Http/Controllers/Admin/ContractVersionController.php
  back/app/Http/Controllers/Admin/GroupController.php
  back/app/Http/Controllers/Admin/InstructionController.php
  back/app/Http/Controllers/Admin/PassController.php
  back/app/Http/Controllers/Admin/PeopleSelectorController.php
  back/app/Http/Controllers/Admin/ReportController.php
  back/app/Http/Controllers/Admin/RequestsController.php
  back/app/Http/Controllers/Admin/SwampController.php
  back/app/Http/Controllers/Admin/TeacherController.php
  back/app/Http/Controllers/Admin/TopicController.php
  back/app/Http/Controllers/Admin/UserController.php
  back/app/Http/Controllers/Admin/WebReviewController.php
  back/app/Http/Controllers/Controller.php
  back/app/Http/Controllers/EventController.php
  back/app/Http/Controllers/ExamDateController.php
  back/app/Http/Controllers/LogController.php
  back/app/Http/Controllers/Pub/SecurityController.php
  back/app/Http/Controllers/Pub/TeacherController.php
  back/app/Http/Controllers/VacationController.php
  back/app/Http/Resources/JustAttributesResource.php
  back/app/Utils/Stats/Metrics/ClientLessonMetric.php
  back/app/Utils/Stats/Metrics/ContractMetric.php
  back/app/Utils/Stats/Metrics/ContractPaymentMetric.php
  back/app/Utils/Stats/Metrics/LessonMetric.php
  back/app/Utils/Stats/Metrics/PassMetric.php
  back/app/Utils/Stats/Metrics/ReportMetric.php
  back/app/Utils/Stats/Metrics/RequestMetric.php
  back/app/Utils/Stats/Metrics/RequestPassesMetric.php
  back/app/Utils/Stats/Metrics/TeacherLessonMetric.php
  back/app/Utils/Stats/Metrics/VisitsMetric.php
  back/database/migrations/2025_01_17_135534_add_comment_to_client_lessons.php
Due: deploy_backend

Always clone deep
  crm/components/Client/Dialog.vue
  crm/components/ClientPayment/Dialog.vue
  crm/components/ClientReview/Dialog.vue
  crm/components/ContractPayment/Dialog.vue
  crm/components/ContractVersion/Dialog.vue
  crm/components/Event/Dialog.vue
  crm/components/ExamDate/Dialog.vue
  crm/components/ExamScore/Dialog.vue
  crm/components/Group/Dialog.vue
  crm/components/GroupAct/Dialog.vue
  crm/components/HeadTeacherReport/Dialog.vue
  crm/components/Lesson/BulkCreateDialog.vue
  crm/components/Lesson/Dialog.vue
  crm/components/Lesson/ScoresDialog.vue
  crm/components/Pass/Dialog.vue
  crm/components/Request/Dialog.vue
  crm/components/ScholarshipScore/Dialog.vue
  crm/components/Stats/Dialog.vue
  crm/components/Stats/Metrics/Editor.vue
  crm/components/Stats/SavePresetDialog.vue
  crm/components/Teacher/Dialog.vue
  crm/components/TeacherPayment/Dialog.vue
  crm/components/TeacherService/Dialog.vue
  crm/components/Test/Dialog.vue
  crm/components/Test/SelectorDialog.vue
  crm/components/Topic/Dialog.vue
  crm/components/User/Dialog.vue
  crm/components/WebReview/Dialog.vue
  crm/pages/admin/group-message/send.vue
  crm/pages/admin/stats.vue
  crm/pages/client/tests/active.vue
Due: build_frontend, deploy_frontend

Calendar dialog always fullscreen
  crm/assets/scss/_calendar.scss
  crm/components/Calendar/Dialog.vue
  crm/components/Calendar/Dialog2.vue
  crm/components/Stats/Dialog.vue
  crm/components/Stats/SavePresetDialog.vue
  crm/components/Ui/DateInput.vue
  crm/composables/useDialog.ts
  crm/pages/admin/group-message/send.vue
  crm/pages/admin/passes/stats.vue
Due: build_frontend, deploy_frontend

New request phones fix
  back/app/Http/Controllers/Admin/RequestsController.php
Due: deploy_backend

New macros
  crm/components/ContractVersion/Dialog.vue
Due: build_frontend, deploy_frontend

CodeMirror syntax highlight fix
  back/app/Http/Controllers/Admin/TelegramListController.php
  crm/bun.lock
  crm/package.json
Due: build_frontend, deploy_frontend, deploy_backend

Path conditions:
  build_frontend: any of: crm/**/*
  deploy_frontend: any of: crm/**/*
  deploy_backend: any of: back/**/*
