Repository maxflex/ec: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

build_crm:
  stage: build
  image: oven/bun:latest
  before_script:
  - cd crm
  - bun install
  script:
  - bun run build
  artifacts:
    paths:
    - crm/.output/

deploy_crm:
  stage: deploy
  needs:
  - build_crm
  before_script:
  - apt-get update -y
  - apt-get -y install rsync
  - mkdir -p ~/.ssh
  - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
  ...

build_mob:
  stage: build
  image: oven/bun:latest
  before_script:
  - cd mob
  - bun install
  script:
  - bun run build
  artifacts:
    paths:
    - mob/.output/

deploy_mob:
  stage: deploy
  needs:
  - build_mob
  before_script:
  - apt-get update -y
  - apt-get -y install rsync
  - mkdir -p ~/.ssh
  - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
  ...

deploy_backend:
  stage: deploy
  script:
  - ssh root@$REMOTE_ADDRESS "cd $DEPLOY_DIR/back && git pull origin $BRANCH && composer install --no-dev --optimize-autoloader && php artisan config:cache && php artisan route:cache && php artisan view:cache && php artisan migrate --force && php artisan horizon:terminate"

Update Dialog.vue
  crm/components/Report/Dialog.vue
Due: build_crm, deploy_crm

Update Tab.vue
  crm/components/Report/Tab.vue
Due: build_crm, deploy_crm

Holidays fix
  back/app/Models/Grade.php
  back/resources/views/templates/client-lesson-status.blade.php
  crm/components/Schedule/Schedule.vue
Due: build_crm, deploy_crm, deploy_backend

ZOOM visual upd
  crm/components/Lesson/Item/AdminTeacher.vue
  crm/components/Lesson/Item/ClientLK.vue
  crm/components/Lesson/Item/TeacherLK.vue
  crm/components/Report/List/ForAdmins.vue
  crm/components/SmsMessage/HistoryList.vue
  crm/components/TelegramMessage/HistoryList.vue
  crm/pages/client/events/[id].vue
  crm/pages/representative/events/[id].vue
Due: build_crm, deploy_crm

Client directions upd
  back/app/Console/Commands/Once/SetClientDirection.php
  back/app/Http/Controllers/Admin/ClientController.php
  back/app/Models/Client.php
  back/app/Models/ClientDirection.php
  back/database/migrations/2025_10_30_181146_create_client_directions_table.php
  crm/components/Client/Dialog.vue
  crm/components/Client/Directions.vue
  crm/components/Client/DirectionsEditor.vue
  crm/components/Client/List.vue
  crm/components/Client/index.ts
  crm/components/Search/Results/ClientItem.vue
  crm/pages/admin/clients/[id].vue
  crm/pages/admin/clients/active.vue
  crm/pages/admin/control/lessons.vue
  crm/pages/admin/control/lk.vue
  crm/pages/admin/people-selector/index.vue
  crm/pages/admin/people-selector/send.vue
  crm/pages/admin/telegram-lists/[id].vue
  crm/pages/teacher/clients/[id].vue
  crm/utils/types.d.ts
Due: build_crm, deploy_crm, deploy_backend

Update SetClientDirection.php
  back/app/Console/Commands/Once/SetClientDirection.php
Due: deploy_backend

Project tab upd
  back/app/Http/Resources/ClientResource.php
  back/app/Http/Resources/ProjectResource.php
  crm/components/Client/Panel.vue
  crm/components/Client/index.ts
  crm/components/Project/Editor.vue
  crm/components/Project/GroupList.vue
  crm/components/Project/index.ts
  crm/components/Ui/Avatar.vue
  crm/pages/admin/clients/[id].vue
  crm/pages/admin/projects/editor.vue
Due: build_crm, deploy_crm, deploy_backend

Client directions fix
  crm/components/Project/Editor.vue
  crm/pages/admin/people-selector/index.vue
Due: build_crm, deploy_crm

Client directions upd
  back/app/Models/ClientDirection.php
  crm/components/Client/Directions.vue
  crm/components/Client/index.ts
Due: build_crm, deploy_crm, deploy_backend

Update Panel.vue
  crm/components/Client/Panel.vue
Due: build_crm, deploy_crm

Lesson conduct in transaction
  back/app/Models/Lesson.php
Due: deploy_backend

Teacher stats fix
  back/app/Http/Resources/EventResource.php
  back/app/Utils/TeacherStats/TeacherStats.php
  crm/components/Event/index.ts
  crm/components/Teacher/Stats/index.ts
  crm/pages/admin/events/[id].vue
Due: build_crm, deploy_crm, deploy_backend

Report status
  crm/components/Report/List/ForClients.vue
  crm/components/Report/List/ForHeadTeachers.vue
  crm/components/Report/List/ForTeachers.vue
  crm/components/Report/Tabs.vue
  crm/components/Report/View.vue
Due: build_crm, deploy_crm

Update helpers.php
  back/app/Utils/helpers.php
Due: deploy_backend

New macros
  crm/components/Client/Panel.vue
  crm/components/ContractVersion/Dialog.vue
  crm/components/Print/index.ts
  crm/components/Project/Editor.vue
Due: build_crm, deploy_crm

Update Page.vue
  mob/components/Billing/Page.vue
Due: build_mob, deploy_mob

Year buttons removed
  back/app/Http/Controllers/Admin/ControlController.php
  back/app/Http/Controllers/Admin/PeopleSelectorController.php
  crm/pages/admin/control/lessons.vue
  crm/pages/admin/control/lk.vue
  crm/pages/admin/people-selector/index.vue
Due: build_crm, deploy_crm, deploy_backend

Event upd
  crm/components/Event/Header.vue
  crm/pages/admin/events/[id].vue
  crm/pages/admin/people-selector/send.vue
  crm/utils/labels.ts
Due: build_crm, deploy_crm

Complaint is_resolved
  back/app/Http/Resources/ComplaintListResource.php
  back/app/Http/Resources/ComplaintResource.php
  back/app/Models/Complaint.php
  back/database/migrations/2025_11_07_144319_add_is_resolved_to_complaints.php
  crm/components/Complaint/Dialog.vue
  crm/components/Complaint/List.vue
  crm/components/Complaint/index.ts
Due: build_crm, deploy_crm, deploy_backend

TG report view fixes
  back/app/Models/TelegramMessage.php
  crm/components/Report/List/ForClients.vue
  crm/pages/admin/_test/sbp.vue
  mob/components/Report/View.vue
  mob/composables/useHttp.ts
  mob/layouts/login.vue
  mob/middleware/01.login-redirect.global.ts
  mob/pages/admin/index.vue
  mob/stores/useAuthStore.ts
Due: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

Grades menu fix
  back/app/Models/Client.php
  back/app/Models/Representative.php
  mob/components/App/Header/menu.ts
  mob/components/App/Menu.vue
  mob/layouts/default.vue
Due: build_mob, deploy_mob, deploy_backend

Report year filters
  back/app/Http/Controllers/Client/ReportController.php
  back/app/Http/Controllers/Representative/ReportController.php
  crm/components/Report/PageClients.vue
  crm/pages/client/reports/index.vue
  crm/pages/representative/reports/index.vue
  mob/app/router.options.ts
  mob/components/Report/Page.vue
  mob/layouts/default.vue
  mob/pages/client/reports/index.vue
  mob/pages/representative/reports/index.vue
Due: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

Events upd
  back/app/Http/Controllers/Client/EventParticipantController.php
  back/app/Http/Controllers/Representative/EventController.php
  back/app/Http/Controllers/Teacher/EventController.php
  back/app/Http/Resources/EventParticipantResource.php
  back/app/Models/EventParticipant.php
  back/routes/client.php
  back/routes/representative.php
  back/routes/teacher.php
  crm/assets/scss/index.scss
  crm/components/Event/Header.vue
  crm/components/Event/PageId.vue
  crm/components/Event/PageIndex.vue
  crm/components/Table/Actions.vue
  crm/components/Table/Col.vue
  crm/components/Table/Row.vue
  crm/components/Table/Table.vue
  crm/components/Ui/FullWidth.vue
  crm/pages/representative/events/[id].vue
  crm/pages/representative/events/index.vue
  crm/pages/teacher/events.vue
  crm/pages/teacher/events/[id].vue
  crm/pages/teacher/events/index.vue
Due: build_crm, deploy_crm, deploy_backend

Violations
  back/app/Http/Controllers/Admin/AllLessonsController.php
  back/app/Http/Controllers/Admin/ClientLessonController.php
  back/app/Http/Controllers/Admin/ComplaintController.php
  back/app/Http/Controllers/Admin/ViolationController.php
  back/app/Http/Resources/LessonListResource.php
  back/app/Http/Resources/ViolationListResource.php
  back/app/Http/Resources/ViolationResource.php
  back/app/Models/Lesson.php
  back/app/Models/Violation.php
  back/database/migrations/2025_11_13_144121_create_violations_table.php
  back/routes/admin.php
  crm/assets/scss/_table.scss
  crm/assets/scss/index.scss
  crm/components/ClientReview/Dialog.vue
  crm/components/Complaint/Dialog.vue
  crm/components/Event/PageId.vue
  crm/components/File/Uploader.vue
  crm/components/Lesson/Item/AdminAllLessons.vue
  crm/components/Lesson/Item/AdminGroup.vue
  crm/components/Menu/AdminMenu.vue
  crm/components/Schedule/Schedule.vue
  crm/components/Table/Actions.vue
  crm/components/Table/Buttons.vue
  crm/components/Table/Col.vue
  crm/components/Violation/Dialog.vue
  crm/components/Violation/List.vue
  crm/components/Violation/Tab.vue
  crm/components/Violation/index.ts
  crm/composables/useCrud.ts
  crm/pages/admin/all-lessons.vue
  crm/pages/admin/clients/[id].vue
  crm/pages/admin/violations.vue
  crm/utils/types.d.ts
Due: build_crm, deploy_crm, deploy_backend

Update ViolationController.php
  back/app/Http/Controllers/Admin/ViolationController.php
Due: deploy_backend

small renames
  crm/components/Violation/List.vue
  crm/pages/admin/violations.vue
Due: build_crm, deploy_crm

Violations
  back/app/Http/Controllers/Admin/ViolationController.php
  back/app/Http/Resources/LessonListResource.php
  back/app/Models/Violation.php
  back/database/migrations/2025_11_13_144121_create_violations_table.php
  crm/assets/scss/styles.scss
  crm/components/File/PhotoUploader.vue
  crm/components/File/VideoUploader.vue
  crm/components/Lesson/Item/AdminAllLessons.vue
  crm/components/Violation/Dialog.vue
  crm/components/Violation/List.vue
  crm/components/Violation/index.ts
  crm/composables/useCrud.ts
  crm/pages/admin/all-lessons.vue
  crm/utils/labels.ts
Due: build_crm, deploy_crm, deploy_backend

Violation small updates
  crm/assets/scss/styles.scss
  crm/components/File/PhotoUploader.vue
  crm/components/Ui/Loader.vue
  crm/components/Violation/Dialog.vue
  crm/components/Violation/List.vue
Due: build_crm, deploy_crm

Violation small updates
  crm/components/Violation/Dialog.vue
  crm/components/Violation/List.vue
Due: build_crm, deploy_crm

Complaint front fix
  crm/components/Complaint/List.vue
  crm/components/Violation/List.vue
Due: build_crm, deploy_crm

visual fixes
  crm/components/File/VideoUploader.vue
  crm/components/Violation/List.vue
Due: build_crm, deploy_crm

Update VideoUploader.vue
  crm/components/File/VideoUploader.vue
Due: build_crm, deploy_crm

Truncate visual improvED
  crm/components/File/PhotoUploader.vue
  crm/components/File/VideoUploader.vue
Due: build_crm, deploy_crm

Client availablePrograms fix
  back/app/Http/Controllers/Admin/ClientController.php
  back/app/Http/Controllers/Admin/ComplaintController.php
  back/routes/admin.php
  crm/components/ClientReview/Dialog.vue
  crm/components/Complaint/Dialog.vue
  crm/components/Violation/List.vue
Due: build_crm, deploy_crm, deploy_backend

Lesson conducted status override fix
  back/app/Http/Controllers/Admin/LessonController.php
  back/app/Models/ContractVersionProgram.php
  back/app/Models/Lesson.php
  back/app/Models/User.php
  back/app/Observers/LessonObserver.php
  back/app/Observers/UserIdObserver.php
Due: deploy_backend

Alfa controller test
  back/app/Http/Controllers/Pub/AlfaController.php
  back/routes/pub.php
Due: deploy_backend

Path conditions:
  build_crm: any of: crm/**/*
  deploy_crm: any of: crm/**/*
  build_mob: any of: mob/**/*
  deploy_mob: any of: mob/**/*
  deploy_backend: any of: back/**/*
