Repository maxflex/ec: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

build_crm:
  stage: build
  image: oven/bun:latest
  before_script:
  - cd crm
  - bun install
  script:
  - bun run build
  artifacts:
    paths:
    - crm/.output/

deploy_crm:
  stage: deploy
  needs:
  - build_crm
  before_script:
  - apt-get update -y
  - apt-get -y install rsync
  - mkdir -p ~/.ssh
  - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
  ...

build_mob:
  stage: build
  image: oven/bun:latest
  before_script:
  - cd mob
  - bun install
  script:
  - bun run build
  artifacts:
    paths:
    - mob/.output/

deploy_mob:
  stage: deploy
  needs:
  - build_mob
  before_script:
  - apt-get update -y
  - apt-get -y install rsync
  - mkdir -p ~/.ssh
  - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
  ...

deploy_backend:
  stage: deploy
  script:
  - ssh root@$REMOTE_ADDRESS "cd $DEPLOY_DIR/back && git pull origin $BRANCH && composer install --no-dev --optimize-autoloader && php artisan config:cache && php artisan route:cache && php artisan view:cache && php artisan migrate --force && php artisan horizon:terminate"

TeacherActs
  back/app/Http/Controllers/Admin/PrintController.php
  back/app/Http/Controllers/Admin/TeacherActController.php
  back/app/Http/Resources/TeacherActListResource.php
  back/app/Http/Resources/TeacherActResource.php
  back/app/Models/Teacher.php
  back/app/Models/TeacherAct.php
  back/app/Models/TeacherContract.php
  back/database/migrations/2026_01_29_151702_create_teacher_acts_table.php
  back/routes/admin.php
  crm/assets/scss/styles.scss
  crm/components/Menu/AdminMenu.vue
  crm/components/Print/index.ts
  crm/components/TeacherAct/DataTable.vue
  crm/components/TeacherAct/Dialog.vue
  crm/components/TeacherAct/List.vue
  crm/components/TeacherAct/MassDialog.vue
  crm/components/TeacherAct/Tab.vue
  crm/components/TeacherAct/index.ts
  crm/components/TeacherContract/Dialog.vue
  crm/composables/useDialog.ts
  crm/pages/admin/teacher-acts.vue
  crm/pages/admin/teachers/[id].vue
Due: build_crm, deploy_crm, deploy_backend

Teacher acts export
  back/app/Exports/TeacherActExport.php
  back/app/Http/Controllers/Admin/TeacherActController.php
  back/app/Models/TeacherAct.php
  back/routes/admin.php
  crm/components/TeacherAct/List.vue
  crm/components/TeacherContract/List.vue
  crm/pages/admin/teacher-acts.vue
Due: build_crm, deploy_crm, deploy_backend

Update TeacherActController.php
  back/app/Http/Controllers/Admin/TeacherActController.php
Due: deploy_backend

Act files
  back/app/Http/Resources/TeacherActListResource.php
  back/app/Models/TeacherAct.php
  back/app/Models/TeacherContract.php
  back/database/migrations/2026_01_29_151702_create_teacher_acts_table.php
  crm/components/TeacherAct/Dialog.vue
  crm/components/TeacherAct/List.vue
  crm/components/TeacherAct/index.ts
  crm/components/TeacherContract/Tab.vue
Due: build_crm, deploy_crm, deploy_backend

Update Teacher.php
  back/app/Models/Teacher.php
Due: deploy_backend

Report single field - test
  back/.DS_Store
  back/app/Http/Controllers/Admin/ReportController.php
  back/app/Http/Resources/ReportResource.php
  back/app/Models/Report.php
  back/app/Utils/AI/ChatGPT.php
  back/app/Utils/AI/GeminiReportService.php
  back/composer.json
  back/composer.lock
  back/config/gemini.php
  back/database/migrations/2026_01_23_171505_add_comment_to_reports.php
  back/resources/views/ai/report-instructions.blade.php
  back/resources/views/ai/report.blade.php
  crm/components/Report/Dialog.vue
  crm/components/Report/Tabs.vue
  crm/components/Report/View.vue
  crm/components/Report/index.ts
Due: build_crm, deploy_crm, deploy_backend

New cabinets
  back/app/Console/Commands/Helper/CabinetsToJsCommand.php
  back/app/Console/Commands/UpdateEnumsCommand.php
  back/app/Enums/Cabinet.php
  back/app/Models/Group.php
  back/resources/views/other/cabinets-to-js.blade.php
  crm/components/Cabinet/Selector.vue
  crm/components/Cabinet/index.ts
  mob/components/Cabinet/index.ts
Due: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

Update Filters.vue
  crm/components/Pass/Filters.vue
Due: build_crm, deploy_crm

Gemini test 2
  back/app/Http/Controllers/Admin/ReportController.php
  back/app/Utils/AI/GeminiReportService.php
  crm/components/Report/Dialog.vue
Due: build_crm, deploy_crm, deploy_backend

Report test
  crm/components/Report/Dialog.vue
Due: build_crm, deploy_crm

Add direction filter to contract-bal
  back/app/Http/Controllers/Admin/ContractBalanceController.php
  crm/pages/admin/contract-balances.vue
Due: build_crm, deploy_crm, deploy_backend

Update ContractBalanceController.php
  back/app/Http/Controllers/Admin/ContractBalanceController.php
Due: deploy_backend

Update index.ts
  crm/utils/index.ts
Due: build_crm, deploy_crm

Report AI upd
  back/app/Enums/Direction.php
  back/app/Utils/AI/GeminiReportService.php
  back/database/migrations/2026_02_06_143948_add_ai_comment_to_reports.php
  back/resources/views/ai/report.blade.php
  crm/components/Report/Dialog.vue
  crm/pages/admin/macros/[id].vue
Due: build_crm, deploy_crm, deploy_backend

Report AI upd
  back/resources/views/ai/report.blade.php
  crm/pages/admin/macros/[id].vue
Due: build_crm, deploy_crm, deploy_backend

Create AGENTS.md
  AGENTS.md
Due: none

Update AGENTS.md
  AGENTS.md
Due: none

Split intstruction & prompt
  AGENTS.md
  back/app/Utils/AI/GeminiReportService.php
  back/resources/views/ai/report.blade.php
Due: deploy_backend

Adjust report ai display logic
  AGENTS.md
  back/app/Http/Controllers/Admin/ReportController.php
  back/app/Http/Resources/ReportResource.php
  back/app/Models/Report.php
  back/app/Utils/AI/GeminiReportService.php
  back/resources/views/ai/report-instructions.blade.php
  crm/assets/scss/_report.scss
  crm/components/Report/Dialog.vue
  crm/components/Report/Tabs.vue
  crm/components/Report/View.vue
  crm/components/Report/index.ts
  mob/components/Report/View.vue
  mob/utils/types.d.ts
Due: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

Update Report.php
  back/app/Models/Report.php
Due: deploy_backend

Add AI fill logic for mobile report
  crm/components/Report/Dialog.vue
  mob/components/Report/View.vue
Due: build_crm, deploy_crm, build_mob, deploy_mob

Remove AI improve feature
  back/.env.example
  back/app/Http/Controllers/Admin/ReportController.php
  back/app/Utils/AI/ChatGPT.php
  back/composer.json
  back/composer.lock
  back/config/openai.php
  crm/assets/scss/_report.scss
  crm/bun.lock
  crm/components/Report/Dialog.vue
  crm/components/Report/index.ts
  crm/package.json
  mob/components/Report/View.vue
Due: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

Скорректировать сроки отчётов
  back/app/Models/Report.php
Due: deploy_backend

Обновить рендер макросов отчета
  back/app/Utils/AI/GeminiReportService.php
  back/resources/views/ai/report-instructions.blade.php
  back/resources/views/ai/report.blade.php
Due: deploy_backend

Restrict macro list response fields
  back/app/Http/Controllers/Admin/MacroController.php
  back/app/Http/Resources/MacroListResource.php
Due: deploy_backend

AI instructions upd
  back/resources/views/ai/report-instructions.blade.php
  back/resources/views/ai/report.blade.php
Due: deploy_backend

AI Prompts
  AGENTS.md
  back/app/Http/Controllers/Admin/AiPromptController.php
  back/app/Models/AiPrompt.php
  back/app/Providers/AppServiceProvider.php
  back/app/Utils/AI/AiPromptRenderer.php
  back/app/Utils/AI/GeminiReportService.php
  back/database/migrations/2026_02_16_120000_create_ai_prompts_table.php
  back/resources/views/ai/report-instructions.blade.php
  back/resources/views/ai/report.blade.php
  back/routes/admin.php
  crm/assets/scss/styles.scss
  crm/components/Menu/AdminMenu.vue
  crm/components/Report/Dialog.vue
  crm/pages/admin/ai-prompts/[id].vue
  crm/pages/admin/ai-prompts/index.vue
  crm/utils/types.d.ts
Due: build_crm, deploy_crm, deploy_backend

Calls transcription
  AGENTS.md
  back/app/Http/Controllers/Admin/AiPromptController.php
  back/app/Jobs/TranscribeCallRecordingJob.php
  back/app/Models/AiPrompt.php
  back/app/Models/Call.php
  back/app/Observers/CallObserver.php
  back/app/Providers/AppServiceProvider.php
  back/app/Utils/AI/AiPromptRenderer.php
  back/app/Utils/AI/GeminiCallTranscriptionService.php
  back/app/Utils/AI/GeminiReportService.php
  back/app/Utils/AI/GeminiService.php
  back/app/Utils/helpers.php
  back/database/migrations/2026_02_16_120000_create_ai_prompts_table.php
  back/database/migrations/2026_02_16_190000_add_transcription_to_calls_table.php
  crm/pages/admin/ai-prompts/[id].vue
  crm/pages/admin/ai-prompts/index.vue
  crm/utils/types.d.ts
Due: build_crm, deploy_crm, deploy_backend

Call summary
  back/app/Jobs/ProcessCallRecordingJob.php
  back/app/Observers/CallObserver.php
  back/app/Utils/AI/GeminiCallRecordingService.php
  back/app/Utils/AI/GeminiCallTranscriptionService.php
  back/database/migrations/2026_02_16_190000_add_transcription_to_calls_table.php
Due: deploy_backend

Update ProcessCallRecordingJob.php
  back/app/Jobs/ProcessCallRecordingJob.php
Due: deploy_backend

CodeMirror upd fix
  back/app/Utils/AI/GeminiCallRecordingService.php
  crm/pages/admin/ai-prompts/[id].vue
  crm/pages/admin/macros/[id].vue
Due: build_crm, deploy_crm, deploy_backend

TMP: add ai/report.blade.php
  back/resources/views/ai/report.blade.php
Due: deploy_backend

Update Mango.php
  back/app/Utils/Mango.php
Due: deploy_backend

Report text fields removed
  back/app/Http/Controllers/Admin/ReportController.php
  back/app/Http/Resources/ReportResource.php
  back/app/Jobs/GenerateReportAiCommentJob.php
  back/app/Models/AiPrompt.php
  back/app/Models/Report.php
  back/app/Observers/ReportObserver.php
  back/app/Utils/AI/AiPromptRenderer.php
  back/app/Utils/AI/GeminiCallRecordingService.php
  back/app/Utils/AI/GeminiReportService.php
  back/database/migrations/2026_02_18_120100_merge_legacy_report_comments_into_comment.php
  back/resources/views/ai/report.blade.php
  crm/assets/scss/_report.scss
  crm/assets/scss/styles.scss
  crm/components/Report/Dialog.vue
  crm/components/Report/Tabs.vue
  crm/components/Report/View.vue
  crm/components/Report/index.ts
  crm/pages/client/index.vue
  mob/assets/scss/styles.scss
  mob/components/Report/View.vue
  mob/pages/client/index.vue
  mob/pages/representative/index.vue
  mob/utils/types.d.ts
Due: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

Report flow improvements
  back/app/Http/Controllers/Teacher/ReportController.php
  back/app/Http/Resources/ReportListResource.php
  back/app/Jobs/ProcessCallRecordingJob.php
  back/app/Utils/AI/GeminiCallService.php
  back/app/Utils/AI/GeminiReportService.php
  crm/components/Comment/Dialog.vue
  crm/components/Report/Dialog.vue
  crm/components/Report/List/ForAdmins.vue
  crm/components/Report/List/ForTeachers.vue
  crm/components/Report/index.ts
Due: build_crm, deploy_crm, deploy_backend

Update _report.scss
  crm/assets/scss/_report.scss
Due: build_crm, deploy_crm

Обновить таймауты и backoff Job
  back/app/Jobs/GenerateReportAiCommentJob.php
  back/app/Jobs/ProcessCallRecordingJob.php
  back/app/Jobs/UpdateScheduleJob.php
  back/config/horizon.php
  back/config/queue.php
Due: deploy_backend

Report comment not displayed
  back/app/Jobs/ProcessCallRecordingJob.php
  back/app/Utils/AI/GeminiCallService.php
  crm/components/Report/Tabs.vue
  crm/components/Report/View.vue
Due: build_crm, deploy_crm, deploy_backend

Update Tabs.vue
  crm/components/Report/Tabs.vue
Due: build_crm, deploy_crm

Improve Gemini response handling
  back/app/Utils/AI/GeminiReportService.php
Due: deploy_backend

Path conditions:
  build_crm: any of: crm/**/*
  deploy_crm: any of: crm/**/*
  build_mob: any of: mob/**/*
  deploy_mob: any of: mob/**/*
  deploy_backend: any of: back/**/*
