Repository maxflex/ec: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, deploy_frontend, deploy_backend

.gitlab-ci.yml:

stages:
  - build
  - deploy

variables:
  NODE_ENV: "production"
  BUN_INSTALL: "true"
  BRANCH: main
  REMOTE_ADDRESS: root@104.248.88.1
  DEPLOY_DIR: /var/www/ec


workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == $BRANCH

before_script:
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H $REMOTE_ADDRESS >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts

### 🏗 BUILD FRONTEND (Nuxt 3) ###
build_frontend:
  stage: build
  image: oven/bun:latest  # ✅ Use Bun's official image
  only:
    changes:
      - crm/**/*
  before_script:
    - cd crm
    - bun install
  script:
    - bun run build
  artifacts:
    paths:
      - crm/.output/

### 🚀 DEPLOY FRONTEND ###
deploy_frontend:
  stage: deploy
  only:
    changes:
      - crm/**/*
  needs:
    - build_frontend  # ✅ Ensure build finishes before deploying
  before_script:
    - apt-get update -y
    - apt-get -y install rsync
    - mkdir -p ~/.ssh
    - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - rsync -a crm/.output $REMOTE_ADDRESS:$DEPLOY_DIR/crm
    - ssh $REMOTE_ADDRESS "cd $DEPLOY_DIR/crm && pm2 restart ecosystem.config.js || pm2 start ecosystem.config.js"

### 🚀 DEPLOY BACKEND (Laravel) ###
deploy_backend:
  stage: deploy
  only:
    changes:
      - back/**/*
  script:
    - |
      ssh $REMOTE_ADDRESS << 'EOF'
      cd $DEPLOY_DIR/back
      git pull origin $BRANCH
      composer install --no-dev --optimize-autoloader
      php artisan config:cache
      php artisan route:cache
      php artisan view:cache
      php artisan migrate --force
      EOF

Better message preview in TG lists
  crm/pages/admin/telegram-lists/[id].vue
Due: build_frontend, deploy_frontend

Telegram list beautify
  crm/components/TelegramList/List.vue
  crm/components/TelegramList/Recipients.vue
  crm/pages/admin/telegram-lists/[id].vue
Due: build_frontend, deploy_frontend

TelegramList beautify further
  back/app/Http/Controllers/Admin/TelegramListController.php
  back/app/Http/Resources/TelegramListResource.php
  back/app/Models/TelegramList.php
  crm/components/TelegramList/List.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

TelegramList beautify further 2
  crm/components/TelegramList/List.vue
Due: build_frontend, deploy_frontend

TelegramList beautify further 3
  crm/components/TelegramList/List.vue
Due: build_frontend, deploy_frontend

SpravkaDialog validate
  crm/components/Print/SpravkaDialog.vue
Due: build_frontend, deploy_frontend

Redis maxClients error fix
  crm/server/api/sse.ts
Due: build_frontend, deploy_frontend

MOB: SharedWorker removed
  crm/server/api/sse.ts
  mob/plugins/shared-worker.client.ts
  mob/plugins/sse.client.ts
  mob/public/workers/shared-worker.js
Due: build_frontend, deploy_frontend

Update auth-success.blade.php
  back/resources/views/bot/auth-success.blade.php
Due: deploy_backend

Stats fix
  crm/utils/index.ts
Due: build_frontend, deploy_frontend

formatDateMode upd
  back/app/Providers/RouteServiceProvider.php
  crm/pages/admin/stats.vue
  crm/utils/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

Testing param
  back/app/Http/Controllers/Pub/RequestsController.php
  back/app/Providers/RouteServiceProvider.php
Due: deploy_backend

Teacher tests
  back/routes/teacher.php
  crm/components/Menu/TeacherMenu.vue
  crm/components/Test/Dialog.vue
  crm/components/Test/IndexPage.vue
  crm/components/Test/Page.vue
  crm/pages/teacher/tests/index.vue
Due: build_frontend, deploy_frontend, deploy_backend

Stats new filter
  back/app/Utils/Stats/Metrics/RequestPassesMetric.php
  crm/components/Stats/Metrics/RequestPassesMetric.vue
  crm/components/Test/Dialog.vue
Due: build_frontend, deploy_frontend, deploy_backend

IDs for health-check
  crm/pages/login.vue
Due: build_frontend, deploy_frontend

Calendar dialog transition
  crm/assets/scss/_calendar.scss
  crm/assets/scss/_dialog.scss
  crm/components/Calendar/Dialog.vue
  crm/components/Stats/SavePresetDialog.vue
Due: build_frontend, deploy_frontend

Reports order update
  back/app/Http/Controllers/Admin/ReportController.php
Due: deploy_backend

TeacherStatsCharts fix
  crm/components/Teacher/Stats/TeacherStatsCharts.vue
Due: build_frontend, deploy_frontend

Remove second type param from useIndex
  crm/components/Client/GroupsTab.vue
  crm/components/ClientReview/Tab.vue
  crm/components/Group/Selector.vue
  crm/components/GroupMessage/PeopleSelector.vue
  crm/components/HeadTeacher/ClientsTab.vue
  crm/components/Swamp/Selector.vue
  crm/composables/useIndex.ts
  crm/pages/admin/client-payments.vue
  crm/pages/admin/client-reviews.vue
  crm/pages/admin/clients/browse.vue
  crm/pages/admin/clients/index.vue
  crm/pages/admin/contracts.vue
  crm/pages/admin/group-message/send.vue
  crm/pages/admin/groups/index.vue
  crm/pages/admin/head-teacher-reports.vue
  crm/pages/admin/logs.vue
  crm/pages/admin/passes/index.vue
  crm/pages/admin/passes/permanent.vue
  crm/pages/admin/passes/stats.vue
  crm/pages/admin/reports/index.vue
  crm/pages/admin/requests/index.vue
  crm/pages/admin/scholarship-scores.vue
  crm/pages/admin/search.vue
  crm/pages/admin/swamps.vue
  crm/pages/admin/teacher-payments.vue
  crm/pages/admin/teacher-services.vue
  crm/pages/admin/telegram-lists/[id].vue
  crm/pages/admin/telegram-messages.vue
  crm/pages/admin/users.vue
  crm/pages/admin/web-reviews.vue
Due: build_frontend, deploy_frontend

TG Mini app
  back/app/Http/Controllers/Pub/AuthController.php
  back/app/Http/Controllers/Pub/TelegramBotController.php
  back/app/Utils/TelegramMiniApp.php
  back/resources/views/bot/hello.blade.php
  back/routes/pub.php
  crm/composables/useMagicLink.ts
  crm/utils/index.ts
  mob/assets/scss/styles.scss
  mob/bun.lock
  mob/components/App/Header/Header.vue
  mob/components/TgMiniApp/Auth.client.vue
  mob/components/TgMiniApp/Controls.client.vue
  mob/components/Ui/Avatar.vue
  mob/composables/useHistory.ts
  mob/composables/useMagicLink.ts
  mob/layouts/default.vue
  mob/middleware/history.global.ts
  mob/nuxt.config.ts
  mob/package.json
  mob/pages/client/index.vue
  mob/pages/login.vue
  mob/plugins/tg-mini-app.client.ts
  mob/plugins/vuetify.ts
Due: build_frontend, deploy_frontend, deploy_backend

Remove ClientReviews from teacher
  back/app/Http/Controllers/Teacher/ClientReviewController.php
  back/routes/teacher.php
  crm/components/Menu/TeacherMenu.vue
  crm/pages/teacher/client-reviews.vue
Due: build_frontend, deploy_frontend, deploy_backend

Device type in logs
  back/app/Enums/LogDevice.php
  back/app/Http/Controllers/LogController.php
  back/app/Http/Resources/LogResource.php
  back/app/Models/Log.php
  back/database/migrations/2025_04_29_194059_add_device_to_logs.php
  crm/components/ClientReview/List.vue
  crm/components/Log/Filters.vue
  crm/components/Log/List.vue
  crm/utils/labels.ts
  crm/utils/types.d.ts
  mob/composables/useHttp.ts
Due: build_frontend, deploy_frontend, deploy_backend

ContractPaymentMetric year bugfix
  back/app/Utils/Stats/Metrics/ContractPaymentMetric.php
Due: deploy_backend

Stats fix
  back/app/Utils/Stats/Metrics/ContractPaymentMetric.php
Due: deploy_backend

Client Payments fix
  back/app/Http/Controllers/Admin/AllPaymentsController.php
Due: deploy_backend

Events reworked
  back/app/Http/Controllers/EventController.php
  back/app/Http/Resources/EventListResource.php
  crm/assets/scss/styles.scss
  crm/components/Crud/index.ts
  crm/components/Event/ItemAdmin.vue
  crm/components/Event/ItemClient.vue
  crm/components/Event/ItemOld.vue
  crm/components/Event/ItemTeacher.vue
  crm/components/Event/ListForLk.vue
  crm/components/Event/Status.vue
  crm/components/Event/Tab.vue
  crm/components/Menu/ClientMenu.vue
  crm/components/Menu/TeacherMenu.vue
  crm/components/Schedule/Schedule.vue
  crm/composables/useCrud.ts
  crm/pages/admin/clients/[id].vue
  crm/pages/admin/events/index.vue
  crm/pages/admin/teachers/[id].vue
  crm/pages/client/events.vue
  crm/pages/teacher/events.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Exam dates removed
  back/app/Enums/Exam.php
  back/app/Http/Controllers/Admin/ExamController.php
  back/app/Http/Controllers/ExamDateController.php
  back/app/Models/ExamDate.php
  back/database/migrations/2025_05_21_170831_drop_exam_dates_table.php
  back/routes/admin.php
  back/routes/client.php
  back/routes/teacher.php
  crm/assets/scss/_lesson.scss
  crm/components/ExamDate/Dialog.vue
  crm/components/ExamDate/List.vue
  crm/components/Log/Filters.vue
  crm/components/Menu/AdminMenu.vue
  crm/components/Schedule/Schedule.vue
  crm/pages/admin/exam-dates.vue
  crm/pages/admin/exams.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Event index clean-up
  crm/pages/admin/events/index.vue
Due: build_frontend, deploy_frontend

MOB: events
  .gitignore
  crm/components/Event/ListForLk.vue
  mob/.editorconfig
  mob/assets/scss/_lesson.scss
  mob/components/App/Header/menu.ts
  mob/components/Event/List.vue
  mob/components/Schedule/Row/Event.vue
  mob/components/Schedule/Schedule.vue
  mob/pages/client/events.vue
Due: build_frontend, deploy_frontend

Client complaint upd
  back/app/Http/Controllers/Admin/ClientComplaintController.php
  crm/components/ClientComplaint/Dialog.vue
  crm/components/ClientComplaint/List.vue
  crm/components/ClientComplaint/Tab.vue
  crm/components/Crud/Dialog.vue
  crm/components/Crud/index.ts
  crm/composables/useCrud.ts
  crm/composables/useHttp.ts
  crm/pages/admin/client-complaints.vue
Due: build_frontend, deploy_frontend, deploy_backend

TelegramLists together work
  back/app/Models/TelegramList.php
  crm/assets/scss/_show.scss
  crm/assets/scss/styles.scss
  crm/components/Event/List.vue
  crm/components/Event/ListForLk.vue
  crm/components/GroupMessage/PeopleSelector.vue
  crm/components/Menu/AdminMenu.vue
  crm/components/TelegramList/List.vue
  crm/components/TelegramMessage/Form.vue
  crm/components/TelegramMessage/List.vue
  crm/pages/admin/events/[id]/index.vue
  crm/pages/admin/group-message/send.vue
  crm/pages/admin/telegram-lists/[id].vue
  crm/pages/admin/telegram-lists/index.vue
  crm/utils/labels.ts
Due: build_frontend, deploy_frontend, deploy_backend

Pass is_first_usage
  back/app/Http/Resources/EventListResource.php
  back/app/Http/Resources/PassResource.php
  back/app/Models/Pass.php
  crm/assets/scss/styles.scss
  crm/components/Event/Dialog.vue
  crm/components/Event/List.vue
  crm/components/GroupMessage/PeopleSelector.vue
  crm/components/Pass/List.vue
  crm/components/Pass/index.ts
  crm/pages/admin/events/index.vue
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

For anton tmp script
  back/app/Console/Commands/Once/RequestsForAntonCommand.php
  back/app/Http/Resources/ContractResource.php
  back/app/Http/Resources/EventListResource.php
  back/app/Models/Client.php
  back/app/Models/Contract.php
  back/app/Models/Pass.php
  crm/assets/scss/styles.scss
  crm/components/Contract/Tab.vue
  crm/components/ContractVersion/List2.vue
  crm/components/Event/List.vue
  crm/components/Event/ListForLk.vue
  crm/components/Lesson/ConductDialog.vue
  crm/components/Lesson/Item/AdminClient.vue
  crm/components/Lesson/Item/AdminGroup.vue
  crm/components/Pass/List.vue
  crm/components/Ui/NoData.vue
  crm/pages/admin/contract-balances.vue
  crm/pages/admin/group-message/send.vue
  crm/public/img/logo-gray.svg
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

WIP
  back/app/Console/Commands/SetContractVersionProgramStatusCommand.php
  back/app/Enums/ContractVersionProgramStatus.php
  back/app/Http/Controllers/Admin/SwampController.php
  back/app/Http/Resources/SwampListResource.php
  back/app/Models/Client.php
  back/app/Models/ContractVersionProgram.php
  back/app/Utils/Swamp.php
  back/database/migrations/2025_05_26_111814_add_status_to_contract_version_programs.php
  crm/components/Swamp/Filters.vue
  crm/components/Swamp/List.vue
  crm/components/Swamp/Status.vue
  crm/components/Ui/ClearableSelect.vue
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

wip
  back/app/Http/Controllers/Admin/SwampController.php
  back/app/Models/Client.php
  crm/components/Client/GroupsTab.vue
Due: build_frontend, deploy_frontend, deploy_backend

source in contracts
  back/app/Http/Controllers/Admin/ContractVersionController.php
  back/app/Http/Resources/ContractVersionResource.php
  back/app/Models/Contract.php
  back/database/migrations/2025_05_26_155808_add_source_to_contracts.php
  crm/components/ContractVersion/Dialog.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

wip
  back/app/Http/Controllers/Admin/PeopleSelectorController.php
  back/app/Http/Controllers/Admin/SwampController.php
  crm/components/Client/GroupsTab.vue
Due: build_frontend, deploy_frontend, deploy_backend

Contract list 2
  back/app/Http/Resources/ContractVersionListResource.php
  crm/components/ContractVersion/List.vue
Due: build_frontend, deploy_frontend, deploy_backend

Contract list types
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend
