Repository maxflex/ec: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

.gitlab-ci.yml:

stages:
  - build
  - deploy

variables:
  BRANCH: main
  REMOTE_ADDRESS: 104.248.88.1
  DEPLOY_DIR: /var/www/ec

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == $BRANCH

before_script:
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H $REMOTE_ADDRESS >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts


### 🏗 BUILD CRM (Nuxt 3) ###
build_crm:
  stage: build
  image: oven/bun:latest  # ✅ Use Bun's official image
  only:
    changes:
      - crm/**/*
  before_script:
    - cd crm
    - bun install
  script:
    - bun run build
  artifacts:
    paths:
      - crm/.output/


### 🚀 DEPLOY CRM ###
deploy_crm:
  stage: deploy
  only:
    changes:
      - crm/**/*
  needs:
    - build_crm  # ✅ Ensure build finishes before deploying
  before_script:
    - apt-get update -y
    - apt-get -y install rsync
    - mkdir -p ~/.ssh
    - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - rsync -a --delete crm/.output root@$REMOTE_ADDRESS:$DEPLOY_DIR/crm
    - ssh root@$REMOTE_ADDRESS "cd $DEPLOY_DIR/crm && /root/.nvm/versions/node/v20.11.1/bin/pm2 start ecosystem.config.js"

### 🏗 BUILD MOB (Nuxt 3) ###
build_mob:
  stage: build
  image: oven/bun:latest  # ✅ Use Bun's official image
  only:
    changes:
      - mob/**/*
  before_script:
    - cd mob
    # - cp -r ../crm/utils ./utils
    - bun install
  script:
    - bun run build
  artifacts:
    paths:
      - mob/.output/


### 🚀 DEPLOY MOB ###
deploy_mob:
  stage: deploy
  only:
    changes:
      - mob/**/*
  needs:
    - build_mob  # ✅ Ensure build finishes before deploying
  before_script:
    - apt-get update -y
    - apt-get -y install rsync
    - mkdir -p ~/.ssh
    - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - rsync -a --delete mob/.output root@$REMOTE_ADDRESS:$DEPLOY_DIR/mob
    - ssh root@$REMOTE_ADDRESS "cd $DEPLOY_DIR/mob && /root/.nvm/versions/node/v20.11.1/bin/pm2 start ecosystem.config.js"


### 🚀 DEPLOY BACKEND (Laravel) ###
deploy_backend:
  stage: deploy
  only:
    changes:
      - back/**/*
  script:
    - ssh root@$REMOTE_ADDRESS "cd $DEPLOY_DIR/back && git pull origin $BRANCH && composer install --no-dev --optimize-autoloader && php artisan config:cache && php artisan route:cache && php artisan view:cache && php artisan migrate --force && php artisan horizon:terminate"

Cabinet capacity
  back/app/Console/Commands/Once/SetSchoolQuartersCommand.php
  back/app/Enums/Cabinet.php
  crm/components/Cabinet/index.ts
  crm/components/Lesson/Dialog.vue
Due: build_crm, deploy_crm, deploy_backend

Conducted student count fix
  back/app/Http/Resources/LessonListResource.php
  crm/components/Group/StudentsCount.vue
  crm/components/Lesson/Dialog.vue
  crm/components/Lesson/Item/AdminGroup.vue
  crm/components/Lesson/Item/AdminTeacher.vue
  crm/components/Lesson/Item/AllLessons.vue
  crm/components/Lesson/Item/HeadTeacherLK.vue
  crm/utils/types.d.ts
Due: build_crm, deploy_crm, deploy_backend

Responsible user filter
  back/app/Http/Controllers/Admin/ControlController.php
  back/app/Http/Controllers/Admin/RequestsController.php
  back/app/Http/Controllers/LogController.php
  back/app/Http/Controllers/Pub/AuthController.php
  crm/components/Log/Tab.vue
  crm/components/Request/Filters.vue
Due: build_crm, deploy_crm, deploy_backend

Responsible user selector
  back/app/Http/Controllers/Admin/UserController.php
  back/app/Models/User.php
  crm/components/Request/Filters.vue
  crm/components/User/ResponsibleSelector.vue
Due: build_crm, deploy_crm, deploy_backend

isClient removed
  back/app/Http/Resources/CallAppAonResource.php
  crm/assets/scss/styles.scss
  crm/components/CallApp/Dialog.vue
  crm/components/Lesson/Dialog.vue
  crm/components/Phone/DialogContent.vue
  crm/stores/useAuthStore.ts
  mob/layouts/default.vue
  mob/stores/useAuthStore.ts
Due: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

Live schedule
  back/app/Http/Resources/ClientResource.php
  back/app/Http/Resources/CurrentLessonResource.php
  back/app/Http/Resources/TeacherResource.php
  back/app/Models/Client.php
  back/app/Models/Teacher.php
  crm/assets/scss/styles.scss
  crm/components/Client/index.ts
  crm/components/Lesson/CurrentLesson.vue
  crm/components/Lesson/index.ts
  crm/components/Schedule/Schedule.vue
  crm/components/Teacher/Dialog.vue
  crm/components/Teacher/List.vue
  crm/components/Teacher/Selector.vue
  crm/components/Teacher/Stats/TeacherStatsCharts.vue
  crm/components/Teacher/index.ts
  crm/pages/admin/clients/[id].vue
  crm/pages/admin/teachers/[id].vue
  crm/utils/types.d.ts
Due: build_crm, deploy_crm, deploy_backend

Live schedule style 2
  crm/assets/scss/styles.scss
  crm/components/Lesson/CurrentLesson.vue
  crm/pages/admin/clients/[id].vue
  crm/pages/admin/teachers/[id].vue
Due: build_crm, deploy_crm

Live schedule style 3
  crm/assets/scss/styles.scss
  crm/components/Lesson/CurrentLesson.vue
  crm/pages/admin/clients/[id].vue
  crm/pages/admin/teachers/[id].vue
Due: build_crm, deploy_crm

Topic error in TopicDialog
  crm/components/Topic/Dialog.vue
Due: build_crm, deploy_crm

Update CurrentLesson.vue
  crm/components/Lesson/CurrentLesson.vue
Due: build_crm, deploy_crm

Don't count spaces in Topic length
  crm/components/Lesson/Dialog.vue
  crm/components/Topic/Dialog.vue
Due: build_crm, deploy_crm

hotfix topic
  crm/components/Lesson/Dialog.vue
  crm/components/Topic/Dialog.vue
Due: build_crm, deploy_crm

Teeth structure upd
  back/app/Utils/Teeth.php
  crm/components/Teeth/AsText.vue
  crm/components/Teeth/Bar.vue
  crm/pages/admin/contracts.vue
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_crm, deploy_crm, deploy_backend

Schedule fix
  back/app/Contracts/HasSchedule.php
  back/app/Models/ScheduleDraft.php
  back/app/Traits/HasScheduleTrait.php
  back/app/Utils/Teeth.php
  crm/components/Group/TeacherList.vue
  crm/components/Teeth/AsText.vue
Due: build_crm, deploy_crm, deploy_backend

Style upd
  crm/assets/scss/overwrites.scss
  crm/components/Lesson/Item/TeacherLK.vue
  crm/components/ScheduleDraft/Problems.vue
  mob/utils/types.d.ts
Due: build_crm, deploy_crm, build_mob, deploy_mob

Control lessons upd
  back/app/Http/Controllers/Admin/ControlController.php
  back/app/Http/Resources/ControlLessonsResource.php
  crm/components/Control/LkList.vue
  crm/components/Control/index.ts
  crm/pages/admin/control/lessons.vue
  crm/pages/admin/control/lk.vue
Due: build_crm, deploy_crm, deploy_backend

Group level => letter
  back/app/Http/Resources/GroupListResource.php
  back/app/Http/Resources/LessonListResource.php
  back/app/Models/Group.php
  back/app/Models/ScheduleDraft.php
  back/database/migrations/2025_09_16_132244_drop_level_from_groups.php
  crm/components/Group/Dialog.vue
  crm/components/Group/Link.vue
  crm/components/Group/Panel.vue
  crm/components/Group/index.ts
  crm/pages/admin/control/lessons.vue
Due: build_crm, deploy_crm, deploy_backend

Rename schedule drafts to projects
  back/app/Http/Controllers/Admin/ClientGroupController.php
  back/app/Http/Controllers/Admin/ContractController.php
  back/app/Http/Controllers/Admin/ContractVersionController.php
  back/app/Http/Controllers/Admin/ProjectController.php
  back/app/Http/Resources/GroupListResource.php
  back/app/Http/Resources/GroupResource.php
  back/app/Http/Resources/LessonListResource.php
  back/app/Http/Resources/SavedProjectResource.php
  back/app/Http/Resources/SwampListResource.php
  back/app/Models/Client.php
  back/app/Models/Group.php
  back/app/Models/Project.php
  back/database/migrations/2025_06_30_102129_create_projects_table.php
  back/database/migrations/2025_07_19_004851_rename_data_to_programs_in_projects.php
  back/database/migrations/2025_07_24_135038_drop_contract_id_from_projects.php
  back/database/migrations/2025_07_28_165816_add_contract_id_to_projects.php
  back/database/migrations/2025_07_28_165817_add_year_to_projects.php
  back/routes/admin.php
  crm/components/Client/GroupsTab.vue
  crm/components/Contract/Tab.vue
  crm/components/ContractVersion/Dialog.vue
  crm/components/Group/StudentsCount.vue
  crm/components/Group/StudentsTab.vue
  crm/components/Group/index.ts
  crm/components/Log/Filters.vue
  crm/components/Menu/AdminMenu.vue
  crm/components/Project/Editor.vue
  crm/components/Project/GroupList.vue
  crm/components/Project/Icon.vue
  crm/components/Project/List.vue
  crm/components/Project/Problems.vue
  crm/components/Project/index.ts
  crm/components/Swamp/Changes.vue
  crm/components/Swamp/index.ts
  crm/pages/admin/groups/[id].vue
  crm/pages/admin/projects/editor.vue
  crm/pages/admin/projects/index.vue
  crm/utils/types.d.ts
  mob/utils/types.d.ts
Due: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

Restore schedule draft migrations and add rename
  back/database/migrations/2025_06_30_102129_create_schedule_drafts_table.php
  back/database/migrations/2025_07_19_004851_rename_data_to_programs_in_schedule_drafts.php
  back/database/migrations/2025_07_24_135038_drop_contract_id_from_schedule_drafts.php
  back/database/migrations/2025_07_28_165816_add_contract_id_to_schedule_drafts.php
  back/database/migrations/2025_07_28_165817_add_year_to_schedule_drafts.php
  back/database/migrations/2025_08_01_000000_rename_schedule_drafts_table_to_projects.php
Due: deploy_backend

Holidays
  crm/components/Program/index.ts
  crm/components/Schedule/Schedule.vue
  crm/components/Schedule/index.ts
  crm/pages/admin/clients/[id].vue
  crm/pages/admin/groups/[id].vue
  crm/pages/client/schedule.vue
  crm/pages/teacher/clients/[id].vue
  crm/pages/teacher/groups/[id].vue
  mob/assets/scss/_lesson.scss
  mob/components/Contract/List.vue
  mob/components/Contract/index.ts
  mob/components/Program/index.ts
  mob/components/Schedule/Schedule.vue
  mob/components/Schedule/index.ts
  mob/utils/types.d.ts
Due: build_crm, deploy_crm, build_mob, deploy_mob

ScheduleDraft => Project
  back/app/Http/Controllers/Admin/ClientGroupController.php
  back/app/Http/Controllers/Admin/ContractController.php
  back/app/Http/Controllers/Admin/ContractVersionController.php
  back/app/Http/Controllers/Admin/ProjectController.php
  back/app/Http/Resources/GroupListResource.php
  back/app/Http/Resources/GroupResource.php
  back/app/Http/Resources/LessonListResource.php
  back/app/Http/Resources/SavedProjectResource.php
  back/app/Http/Resources/SwampListResource.php
  back/app/Models/Client.php
  back/app/Models/Group.php
  back/app/Models/Project.php
  back/database/migrations/2025_09_16_145449_rename_schedule_drafts_to_projects.php
  back/routes/admin.php
  crm/components/Client/GroupsTab.vue
  crm/components/Contract/Tab.vue
  crm/components/ContractVersion/Dialog.vue
  crm/components/Group/StudentsCount.vue
  crm/components/Group/StudentsTab.vue
  crm/components/Group/index.ts
  crm/components/Log/Filters.vue
  crm/components/Menu/AdminMenu.vue
  crm/components/Project/Editor.vue
  crm/components/Project/GroupList.vue
  crm/components/Project/Icon.vue
  crm/components/Project/List.vue
  crm/components/Project/Problems.vue
  crm/components/Project/SaveDialog.vue
  crm/components/Project/index.ts
  crm/components/Swamp/Changes.vue
  crm/components/Swamp/index.ts
  crm/pages/admin/contracts.vue
  crm/pages/admin/groups/[id].vue
  crm/pages/admin/projects/editor.vue
  crm/pages/admin/projects/index.vue
  crm/pages/admin/schedule-drafts/editor.vue
  crm/utils/types.d.ts
  mob/utils/types.d.ts
Due: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

Score comment required
  crm/components/Lesson/ScoresDialog.vue
  crm/components/User/ResponsibleSelector.vue
  crm/composables/useTeachers.ts
  crm/composables/useUsers.ts
Due: build_crm, deploy_crm

Project comments reworked
  back/app/Http/Controllers/Admin/ProjectController.php
  back/app/Http/Resources/ProjectResource.php
  back/app/Models/Project.php
  back/database/migrations/2025_09_17_023523_drop_comment_from_projects.php
  crm/components/Comment/Btn.vue
  crm/components/Contract/Tab.vue
  crm/components/ContractVersion/Dialog.vue
  crm/components/Project/Editor.vue
  crm/components/Project/GroupList.vue
  crm/components/Project/List.vue
  crm/components/Project/SaveDialog.vue
  crm/components/Project/index.ts
  crm/pages/admin/projects/editor.vue
  crm/pages/admin/projects/index.vue
  crm/utils/labels.ts
Due: build_crm, deploy_crm, deploy_backend

Project name
  back/app/Http/Controllers/Admin/ProjectController.php
  back/app/Http/Resources/ContractVersionListResource.php
  back/app/Http/Resources/ProjectResource.php
  back/app/Models/ContractVersion.php
  back/database/migrations/2025_09_17_134048_add_name_to_projects.php
  crm/components/ContractVersion/ListAll.vue
  crm/components/ContractVersion/index.ts
  crm/components/Project/Editor.vue
  crm/components/Project/List.vue
  crm/components/Project/NameDialog.vue
  crm/components/Project/index.ts
  crm/components/Schedule/Schedule.vue
  mob/components/Schedule/Schedule.vue
Due: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

New print option
  crm/components/ContractVersion/Dialog.vue
  crm/components/Print/index.ts
Due: build_crm, deploy_crm

Search contracts unify
  back/app/Http/Resources/SearchResultResource.php
  crm/components/ContractVersion/Dialog.vue
  crm/components/ContractVersion/Directions.vue
  crm/components/ContractVersion/Item.vue
  crm/components/ContractVersion/ListAll.vue
  crm/components/Search/Results/ContractItem.vue
  crm/components/Search/Results/RequestItem.vue
  crm/components/Search/index.ts
  crm/pages/admin/contracts.vue
Due: build_crm, deploy_crm, deploy_backend

Lint: fix all errors
  back/app/Http/Resources/SearchResultResource.php
  crm/components/CallApp/CallsList.vue
  crm/components/ContractPayment/index.ts
  crm/components/ContractVersion/Dialog.vue
  crm/components/ExamScore/Dialog.vue
  crm/components/Group/LessonCounts.vue
  crm/components/Group/TeacherList.vue
  crm/components/HeadTeacherReport/Dialog.vue
  crm/components/Lesson/CurrentLesson.vue
  crm/components/Lesson/Item/AdminClient.vue
  crm/components/Lesson/Item/AdminTeacher.vue
  crm/components/Phone/List.vue
  crm/components/Project/Icon.vue
  crm/components/Report/Dialog.vue
  crm/components/Report/Tabs.vue
  crm/components/Request/Dialog.vue
  crm/components/Schedule/Schedule.vue
  crm/components/Stats/Chart/Years.vue
  crm/components/Stats/index.ts
  crm/components/Teacher/Stats/index.ts
  crm/components/TeacherPayment/Tab.vue
  crm/components/TeacherService/Dialog.vue
  crm/components/TeacherService/Tab.vue
  crm/components/Teeth/AsText.vue
  crm/components/Test/index.ts
  crm/components/Topic/List.vue
  crm/components/WebReview/Dialog.vue
  crm/components/WebReview/List.vue
  crm/error.vue
  crm/pages/admin/search.vue
  crm/pages/admin/sms-messages.vue
  crm/pages/admin/stats.vue
  crm/pages/admin/swamps.vue
  crm/pages/client/tests/active.vue
  crm/pages/representative/tests/active.vue
  crm/pages/teacher/balance.vue
  crm/pages/teacher/groups/[id].vue
  crm/pages/teacher/head-teacher-reports.vue
  crm/pages/teacher/payments.vue
  crm/stores/useAuthStore.ts
Due: build_crm, deploy_crm, deploy_backend

Weekdays clean-up
  crm/components/Client/index.ts
  crm/components/ContractVersion/List.vue
  crm/components/Group/VisitsTab.vue
  crm/components/Schedule/Schedule.vue
  crm/pages/admin/all-lessons.vue
  crm/pages/admin/events/[id].vue
Due: build_crm, deploy_crm

Schedule: type fixes
  crm/components/AvailableYears/Selector.vue
  crm/components/Schedule/Schedule.vue
Due: build_crm, deploy_crm

Schedule: some logic clean-up
  crm/components/Schedule/Schedule.vue
  crm/pages/admin/all-lessons.vue
  mob/components/Schedule/Schedule.vue
Due: build_crm, deploy_crm, build_mob, deploy_mob

Redirect auth improved
  crm/composables/useHttp.ts
  crm/middleware/login-redirect.global.ts
  crm/stores/useAuthStore.ts
Due: build_crm, deploy_crm

Update Project.php
  back/app/Models/Project.php
Due: deploy_backend

Active clients page
  back/app/Http/Controllers/Admin/ClientController.php
  back/app/Http/Resources/ClientListResource.php
  crm/components/Client/index.ts
  crm/components/Menu/AdminMenu.vue
  crm/pages/admin/clients/active.vue
  crm/pages/client/tests/active.vue
Due: build_crm, deploy_crm, deploy_backend

formatWeekday fix
  crm/components/Group/VisitsTab.vue
  crm/components/Schedule/Schedule.vue
  crm/pages/admin/all-lessons.vue
  crm/pages/admin/events/[id].vue
  crm/utils/index.ts
  mob/components/Schedule/Schedule.vue
  mob/utils/index.ts
Due: build_crm, deploy_crm, build_mob, deploy_mob

Update BillingController.php
  back/app/Http/Controllers/Client/BillingController.php
Due: deploy_backend

Lesson violations
  back/app/Console/Commands/TeacherStatsNewCommand.php
  back/app/Http/Controllers/Admin/AllLessonsController.php
  back/app/Http/Controllers/Admin/LessonController.php
  back/app/Http/Controllers/Admin/TeacherStatsController.php
  back/app/Http/Resources/LessonListResource.php
  back/app/Http/Resources/LessonResource.php
  back/app/Models/Lesson.php
  back/app/Models/Teacher.php
  back/app/Utils/TeacherStatsNew.php
  back/app/Utils/helpers.php
  back/database/migrations/2025_10_06_121815_add_stats_new_to_teachers.php
  back/database/migrations/2025_10_06_180842_add_violation_to_lessons.php
  back/routes/admin.php
  crm/components/ClientComplaint/List.vue
  crm/components/ClientComplaint/Tab.vue
  crm/components/Lesson/Dialog.vue
  crm/components/Lesson/Item/AllLessons.vue
  crm/components/Teacher/Stats2.vue
  crm/pages/admin/all-lessons.vue
  crm/pages/admin/teachers/[id].vue
  crm/utils/types.d.ts
Due: build_crm, deploy_crm, deploy_backend

Teacher stats 2.0
  back/app/Console/Commands/TeacherStatsNewCommand.php
  back/app/Http/Controllers/Admin/AllLessonsController.php
  back/app/Http/Controllers/Admin/LessonController.php
  back/app/Http/Controllers/Admin/TeacherStatsController.php
  back/app/Http/Controllers/Admin/TeacherStatsNewController.php
  back/app/Http/Resources/BillingResource.php
  back/app/Http/Resources/LessonListResource.php
  back/app/Http/Resources/LessonResource.php
  back/app/Models/Contract.php
  back/app/Models/ContractVersion.php
  back/app/Models/Lesson.php
  back/app/Utils/TeacherStats/TeacherStatsItem.php
  back/app/Utils/TeacherStats/TeacherStatsNew.php
  back/app/Utils/TeacherStatsNew.php
  back/app/Utils/helpers.php
  back/database/migrations/2025_10_09_120305_add_is_substitute_to_lessons.php
  back/database/migrations/2025_10_09_120741_add_index_to_status_in_lessons.php
  back/routes/admin.php
  crm/assets/scss/styles.scss
  crm/components/ClientComplaint/Tab.vue
  crm/components/Lesson/Dialog.vue
  crm/components/Lesson/Item/AdminAllLessons.vue
  crm/components/Lesson/Item/AdminClient.vue
  crm/components/Lesson/Item/AdminGroup.vue
  crm/components/Lesson/Item/AdminTeacher.vue
  crm/components/Project/Editor.vue
  crm/components/Teacher/Stats/Table.vue
  crm/components/Teacher/Stats/index.ts
  crm/components/Teacher/Stats2.vue
  crm/components/Teacher/ViolationsTab.vue
  crm/components/Teeth/AsText.vue
  crm/components/Teeth/Bar.vue
  crm/components/Teeth/index.ts
  crm/components/Ui/Tabs.vue
  crm/pages/admin/all-lessons.vue
  crm/pages/admin/teachers/[id]/index.vue
  crm/pages/admin/teachers/[id]/stats.vue
  crm/pages/client/billing.vue
  crm/pages/representative/billing.vue
  crm/utils/types.d.ts
Due: build_crm, deploy_crm, deploy_backend

Stats improved
  back/app/Utils/TeacherStats/TeacherStatsNew.php
  crm/components/Teacher/Stats/Table.vue
Due: build_crm, deploy_crm, deploy_backend

Daily stats fix
  back/app/Http/Controllers/Admin/TeacherStatsNewController.php
  back/app/Utils/TeacherStats/TeacherStatsNew.php
Due: deploy_backend
