Repository maxflex/ec: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, deploy_frontend, deploy_backend

build_frontend:
  stage: build
  image: oven/bun:latest
  before_script:
  - cd crm
  - bun install
  script:
  - bun run build
  artifacts:
    paths:
    - crm/.output/

deploy_frontend:
  stage: deploy
  needs:
  - build_frontend
  before_script:
  - apt-get update -y
  - apt-get -y install rsync
  - mkdir -p ~/.ssh
  - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
  ...

deploy_backend:
  stage: deploy
  script:
  - 'ssh $REMOTE_ADDRESS << ''EOF''
  
    cd $DEPLOY_DIR/back
  
    git pull origin $BRANCH
  
    composer install --no-dev --optimize-autoloader
  
    php artisan config:cache
  
    php artisan route:cache
  
    php artisan view:cache
  
    php artisan migrate --force
  
    EOF'

Swamp upd
  back/app/Enums/SwampStatus.php
  back/app/Http/Controllers/Admin/SwampController.php
  back/app/Http/Controllers/Pub/SbpController.php
  back/app/Http/Resources/GroupListResource.php
  back/app/Http/Resources/GroupResource.php
  back/app/Http/Resources/PeopleSelectorResource.php
  back/app/Http/Resources/SwampListResource.php
  back/app/Models/Client.php
  back/app/Models/ContractVersionProgram.php
  back/app/Models/Group.php
  back/app/Models/Person.php
  back/app/Utils/Swamp.php
  back/database/migrations/2025_05_26_111814_add_status_to_contract_version_programs.php
  crm/assets/scss/overwrites.scss
  crm/assets/scss/styles.scss
  crm/components/Client/GroupsTab.vue
  crm/components/Group/LessonCounts.vue
  crm/components/Group/List.vue
  crm/components/Group/Panel.vue
  crm/components/Group/TeacherList.vue
  crm/components/Group/Teachers.vue
  crm/components/Swamp/Counts.vue
  crm/components/Swamp/Filters.vue
  crm/components/Swamp/List.vue
  crm/components/Swamp/Status.vue
  crm/components/Swamp/index.ts
  crm/pages/admin/swamps.vue
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

New groups tab in Client
  back/app/Http/Controllers/Admin/ClientGroupController.php
  back/app/Http/Controllers/Admin/GroupController.php
  back/app/Http/Controllers/TeethController.php
  back/app/Http/Resources/GroupListResource.php
  back/app/Models/ClientGroup.php
  back/app/Models/ContractVersionProgram.php
  crm/assets/scss/styles.scss
  crm/components/CallApp/Dialog.vue
  crm/components/Client/GroupsTab.vue
  crm/components/Group/List.vue
  crm/components/Group/Selector.vue
  crm/components/Swamp/Counts.vue
  crm/components/Swamp/Filters.vue
  crm/components/Swamp/List.vue
  crm/components/Swamp/Selector.vue
  crm/components/Ui/Filters.vue
  crm/components/Ui/IndexPage.vue
  crm/composables/useIndex.ts
  crm/layouts/default.vue
  crm/utils/index.ts
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Groups tab further updates: is_program_used
  back/app/Http/Controllers/Admin/GroupController.php
  back/app/Http/Resources/GroupListResource.php
  back/app/Models/Group.php
  crm/components/Client/GroupsTab.vue
  crm/components/Group/LessonCounts.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Together fixes
  back/app/Http/Controllers/Admin/ContractVersionController.php
  back/app/Http/Controllers/Admin/GroupController.php
  back/app/Http/Resources/GroupListResource.php
  back/app/Utils/Teeth.php
  back/database/migrations/2025_06_25_191847_add_unique_constraint_to_contract_version_programs.php
  crm/assets/scss/styles.scss
  crm/components/Client/GroupsTab.vue
  crm/components/Comment/Dialog.vue
  crm/components/ContractVersion/Filters.vue
  crm/components/Group/List.vue
  crm/components/Group/Panel.vue
  crm/components/Group/Teachers.vue
  crm/composables/useIndex.ts
  crm/utils/index.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

[wip] swamp editor
  back/app/Http/Controllers/Admin/GroupController.php
  back/app/Http/Resources/GroupListResource.php
  back/config/cors.php
  back/routes/pub.php
  crm/assets/scss/styles.scss
  crm/components/Client/GroupsTab.vue
  crm/components/Swamp/Editor.vue
  crm/composables/useHttp.ts
Due: build_frontend, deploy_frontend, deploy_backend

All clients searchable
  back/app/Http/Controllers/Admin/SwampController.php
  back/app/Models/Client.php
  back/app/Utils/SwampEditor.php
  back/routes/admin.php
  crm/assets/scss/styles.scss
  crm/components/Client/GroupsTab.vue
  crm/components/Contract/Tab.vue
  crm/components/Group/List.vue
  crm/components/Program/Selector.vue
  crm/components/Program/SelectorMenu.vue
  crm/components/Swamp/Editor.vue
  crm/components/Swamp/Editor/Editor.vue
  crm/components/Swamp/Editor/Groups.vue
  crm/components/Swamp/Editor/index.ts
  crm/components/Ui/NoData.vue
  crm/composables/useIndex.ts
  crm/pages/admin/clients/[id].vue
  crm/pages/admin/search.vue
  crm/pages/client/billing.vue
  crm/utils/index.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

[wip] Schedule draft
  back/app/Http/Controllers/Admin/CallController.php
  back/app/Http/Controllers/Admin/ScheduleDraftController.php
  back/app/Http/Controllers/Admin/SwampController.php
  back/app/Models/Client.php
  back/app/Models/ContractVersionProgram.php
  back/app/Models/ScheduleDraft.php
  back/app/Utils/SwampEditor.php
  back/database/migrations/2025_06_30_102129_create_schedule_drafts_table.php
  back/routes/admin.php
  crm/components/CallApp/Dialog.vue
  crm/components/CallApp/index.ts
  crm/components/Client/GroupsTab.vue
  crm/components/ContractVersion/Dialog.vue
  crm/components/Menu/Base.vue
  crm/components/ScheduleDraft/Editor.vue
  crm/components/ScheduleDraft/List.vue
  crm/components/ScheduleDraft/index.ts
  crm/pages/admin/events/[id].vue
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Call app upd
  crm/assets/scss/_callapp.scss
  crm/assets/scss/styles.scss
  crm/components/CallApp/ActiveCallsList.vue
  crm/components/CallApp/CallsList.vue
  crm/components/CallApp/Dialog.vue
  crm/components/CallApp/Download.vue
  crm/components/CallApp/Person.vue
  crm/components/Ui/Person.vue
  crm/composables/useIndex.ts
Due: build_frontend, deploy_frontend

Auth front updates
  back/app/Console/Commands/Notification/PassNotificationCommand.php
  back/app/Http/Controllers/Admin/ScheduleDraftController.php
  back/app/Http/Requests/SubmitPhoneRequest.php
  back/app/Models/ScheduleDraft.php
  crm/assets/scss/styles.scss
  crm/components/CallApp/ActiveCallsList.vue
  crm/components/Group/List.vue
  crm/components/ScheduleDraft/Editor.vue
  crm/components/ScheduleDraft/List.vue
  crm/components/ScheduleDraft/index.ts
  crm/composables/useIndex.ts
  crm/pages/login.vue
  mob/assets/scss/styles.scss
  mob/components/Page/OnlyDesktop.vue
  mob/components/TgMiniApp/Auth.client.vue
  mob/layouts/default.vue
  mob/pages/login.vue
  mob/public/img/logo-gray.svg
Due: build_frontend, deploy_frontend, deploy_backend

Schedule Draft
  back/app/Http/Controllers/Admin/ScheduleDraftController.php
  back/app/Models/ScheduleDraft.php
  back/routes/admin.php
  crm/components/ScheduleDraft/Editor.vue
  crm/components/ScheduleDraft/List.vue
  crm/components/ScheduleDraft/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

Academic year fix
  crm/composables/useIndex.ts
  crm/pages/login.vue
  crm/utils/index.ts
  mob/components/Page/MyProfile.vue
  mob/components/Page/OnlyDesktop.vue
  mob/pages/login.vue
Due: build_frontend, deploy_frontend

Schedule Draft finished
  back/app/Http/Controllers/Admin/ScheduleDraftController.php
  back/app/Http/Resources/ScheduleDraftResource.php
  back/app/Models/ScheduleDraft.php
  back/routes/admin.php
  crm/components/Client/GroupsTab.vue
  crm/components/Program/SelectorMenu.vue
  crm/components/ScheduleDraft/Editor.vue
  crm/components/ScheduleDraft/index.ts
  crm/composables/useIndex.ts
Due: build_frontend, deploy_frontend, deploy_backend

Schedule fix
  back/app/Contracts/HasTeeth.php
  back/app/Http/Controllers/Admin/ScheduleDraftController.php
  back/app/Http/Controllers/Client/LessonController.php
  back/app/Http/Controllers/TeethController.php
  back/app/Http/Resources/ClientGroupResource.php
  back/app/Http/Resources/GroupListResource.php
  back/app/Http/Resources/GroupResource.php
  back/app/Models/Client.php
  back/app/Models/Group.php
  back/app/Models/ScheduleDraft.php
  back/app/Models/Teacher.php
  back/app/Utils/Teeth.php
  crm/components/ScheduleDraft/Editor.vue
  crm/components/ScheduleDraft/List.vue
  crm/components/Teeth/Bar.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Schedule draft upd
  back/app/Models/ScheduleDraft.php
  crm/components/ScheduleDraft/List.vue
  crm/components/ScheduleDraft/index.ts
  crm/components/Swamp/List.vue
  crm/components/Teeth/AsText.vue
  crm/components/Ui/NoData.vue
Due: build_frontend, deploy_frontend, deploy_backend

Cabinet year selector
  back/app/Http/Controllers/Admin/CabinetController.php
  crm/components/Teacher/Stats/TeacherStatsCharts.vue
  crm/components/Ui/YearSelector.vue
  crm/pages/admin/cabinets.vue
Due: build_frontend, deploy_frontend, deploy_backend

Call app number clickable
  back/app/Http/Controllers/Admin/CallController.php
  back/app/Http/Resources/CallAppAonResource.php
  crm/assets/scss/_callapp.scss
  crm/components/Balance/Verification.vue
  crm/components/CallApp/ActiveCallsList.vue
  crm/components/CallApp/Aon.vue
  crm/components/CallApp/Banner.vue
  crm/components/CallApp/CallAppMain.vue
  crm/components/CallApp/CallTimer.vue
  crm/components/CallApp/CallsList.vue
  crm/components/CallApp/Dialog.vue
  crm/components/CallApp/Download.vue
  crm/components/CallApp/Person.vue
  crm/components/CallApp/Player.vue
  crm/components/CallApp/StateIcon.vue
  crm/components/CallApp/index.ts
  crm/components/Menu/AdminMenu.vue
  crm/components/Phone/Dialog.vue
  crm/components/Phone/DialogContent.vue
  crm/components/Phone/Number.vue
  crm/error.vue
  crm/pages/teacher/balance.vue
  crm/pages/teacher/payments.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

is_missed callback
  back/app/Http/Controllers/Admin/CallController.php
  back/app/Http/Resources/CallListResource.php
  back/app/Models/Call.php
  crm/components/CallApp/CallsList.vue
Due: build_frontend, deploy_frontend, deploy_backend

Call animation
  crm/assets/scss/_callapp.scss
  crm/components/CallApp/CallsList.vue
  crm/components/CallApp/Dialog.vue
Due: build_frontend, deploy_frontend

Update Call.php
  back/app/Models/Call.php
Due: deploy_backend

Call app fix
  back/app/Models/Call.php
  crm/components/Phone/DialogContent.vue
Due: build_frontend, deploy_frontend, deploy_backend

contract_version_program_id not fillable
  back/app/Models/ClientLesson.php
  back/app/Models/Lesson.php
Due: deploy_backend

SBP Receipt
  back/app/Http/Controllers/Pub/SbpController.php
  mob/pages/client/billing.vue
Due: deploy_backend

QR code fix
  crm/pages/client/billing.vue
Due: build_frontend, deploy_frontend

Contract programs jump fix
  back/app/Http/Controllers/Admin/ContractController.php
  back/app/Http/Controllers/Admin/ContractVersionController.php
  back/app/Models/Contract.php
  back/app/Models/ContractVersion.php
Due: deploy_backend

Request status
  crm/assets/scss/_typography.scss
  crm/assets/scss/index.scss
  crm/components/Request/Filters.vue
  crm/components/Ui/ClearableSelect.vue
  crm/utils/labels.ts
Due: build_frontend, deploy_frontend

Update Filters.vue
  crm/components/Request/Filters.vue
Due: build_frontend, deploy_frontend

TG auth upd
  back/app/Http/Controllers/Pub/AuthController.php
  back/app/Models/ContractVersionProgram.php
  back/app/Observers/ContractVersionProgramObserver.php
Due: deploy_backend

Phone changed message upd
  back/app/Models/TelegramMessage.php
Due: deploy_backend

Update TelegramMessage.php
  back/app/Models/TelegramMessage.php
Due: deploy_backend

Contract sun change
  back/app/Http/Resources/ContractVersionListResource.php
  back/app/Models/ContractVersion.php
  crm/assets/scss/_typography.scss
  crm/assets/scss/overwrites.scss
  crm/components/ContractVersion/List.vue
  crm/components/ContractVersion/ListAll.vue
  crm/components/ContractVersion/SumChange.vue
  crm/utils/types.d.ts
  mob/pages/client/billing.vue
Due: build_frontend, deploy_frontend, deploy_backend

Update TrustProxies.php
  back/app/Http/Middleware/TrustProxies.php
Due: deploy_backend

SumChange updated
  crm/components/Contract/Tab.vue
  crm/components/ContractPayment/List.vue
  crm/components/ContractVersion/Dialog.vue
  crm/components/ContractVersion/List.vue
  crm/components/ContractVersion/ListAll.vue
  crm/components/ContractVersion/SumChange.vue
  crm/components/Program/SelectorMenu.vue
Due: build_frontend, deploy_frontend

ClientReviews
  back/app/Http/Controllers/Admin/ClientReviewController.php
  back/app/Http/Requests/ClientReviewRequest.php
  back/app/Http/Resources/ClientReviewListResource.php
  back/app/Http/Resources/ClientReviewResource.php
  back/app/Models/ClientReview.php
  back/database/migrations/2025_07_15_183922_create_client_reviews_table.php
  back/routes/admin.php
  crm/components/ClientReview/Dialog.vue
  crm/components/ClientReview/Filters.vue
  crm/components/ClientReview/List.vue
  crm/components/ClientReview/Tab.vue
  crm/components/ClientReview/index.ts
  crm/components/Menu/AdminMenu.vue
  crm/pages/admin/client-reviews.vue
  crm/pages/admin/clients/[id].vue
  crm/pages/admin/teachers/[id].vue
Due: build_frontend, deploy_frontend, deploy_backend

Filters clear
  back/app/Http/Controllers/Admin/ContractController.php
  back/app/Http/Controllers/Admin/ScheduleDraftController.php
  back/app/Models/ScheduleDraft.php
  crm/components/Contract/Tab.vue
  crm/components/ScheduleDraft/Editor.vue
  crm/components/ScheduleDraft/index.ts
  crm/pages/admin/schedule-drafts/editor.vue
  crm/utils/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

Update SwampController.php
  back/app/Http/Controllers/Admin/SwampController.php
Due: deploy_backend

Update Counts.vue
  crm/components/Swamp/Counts.vue
Due: build_frontend, deploy_frontend

WIP
  back/app/Http/Controllers/Admin/ScheduleDraftController.php
  back/app/Models/ScheduleDraft.php
  back/database/migrations/2025_07_16_165816_add_contract_id_to_schedule_drafts.php
  crm/assets/scss/_typography.scss
  crm/components/ScheduleDraft/Editor.vue
  crm/components/ScheduleDraft/List.vue
  crm/components/ScheduleDraft/index.ts
Due: build_frontend, deploy_frontend, deploy_backend

Control lessons
  back/app/Enums/ClientLessonStatus.php
  back/app/Http/Controllers/Admin/ClientsBrowseController.php
  back/app/Http/Controllers/Admin/ControlController.php
  back/app/Http/Resources/ControlLkResource.php
  back/routes/admin.php
  crm/components/Client/index.ts
  crm/components/Control/LkList.vue
  crm/components/Control/index.ts
  crm/components/Menu/AdminMenu.vue
  crm/pages/admin/control/grades.vue
  crm/pages/admin/control/lessons.vue
  crm/pages/admin/control/lk.vue
  crm/utils/types.d.ts
Due: build_frontend, deploy_frontend, deploy_backend

Control grades page
  back/app/Http/Controllers/Admin/ControlController.php
  back/app/Http/Resources/ControlGradesResource.php
  crm/pages/admin/control/grades.vue
  crm/pages/admin/control/lessons.vue
Due: build_frontend, deploy_frontend, deploy_backend

Path conditions:
  build_frontend: any of: crm/**/*
  deploy_frontend: any of: crm/**/*
  deploy_backend: any of: back/**/*
