Repository maxflex/ec: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

.gitlab-ci.yml:

stages:
  - build
  - deploy

variables:
  BRANCH: main
  REMOTE_ADDRESS: 104.248.88.1
  DEPLOY_DIR: /var/www/ec

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == $BRANCH

before_script:
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H $REMOTE_ADDRESS >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts


### 🏗 BUILD CRM (Nuxt 3) ###
build_crm:
  stage: build
  image: oven/bun:latest  # ✅ Use Bun's official image
  only:
    changes:
      - crm/**/*
  before_script:
    - cd crm
    - bun install
  script:
    - bun run build
  artifacts:
    paths:
      - crm/.output/


### 🚀 DEPLOY CRM ###
deploy_crm:
  stage: deploy
  only:
    changes:
      - crm/**/*
  needs:
    - build_crm  # ✅ Ensure build finishes before deploying
  before_script:
    - apt-get update -y
    - apt-get -y install rsync
    - mkdir -p ~/.ssh
    - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - rsync -a --delete crm/.output root@$REMOTE_ADDRESS:$DEPLOY_DIR/crm
    - ssh root@$REMOTE_ADDRESS "cd $DEPLOY_DIR/crm && /root/.nvm/versions/node/v20.11.1/bin/pm2 start ecosystem.config.js"

### 🏗 BUILD MOB (Nuxt 3) ###
build_mob:
  stage: build
  image: oven/bun:latest  # ✅ Use Bun's official image
  only:
    changes:
      - mob/**/*
  before_script:
    - cd mob
    # - cp -r ../crm/utils ./utils
    - bun install
  script:
    - bun run build
  artifacts:
    paths:
      - mob/.output/


### 🚀 DEPLOY MOB ###
deploy_mob:
  stage: deploy
  only:
    changes:
      - mob/**/*
  needs:
    - build_mob  # ✅ Ensure build finishes before deploying
  before_script:
    - apt-get update -y
    - apt-get -y install rsync
    - mkdir -p ~/.ssh
    - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - rsync -a --delete mob/.output root@$REMOTE_ADDRESS:$DEPLOY_DIR/mob
    - ssh root@$REMOTE_ADDRESS "cd $DEPLOY_DIR/mob && /root/.nvm/versions/node/v20.11.1/bin/pm2 start ecosystem.config.js"


### 🚀 DEPLOY BACKEND (Laravel) ###
deploy_backend:
  stage: deploy
  only:
    changes:
      - back/**/*
  script:
    - ssh root@$REMOTE_ADDRESS "cd $DEPLOY_DIR/back && git pull origin $BRANCH && composer install --no-dev --optimize-autoloader && php artisan config:cache && php artisan route:cache && php artisan view:cache && php artisan migrate --force && php artisan horizon:terminate"

Stats 1.0 removed
  back/app/Utils/TeacherStats/TeacherStatsNew.php
  crm/components/Teacher/Stats/Table.vue
  crm/components/Teacher/Stats/index.ts
  crm/pages/admin/teachers/[id]/index.vue
Due: build_crm, deploy_crm, deploy_backend

Client complaints user_id fix
  back/app/Http/Controllers/Admin/ClientComplaintController.php
  back/app/Models/User.php
  crm/pages/teacher/groups/[id].vue
Due: build_crm, deploy_crm, deploy_backend

Visual fixes
  crm/assets/scss/styles.scss
  crm/components/Teacher/List.vue
Due: build_crm, deploy_crm

SBP enabled
  back/app/Enums/Program.php
  back/app/Http/Resources/BillingResource.php
  crm/pages/client/billing.vue
  crm/pages/representative/billing.vue
  crm/utils/types.d.ts
  mob/pages/client/billing.vue
  mob/pages/representative/billing.vue
  mob/utils/types.d.ts
Due: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

Teacher stats inside tab
  crm/assets/scss/styles.scss
  crm/components/Teacher/Stats/Tab.vue
  crm/components/Teacher/Stats/Table.vue
  crm/pages/admin/teachers/[id].vue
Due: build_crm, deploy_crm

ClientComplaint => Complaint
  back/app/Http/Controllers/Admin/ClientComplaintController.php
  back/app/Http/Controllers/Admin/ComplaintController.php
  back/app/Http/Requests/ComplaintRequest.php
  back/app/Http/Resources/ComplaintListResource.php
  back/app/Http/Resources/ComplaintResource.php
  back/app/Models/Complaint.php
  back/app/Models/Teacher.php
  back/app/Models/User.php
  back/database/migrations/2025_10_10_150855_rename_client_complaints_to_complaints.php
  back/routes/admin.php
  crm/components/ClientComplaint/List.vue
  crm/components/Complaint/Dialog.vue
  crm/components/Complaint/Filters.vue
  crm/components/Complaint/List.vue
  crm/components/Complaint/Tab.vue
  crm/components/Complaint/index.ts
  crm/components/Menu/AdminMenu.vue
  crm/pages/admin/client-complaints.vue
  crm/pages/admin/clients/[id].vue
  crm/pages/admin/complaints.vue
  crm/pages/admin/teachers/[id].vue
  crm/utils/labels.ts
Due: build_crm, deploy_crm, deploy_backend

Drop is_private from events
  back/app/Http/Controllers/EventController.php
  back/app/Http/Resources/EventListResource.php
  back/app/Models/Event.php
  back/database/migrations/2025_10_10_152427_drop_is_private_from_events.php
  crm/components/Event/Dialog.vue
  crm/components/Event/List.vue
  crm/components/Event/index.ts
  crm/pages/admin/events/[id].vue
Due: build_crm, deploy_crm, deploy_backend

Stats upd
  back/app/Http/Controllers/Admin/ContractBalanceController.php
  back/app/Http/Resources/ContractBalanceResource.php
  crm/assets/scss/overwrites.scss
  crm/components/ContractPayment/List.vue
  crm/components/Lesson/Item/AdminAllLessons.vue
  crm/components/Lesson/Item/AdminClient.vue
  crm/components/Lesson/Item/AdminGroup.vue
  crm/components/Lesson/Item/AdminTeacher.vue
  crm/components/Lesson/Item/ClientLK.vue
  crm/components/Lesson/Item/HeadTeacherLK.vue
  crm/components/Lesson/Item/TeacherLK.vue
  crm/components/Teacher/Stats/Table.vue
  crm/components/Teacher/Stats/index.ts
  crm/components/TeacherPayment/List.vue
  crm/components/Ui/PaymentConfirm.vue
  crm/pages/admin/all-payments.vue
  crm/pages/admin/contract-balances.vue
Due: build_crm, deploy_crm, deploy_backend

Contract Balances comments cnt fix
  back/app/Http/Controllers/Admin/ContractBalanceController.php
  back/app/Http/Resources/ContractBalanceResource.php
  back/app/Models/Contract.php
  crm/pages/admin/contract-balances.vue
Due: build_crm, deploy_crm, deploy_backend

Stats 2 upd
  back/app/Utils/TeacherStats/TeacherStatsItem.php
  back/app/Utils/TeacherStats/TeacherStatsNew.php
  crm/components/ClientTest/List.vue
  crm/components/Group/LessonCounts.vue
  crm/components/Group/List.vue
  crm/components/Teacher/Stats/Table.vue
  crm/components/Teacher/Stats/TeacherStatsCharts.vue
  crm/components/Teacher/Stats/index.ts
Due: build_crm, deploy_crm, deploy_backend

Update List.vue
  crm/components/ClientTest/List.vue
Due: build_crm, deploy_crm

Update index.ts
  crm/components/Teacher/Stats/index.ts
Due: build_crm, deploy_crm

SBP online method
  back/app/Console/Commands/UpdateEnumsCommand.php
  back/app/Enums/ContractPaymentMethod.php
  back/app/Utils/TeacherStats/TeacherStatsItem.php
  back/app/Utils/TeacherStats/TeacherStatsNew.php
  crm/components/Teacher/Stats/index.ts
  crm/utils/labels.ts
Due: build_crm, deploy_crm, deploy_backend

SBP fix
  back/app/Enums/ContractPaymentMethod.php
  back/app/Http/Controllers/Pub/SbpController.php
  mob/pages/client/billing.vue
  mob/pages/representative/billing.vue
Due: build_mob, deploy_mob, deploy_backend

New program: ORG HOUR
  back/app/Console/Commands/AddNewProgramCommand.php
  back/app/Enums/Program.php
  crm/utils/labels.ts
  mob/utils/labels.ts
Due: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

Client test view
  back/app/Http/Resources/ClientTestResource.php
  crm/components/ClientTest/List.vue
  crm/components/Teacher/Stats/Tab.vue
  crm/components/Teacher/Stats/index.ts
  crm/pages/admin/tests/[id].vue
Due: build_crm, deploy_crm, deploy_backend

Client review user_id & Complaint year
  back/app/Http/Controllers/Admin/ClientReviewController.php
  back/app/Http/Controllers/Admin/ComplaintController.php
  back/app/Http/Resources/ClientResource.php
  back/app/Http/Resources/ComplaintResource.php
  back/app/Models/Client.php
  back/app/Models/Complaint.php
  back/app/Models/User.php
  back/database/migrations/2025_10_14_133828_add_is_consultation_agree_to_clients.php
  back/database/migrations/2025_10_14_134131_add_year_to_complaints.php
  back/database/migrations/2025_10_14_134949_add_user_id_to_client_reviews.php
  crm/components/Client/Dialog.vue
  crm/components/Client/index.ts
  crm/components/Complaint/Dialog.vue
  crm/components/Complaint/Tab.vue
  crm/components/Complaint/index.ts
  crm/pages/admin/complaints.vue
  crm/utils/index.ts
Due: build_crm, deploy_crm, deploy_backend

Old teacher stats clean-up
  back/app/Console/Commands/TeacherStatsCommand.php
  back/app/Console/Kernel.php
  back/app/Http/Controllers/Admin/TeacherController.php
  back/app/Http/Controllers/Admin/TeacherStatsController.php
  back/app/Models/Teacher.php
  back/app/Utils/TeacherStats.php
  back/app/Utils/TeacherStats/TeacherStats.php
  back/database/migrations/2025_10_14_141043_drop_stats_from_teachers.php
  back/routes/admin.php
  crm/components/Teacher/Stats/Tab.vue
  crm/components/Teacher/Stats/index.ts
Due: build_crm, deploy_crm, deploy_backend

orgHour removed
  back/app/Enums/Program.php
  crm/utils/labels.ts
  mob/utils/labels.ts
Due: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

Head teacher clients canLogin
  back/app/Http/Controllers/Admin/ClientController.php
  back/resources/views/templates/payment-reminder.blade.php
  crm/components/HeadTeacher/ClientsTab.vue
  crm/pages/admin/clients/[id].vue
  crm/pages/admin/teachers/[id].vue
Due: build_crm, deploy_crm, deploy_backend

Simplify report requirements logic
  back/app/Models/Report.php
Due: deploy_backend

Report logic updated
  back/app/Enums/Program.php
  back/app/Http/Controllers/Admin/ReportController.php
  back/app/Http/Resources/ReportListResource.php
  back/app/Models/Report.php
  crm/assets/scss/_report.scss
  crm/components/Report/Dialog.vue
  crm/components/Report/Filters.vue
  crm/components/Report/List/ForAdmins.vue
  crm/components/Report/List/ForHeadTeachers.vue
  crm/components/Report/List/ForTeachers.vue
  crm/components/Report/Requirement.vue
  crm/components/Report/Tab.vue
  crm/components/Report/Tabs.vue
  crm/pages/teacher/reports/index.vue
  crm/utils/labels.ts
  crm/utils/types.d.ts
Due: build_crm, deploy_crm, deploy_backend

ANO new company type
  back/app/Console/Commands/Once/UpdateProgramsCommand.php
  back/app/Console/Commands/UpdateEnumsCommand.php
  back/app/Console/Commands/UpdateProgramsCommand.php
  back/app/Enums/Company.php
  back/app/Models/Macro.php
  back/database/migrations/2025_10_15_175346_add_text_ano_to_macros.php
  crm/utils/labels.ts
  mob/utils/labels.ts
Due: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

Report delivery removed
  back/app/Console/Commands/Once/SetReportDeliveryCommand.php
  back/app/Enums/ReportDelivery.php
  back/app/Enums/TelegramTemplate.php
  back/app/Http/Controllers/Client/ReportController.php
  back/app/Http/Resources/ControlLkResource.php
  back/app/Http/Resources/ReportListResource.php
  back/app/Http/Resources/ReportResource.php
  back/app/Models/Report.php
  back/app/Observers/ReportObserver.php
  back/app/Utils/Phone.php
  back/app/Utils/Stats/Metrics/ReportMetric.php
  back/database/migrations/2025_10_16_112731_add_is_read_to_reports.php
  back/resources/views/templates/report-read.blade.php
  crm/assets/scss/styles.scss
  crm/components/Report/List/ForAdmins.vue
  crm/components/Report/Tabs.vue
  crm/components/Stats/Metrics/ReportMetric.vue
  crm/pages/admin/macros/[id].vue
  crm/utils/labels.ts
  crm/utils/types.d.ts
  mob/components/App/Header/menu.ts
  mob/components/Client/index.ts
  mob/components/Page/MyProfile.vue
  mob/components/Report/View.vue
  mob/pages/admin/index.vue
  mob/pages/client/reports/[id].vue
  mob/pages/representative/reports/[id].vue
  mob/utils/labels.ts
  mob/utils/types.d.ts
Due: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

Small changes
  back/app/Enums/TelegramTemplate.php
  back/app/Http/Controllers/Admin/ReportController.php
  back/config/telegram.php
  back/resources/views/templates/report-published.blade.php
  crm/components/Report/Dialog.vue
  crm/components/Report/Tabs.vue
  mob/error.vue
Due: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

TG Mini App fix
  mob/assets/scss/_tg-mini-app.scss
  mob/assets/scss/index.scss
  mob/assets/scss/styles.scss
  mob/components/Page/MyProfile.vue
  mob/components/Page/OnlyDesktop.vue
  mob/composables/useHttp.ts
  mob/layouts/default.vue
  mob/middleware/01.login-redirect.global.ts
  mob/middleware/02.tg-start-param.global.ts
  mob/middleware/history.global.ts
  mob/nuxt.config.ts
  mob/pages/login.vue
  mob/plugins/tg-mini-app.client.ts
Due: build_mob, deploy_mob

is_risk filter
  back/app/Http/Controllers/Admin/ClientController.php
  crm/pages/admin/clients/active.vue
Due: build_crm, deploy_crm, deploy_backend

Events reworked
  back/app/Console/Commands/SendTelegramMessages.php
  back/app/Http/Controllers/Admin/EventController.php
  back/app/Http/Controllers/Client/EventController.php
  back/app/Http/Controllers/Representative/EventController.php
  back/app/Http/Resources/TelegramListResource.php
  back/app/Models/TelegramList.php
  back/app/Models/TelegramMessage.php
  back/database/migrations/2025_10_17_124630_drop_is_confirmable_from_telegram_lists.php
  back/resources/views/templates/report-published.blade.php
  back/routes/admin.php
  back/routes/client.php
  back/routes/representative.php
  back/routes/teacher.php
  crm/components/Event/Header.vue
  crm/components/Event/ListForLk.vue
  crm/components/TelegramMessage/Form.vue
  crm/pages/admin/events/[id].vue
  crm/pages/admin/events/index.vue
  crm/pages/admin/people-selector/send.vue
  crm/pages/client/events/[id].vue
  crm/pages/client/events/index.vue
  crm/pages/representative/events/[id].vue
  crm/pages/representative/events/index.vue
  crm/utils/labels.ts
  crm/utils/types.d.ts
  mob/components/Event/Item.vue
  mob/components/Event/List.vue
  mob/components/Event/index.ts
  mob/middleware/02.tg-start-param.global.ts
  mob/pages/client/events/[id].vue
  mob/pages/client/events/index.vue
  mob/pages/representative/events/[id].vue
  mob/pages/representative/events/index.vue
  mob/utils/labels.ts
Due: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

Comment tabs
  back/app/Http/Controllers/Admin/CommentController.php
  crm/assets/scss/_comments.scss
  crm/components/Comment/Btn.vue
  crm/components/Comment/Dialog.vue
  crm/components/Comment/Tabs.vue
  crm/components/Comment/index.ts
  crm/pages/admin/contract-balances.vue
Due: build_crm, deploy_crm, deploy_backend

ANO
  crm/components/Billing/Page.vue
  crm/components/Billing/index.ts
  crm/pages/client/billing.vue
  crm/pages/representative/billing.vue
  mob/components/Billing/Page.vue
  mob/components/Billing/Sbp.vue
  mob/pages/client/billing.vue
  mob/pages/representative/billing.vue
Due: build_crm, deploy_crm, build_mob, deploy_mob

Print ANO backend fix
  back/app/Enums/Company.php
  back/app/Http/Controllers/Admin/PrintController.php
  crm/pages/teacher/reports/index.vue
Due: build_crm, deploy_crm, deploy_backend

ZOOM in client lk
  back/app/Http/Controllers/Representative/BillingController.php
  crm/components/Lesson/Item/ClientLK.vue
  crm/stores/useAuthStore.ts
Due: build_crm, deploy_crm, deploy_backend

Pass simple search
  back/app/Http/Controllers/Admin/PassController.php
  crm/components/Pass/Filters.vue
Due: build_crm, deploy_crm, deploy_backend

EventParticipant is_visited
  back/app/Events/ParticipantConfirmationEvent.php
  back/app/Http/Controllers/Pub/TelegramBotController.php
  back/app/Http/Resources/EventResource.php
  back/app/Http/Resources/EventWithParticipantsResource.php
  back/app/Models/EventParticipant.php
  back/database/migrations/2025_10_20_171943_add_is_visited_to_event_participants.php
  crm/components/Event/index.ts
  crm/pages/admin/events/[id].vue
  crm/utils/types.d.ts
Due: build_crm, deploy_crm, deploy_backend

Update Lesson.vue
  mob/components/Schedule/Row/Lesson.vue
Due: build_mob, deploy_mob

Update index.vue
  crm/pages/teacher/reports/index.vue
Due: build_crm, deploy_crm

Lessons calendar
  back/app/Http/Resources/LogResource.php
  crm/assets/scss/_calendar.scss
  crm/components/Calendar/Dialog.vue
  crm/components/Lesson/BulkCreateDialog.vue
  crm/components/Lesson/Item/ClientLK.vue
  crm/components/Log/List.vue
  crm/components/Schedule/Calendar.vue
  crm/components/Schedule/Schedule.vue
  crm/pages/admin/clients/[id].vue
  crm/pages/admin/groups/[id].vue
  crm/plugins/vuetify.ts
  crm/public/img/zoom.png
  crm/utils/types.d.ts
Due: build_crm, deploy_crm, deploy_backend

Corpus load
  back/app/Console/Commands/Once/CorpusLoadCommand.php
  crm/components/Schedule/Schedule.vue
Due: build_crm, deploy_crm, deploy_backend

[together] Payment confirmation refactor
  back/.env.example
  back/.gitignore
  back/app/Http/Controllers/Admin/ReportController.php
  back/app/Models/Contract.php
  back/app/Models/Report.php
  back/app/Models/Teacher.php
  back/app/Utils/Balance/Balance.php
  back/app/Utils/Balance/BalanceItem.php
  back/app/Utils/ChatGPT.php
  back/app/Utils/TeacherBalance.php
  back/composer.json
  back/composer.lock
  back/config/openai.php
  back/database/migrations/2025_10_23_162755_add_ai_text_to_reports.php
  back/routes/admin.php
  crm/components/Balance/Balance.vue
  crm/pages/teacher/balance.vue
  crm/utils/types.d.ts
Due: build_crm, deploy_crm, deploy_backend

AI Works
  crm/components/HeadTeacherReport/List.vue
  crm/components/Report/Dialog.vue
  crm/components/Report/HeadTeacherTab.vue
  crm/components/Report/Tabs.vue
  crm/components/Report/View.vue
  crm/components/Report/index.ts
  crm/utils/types.d.ts
Due: build_crm, deploy_crm
