Repository maxflex/ec: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_crm, deploy_crm, build_mob, deploy_mob, deploy_backend

build_crm:
  stage: build
  image: oven/bun:latest
  before_script:
  - cd crm
  - bun install
  script:
  - bun run build
  artifacts:
    paths:
    - crm/.output/

deploy_crm:
  stage: deploy
  needs:
  - build_crm
  before_script:
  - apt-get update -y
  - apt-get -y install rsync
  - mkdir -p ~/.ssh
  - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
  ...

build_mob:
  stage: build
  image: oven/bun:latest
  before_script:
  - cd mob
  - bun install
  script:
  - bun run build
  artifacts:
    paths:
    - mob/.output/

deploy_mob:
  stage: deploy
  needs:
  - build_mob
  before_script:
  - apt-get update -y
  - apt-get -y install rsync
  - mkdir -p ~/.ssh
  - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
  ...

deploy_backend:
  stage: deploy
  script:
  - ssh root@$REMOTE_ADDRESS "cd $DEPLOY_DIR/back && git pull origin $BRANCH && composer install --no-dev --optimize-autoloader && php artisan config:cache && php artisan route:cache && php artisan view:cache && php artisan migrate --force && php artisan horizon:terminate"

Update Player.vue
  crm/components/Call/Player.vue
Due: build_crm, deploy_crm

Update Call.php
  back/app/Models/Call.php
Due: deploy_backend

Audio file locally
  back/app/Models/Call.php
  crm/components/Call/Player.vue
Due: build_crm, deploy_crm, deploy_backend

Call duration filter
  back/app/Enums/CallerType.php
  back/app/Http/Controllers/Admin/CallController.php
  crm/components/Call/Filters.vue
  crm/components/Call/List.vue
  crm/components/Call/index.ts
  crm/pages/admin/calls/index.vue
Due: build_crm, deploy_crm, deploy_backend

Update List.vue
  crm/components/Call/List.vue
Due: build_crm, deploy_crm

Update CallAnalysisService.php
  back/app/Utils/AI/CallAnalysisService.php
Due: deploy_backend

activeClient
  back/app/Enums/CallerType.php
  crm/components/Call/List.vue
  crm/components/Call/index.ts
Due: build_crm, deploy_crm, deploy_backend

Update index.ts
  crm/components/Call/index.ts
Due: build_crm, deploy_crm

New CallerType value
  back/app/Enums/CallerType.php
  crm/components/Call/index.ts
Due: build_crm, deploy_crm, deploy_backend

Attach original audio to call analysis prompt
  back/app/Utils/AI/CallAnalysisService.php
Due: deploy_backend

Analysis 2
  back/app/Http/Controllers/Admin/CallController.php
  back/app/Http/Resources/CallResource.php
  back/app/Utils/AI/CallAnalysisService.php
  back/database/migrations/2026_04_06_120000_rename_call_analysis_to_analysis_1_add_analysis_2.php
  crm/pages/admin/calls/[id]/index.vue
Due: build_crm, deploy_crm, deploy_backend

phones
  back/app/Utils/AI/CallAnalysisService.php
  back/app/Utils/AI/CallTranscriptionService.php
Due: deploy_backend

Add instruction timestamps to calls and backfill existing records
  back/app/Utils/AI/CallAnalysisService.php
  back/app/Utils/AI/CallTranscriptionService.php
  back/database/migrations/2026_04_06_130000_fill_calls_instruction_created_at_from_ai_prompts.php
  crm/pages/admin/calls/[id]/index.vue
Due: build_crm, deploy_crm, deploy_backend

Call list visual upd
  crm/components/Call/List.vue
  crm/components/Call/Person.vue
  crm/components/Ui/Person.vue
Due: build_crm, deploy_crm

Optimize calls list query and eager load AON relation
  back/app/Http/Controllers/Admin/CallController.php
  back/app/Http/Resources/CallListResource.php
  back/app/Models/Call.php
  crm/components/Call/List.vue
  crm/components/Call/index.ts
Due: build_crm, deploy_crm, deploy_backend

Refactor call prompt phone builder and support SSE channel query
  back/app/Utils/AI/CallAnalysisService.php
  back/app/Utils/AI/CallPromptPhonesBuilder.php
  back/app/Utils/AI/CallTranscriptionService.php
  crm/server/api/sse.ts
Due: build_crm, deploy_crm, deploy_backend

Enable live comment autosuggest updates via call summary SSE
  back/app/Events/CallSummaryUpdatedEvent.php
  back/app/Http/Controllers/Admin/CommentController.php
  back/app/Observers/CallObserver.php
  crm/components/Comment/Dialog.vue
  crm/utils/types.d.ts
Due: build_crm, deploy_crm, deploy_backend

Smooth auto-suggest button state change in comment dialog
  crm/components/Comment/Dialog.vue
Due: build_crm, deploy_crm

Update ReceiptData.php
  back/app/Utils/Receipt/ReceiptData.php
Due: deploy_backend

Filter directions by current academic year in message lists
  crm/pages/admin/events/[id]/participants.vue
  crm/pages/admin/group-message/index.vue
Due: build_crm, deploy_crm

Enable multi-select call duration and caller type filters
  back/app/Http/Controllers/Admin/CallController.php
  crm/components/Call/Filters.vue
  crm/pages/admin/calls/index.vue
Due: build_crm, deploy_crm, deploy_backend

Replace filter helpers with usePersistentFilters across CRM
  crm/composables/useIndex.ts
  crm/composables/usePersistentFilters.ts
  crm/pages/admin/all-lessons.vue
  crm/pages/admin/all-payments.vue
  crm/pages/admin/calls/index.vue
  crm/pages/admin/client-tests.vue
  crm/pages/admin/clients/active.vue
  crm/pages/admin/contract-balances.vue
  crm/pages/admin/contracts.vue
  crm/pages/admin/control/grades.vue
  crm/pages/admin/groups/index.vue
  crm/pages/admin/head-teacher-reports.vue
  crm/pages/admin/logs.vue
  crm/pages/admin/passes/index.vue
  crm/pages/admin/passes/stats.vue
  crm/pages/admin/reports/index.vue
  crm/pages/admin/requests/index.vue
  crm/pages/admin/swamps.vue
  crm/pages/admin/teacher-acts.vue
  crm/pages/admin/teacher-balances.vue
  crm/pages/admin/teacher-complaints.vue
  crm/pages/admin/teacher-contracts.vue
  crm/pages/admin/teacher-payments.vue
  crm/pages/admin/teacher-services.vue
  crm/pages/admin/teachers/index.vue
  crm/pages/admin/telegram-lists/index.vue
  crm/pages/admin/telegram-messages.vue
  crm/pages/admin/topics.vue
  crm/pages/admin/users.vue
  crm/pages/admin/web-reviews.vue
  crm/pages/teacher/head-teacher-reports.vue
  crm/utils/index.ts
Due: build_crm, deploy_crm

Include recent used passes in call AI prompt context
  back/app/Utils/AI/CallAnalysisService.php
  back/app/Utils/AI/CallPromptPhonesBuilder.php
  back/app/Utils/AI/CallTranscriptionService.php
Due: deploy_backend

Fix CarbonImmutable import in call prompt passes builder
  back/app/Utils/AI/CallPromptPhonesBuilder.php
Due: deploy_backend

Very short
  back/app/Http/Controllers/Admin/CallController.php
  crm/components/Call/Filters.vue
Due: build_crm, deploy_crm, deploy_backend

Create CallAnalysisJob.php
  back/app/Jobs/CallAnalysisJob.php
Due: deploy_backend

Update CallController.php
  back/app/Http/Controllers/Admin/CallController.php
Due: deploy_backend

Update report requirement periods and school lesson counting
  back/app/Models/Report.php
Due: deploy_backend

Add call type and duration filters to stats calls metric
  back/app/Utils/Stats/Metrics/CallMetric.php
  crm/components/Call/Filters.vue
  crm/components/Call/index.ts
  crm/components/Stats/Metrics/CallMetric.vue
  crm/components/Ui/MultipleSelect.vue
Due: build_crm, deploy_crm, deploy_backend

Add command to fill missing Mango recording IDs
  back/app/Console/Commands/Once/FillMissingMangoRecordingsCommand.php
Due: deploy_backend

Add once command to download call recordings to storage
  back/app/Console/Commands/Once/DownloadCallRecordingsToStorageCommand.php
Due: deploy_backend

Migrate call recordings to S3-backed has_recording flow
  back/app/Console/Commands/Once/DownloadCallRecordingsToStorageCommand.php
  back/app/Console/Commands/Once/FillMissingMangoRecordingsCommand.php
  back/app/Http/Controllers/Admin/CallController.php
  back/app/Jobs/CallAnalysisJob.php
  back/app/Jobs/ProcessCallRecordingJob.php
  back/app/Jobs/SyncCallRecordingToStorageJob.php
  back/app/Models/Call.php
  back/app/Observers/CallObserver.php
  back/app/Utils/AI/CallAnalysisService.php
  back/app/Utils/AI/CallTranscriptionService.php
  back/app/Utils/Mango.php
  back/database/migrations/2024_08_21_163615_create_calls_table.php
  back/database/migrations/2026_02_16_190000_add_transcription_to_calls_table.php
  back/database/migrations/2026_04_16_090000_replace_recording_with_has_recording_in_calls_table.php
Due: deploy_backend

Expose recording URL in call payload and remove recording route
  back/app/Http/Controllers/Admin/CallController.php
  back/app/Http/Resources/CallListResource.php
  back/app/Http/Resources/CallResource.php
  back/app/Models/Call.php
  back/routes/admin.php
  crm/components/Call/List.vue
  crm/components/Call/Player.vue
  crm/components/Call/index.ts
  crm/pages/admin/calls/[id]/index.vue
Due: build_crm, deploy_crm, deploy_backend

Split call processing jobs and tighten recording sync retries
  AGENTS.md
  back/AGENTS.md
  back/app/Jobs/CallAnalysisJob.php
  back/app/Jobs/CallTranscriptionJob.php
  back/app/Jobs/SyncCallRecordingToStorageJob.php
  back/app/Observers/CallObserver.php
  back/app/Utils/Mango.php
Due: deploy_backend

Refactor call AI pipeline eligibility and reuse cached audio files
  back/app/Jobs/CallTranscriptionJob.php
  back/app/Models/Call.php
  back/app/Observers/CallObserver.php
  back/app/Utils/AI/CallAnalysisService.php
  back/app/Utils/AI/CallAudioFileCacheService.php
  back/app/Utils/AI/CallTranscriptionService.php
  back/app/Utils/CallCommentSuggest.php
Due: deploy_backend

Simplify call audio cache and fix Gemini file metadata lookup
  back/app/Models/Call.php
  back/app/Utils/AI/CallAudioFileCacheService.php
Due: deploy_backend

Rename call recording job and warm up Gemini file cache
  back/app/Jobs/CallSaveRecordingJob.php
  back/app/Utils/AI/CallAudioFileCacheService.php
  back/app/Utils/Mango.php
Due: deploy_backend

calls/analysis page
  back/app/Http/Controllers/Admin/CallController.php
  back/app/Models/Call.php
  back/routes/admin.php
  crm/pages/admin/calls/[id]/index.vue
  crm/pages/admin/calls/analysis.vue
Due: build_crm, deploy_crm, deploy_backend

Add mono/stereo call transcription prompt selection by call date
  back/app/Http/Controllers/Admin/AiPromptController.php
  back/app/Models/AiPrompt.php
  back/app/Utils/AI/CallTranscriptionService.php
  back/database/migrations/2026_04_06_130000_fill_calls_instruction_created_at_from_ai_prompts.php
  crm/components/Log/index.ts
  crm/pages/admin/ai-prompts/index.vue
Due: build_crm, deploy_crm, deploy_backend

Path conditions:
  build_crm: any of: crm/**/*
  deploy_crm: any of: crm/**/*
  build_mob: any of: mob/**/*
  deploy_mob: any of: mob/**/*
  deploy_backend: any of: back/**/*
